@import "../fonts.css";
@import "../vars.css";

svg { fill: var(--grey); }

.dp-po-Icon.Icon--white svg { fill: #fff; }

.dp-po-Icon.Icon--primary svg { fill: #3a8dde; }
.dp-po-Icon.Icon--primary-light svg { fill: #e9f7ff; }

.dp-po-Icon.Icon--grey-darkest svg { fill: #4c4f50; }
.dp-po-Icon.Icon--grey-dark svg { fill: #8b9293; }
.dp-po-Icon.Icon--grey svg { fill: #a9b0b0; }
.dp-po-Icon.Icon--grey-light svg { fill: #d3d6d7; }
.dp-po-Icon.Icon--grey-lighter svg { fill: #eff0f0; }
.dp-po-Icon.Icon--grey-lightest svg { fill: #f7f7f7; }

.dp-po-Icon.Icon--danger svg { fill: #e84954; }
.dp-po-Icon.Icon--warning svg { fill: #ec6c4e; }
.dp-po-Icon.Icon--success svg { fill: #54b162; }
.dp-po-Icon.Icon--neutral svg { fill: #f8af3c; }
.dp-po-Icon.Icon--info svg { fill: #4b93cf; }
.dp-po-Icon.Icon--pink svg { fill: #df5e9c; }
.dp-po-Icon.Icon--purple svg { fill: #9384bd; }

.dp-po-Icon.Icon--danger-light svg { fill: #fbe1e3; }
.dp-po-Icon.Icon--warning-light svg { fill: #f9e6e1; }
.dp-po-Icon.Icon--neutral-light svg { fill: #fff8e1; }
.dp-po-Icon.Icon--success-light svg { fill: #efd; }
.dp-po-Icon.Icon--info-light svg { fill: #e1eefb; }
.dp-po-Icon.Icon--pink-light svg { fill: #fae8f0; }
.dp-po-Icon.Icon--purple-light svg { fill: #ebe4f2; }

.dp-IconsWrapper {
  color: inherit;
  display: flex;
  flex-wrap: wrap;
}

.dp-IconsWrapper > span {
  flex: 0 0 14.2%;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  font: var(--b-2);
  color: var(--grey-darkest);
}

.dp-IconsWrapper .dp-po-Icon {
  margin-right: 10px;
}

.dp-po-Icon {
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
}

/* Messenger - Icons */

.dp-IconsWrapper.Messenger-Icons > span {
  flex: 0 0 50%;
  max-width: 400px;
}

.Messenger-Icons .dp-po-Icon {
  width: 36px;
  height: 36px;
}