.dp-po-progressbar {
  color: var(--grey-dark);
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  z-index: 1;
}

.dp-po-progressbar::before {
  background-color: var(--grey-light);
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: calc(50% - 1px);
  width: 100%;
}

.dp-po-progressbar::after {
  background-color: var(--brand-primary);
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: calc(50% - 1px);
  width: 58%;
}

.dp-po-progress {
  background-color: var(--white);
  display: flex;
  font: var(--b-1-semibold);
  padding-left: 20px;
  z-index: 2;
}
