.dp-calendar {
  background-color: var(--grey-lighter);
  border: 1px solid var(--grey-light);
  border-radius: 4px;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dp-calendar li {
  color: var(--grey-darkest);
  font: var(--h-3);
  line-height: 1.2;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.dp-calendar li:first-child {
  border-bottom: 1px solid var(--grey-light);
}

.dp-calendar.calendar--community {
  border: none;
}

/*kb-view-news*/

.dp-po-news-post .dp-calendar {
  background-color: var(--white);
  margin-left: -86px;
  margin-right: 20px;
}

.dp-po-news-post .dp-calendar li {
  font: var(--messenger-h-3-medium);
  border: 0;
  padding: 3px 10px 3px;
}

.dp-po-news-post .dp-calendar li:first-child {
  padding: 7px 0 0;
  border-bottom: 0;
}

/*kb-view-community*/

.dp-po-calendar-wrapper.calendar--community {
  margin-left: -60px;
  z-index: 3;
  position: relative;
}

.dp-po-calendar-wrapper.calendar--community .dp-calendar {
  background-color: var(--white);
  border: 0;
  min-width: 40px;
}

.dp-po-calendar-wrapper.calendar--community .dp-calendar .dp-po-vote-calendar {
  font: var(--b-3-semibold);
  color: var(--white);
  background-color: var(--brand-primary);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  line-height: 1.2;
}

.dp-po-calendar-wrapper.calendar--community .dp-po-date {
  font: var(--h-3--medium);
  color: var(--grey-darkest);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.calendar--community.is-active .dp-po-date {
  color: var(--success);
}

.calendar--community.is-active .dp-calendar .dp-po-vote-calendar {
  background-color: var(--success);
}

.calendar--community .dp-calendar:hover,
.calendar--community.is-active .dp-calendar:hover {
  opacity: 0.8;
}

.dp-po-calendar-wrapper.calendar--community:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  top: -30px;
  left: -46px;
  width: 136px;
  height: 136px;
  display: block;
  background-color: var(--white);
  border-radius: 50%;
  z-index: -1;
  display: none;
}

.dp-po-calendar-wrapper.calendar--community.is-logged:after {
  display: block;
}
