.dp-po-Dropdown-container {
  max-width: 236px;
  position: relative;
  width: 100%;
}

.dp-po-dropdown-Title {
  align-items: center;
  background-color: var(--grey-lighter);
  border-radius: 4px;
  color: var(--grey-darkest);
  cursor: pointer;
  display: flex;
  font: var(--p-1);
  justify-content: space-between;
  padding: 6px 10px;
  position: relative;
}

.dp-po-dropdown-atom {
  display: flex;
  justify-content: space-between;
}

.dp-po-dropdown-atom .dp-po-arrow {
  background-color: transparent;
  border: 0;
  margin-left: auto;
}

.dp-po-dropdown-atom + .dp-po-dropdown-menu {
  display: none;
}

.dp-po-dropdown-atom.is-active + .dp-po-dropdown-menu {
  display: block;
}

.dp-po-Dropdown-container .dp-po-dropdown-atom {
  align-items: center;
  background-color: var(--grey-lighter);
  display: flex;
  padding: 0 10px;
}

.dp-po-dropdown-atom.is-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dp-po-dropdown-atom.is-active .dp-po-arrow {
  transform: rotate(-90deg);
}

.dp-po-dropdown-menu {
  background-color: var(--grey-lighter);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  z-index: 2;
}

.dp-po-dropdown-menu .dp-po-dropdown-menu-item {
  align-items: center;
  color: var(--grey-darkest);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  font: var(--p-2);
  margin: 0;
  padding: 5px 10px;
}

.dp-po-dropdown-menu .dp-po-dropdown-menu-item:hover {
  background-color: var(--info-light);
  color: var(--brand-primary);
  opacity: 0.8;
}

/* dropdown/search-expand/text-icon */

.dp-po-dropdown-atom.dp-po-search-expand {
  background-color: transparent;
  border-bottom: 1px solid var(--grey-lighter);
  border-radius: 0;
  padding: 6px 0;
}

.dp-po-search-expand:hover > .dp-po-txt {
  color: var(--brand-primary);
}
