/* breadcrumbs */

.dp-po-Breadcrumbs-wrap {
  border-bottom: 2px solid var(--grey-light);
}

.dp-po-Breadcrumbs {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 4px 10px 5px 0;
  position: relative;
  width: 100%;
}

.dp-po-Breadcrumb-item {
  display: flex;
  margin: 0;
  margin-right: 25px;
  position: relative;
}

.dp-po-Breadcrumb-item:not(:first-child)::before {
  background-color: var(--grey);
  content: "";
  display: block;
  height: 8px;
  left: -14px;
  position: absolute;
  top: calc(50% - 5px);
  transform: rotate(-45deg);
  width: 2px;
}

.dp-po-Breadcrumb-item:not(:first-child)::after {
  background-color: var(--grey);
  bottom: calc(50% - 8px);
  content: "";
  display: block;
  height: 8px;
  left: -14px;
  position: absolute;
  transform: rotate(45deg);
  width: 2px;
}

.dp-po-Breadcrumb-item.is-selected:not(:first-child)::before,
.dp-po-Breadcrumb-item.is-selected:not(:first-child)::after {
  background-color: var(--brand-primary);
}

/*.dp-po-Breadcrumb-item:last-child .dp-po-Breadcrumb-link::after {
  background-color: var(--brand-primary);
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
}*/

.dp-po-Breadcrumb-link {
  align-items: center;
  color: var(--grey-darkest);
  cursor: pointer;
  display: flex;
  font: var(--p-2-bold);
  position: relative;
  text-decoration: none;
}

.dp-po-Breadcrumb-item .dp-po-Breadcrumb-link {
  color: var(--grey);
}

.dp-po-Breadcrumb-item:hover .dp-po-Breadcrumb-link {
  /*color: var(--brand-primary);*/
  color: var(--grey);
}

.dp-po-Breadcrumb-item:hover .dp-po-Breadcrumb-link::after {
  background-color: var(--brand-primary);
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
}

.dp-po-Breadcrumb-item.is-selected:hover .dp-po-Breadcrumb-link::after {
  display: none;
}

.dp-po-Breadcrumb-item:hover + .dp-po-Breadcrumb-item::before,
.dp-po-Breadcrumb-item:hover + .dp-po-Breadcrumb-item::after {
  background-color: var(--brand-primary);
}

/*.dp-po-Breadcrumb-item:hover:not(:first-child)::before,
.dp-po-Breadcrumb-item:hover:not(:first-child)::after {
  background-color: var(--brand-primary);
}*/

.dp-po-Breadcrumb-item:first-child .dp-po-Breadcrumb-link,
.dp-po-Breadcrumb-item.is-selected .dp-po-Breadcrumb-link {
  color: var(--grey-darkest);
}
