.dp-po-divider {
  border-bottom: 2px solid var(--grey-light);
  display: flex;
}

.dp-po-divider-title {
  align-items: center;
  border-bottom: 2px solid var(--brand-primary);
  color: var(--grey-darkest);
  display: flex;
  font: var(--h-2);
  margin-bottom: -2px;
}

.dp-po-divider-link {
  align-items: flex-end;
  background-color: var(--white);
  color: var(--brand-primary);
  display: flex;
  font: var(--b-1-semibold);
  line-height: 1;
  margin: 0 0 -8px auto;
  padding-left: 5px;
}

.dp-po-divider-link .dp-po-arrow {
  margin-left: 5px;
}
