.dp-po-TableWrapper {
  display: block;
  position: relative;
}

.dp-po-Tableview {
  display: block;
}

.dp-po-table-row.dp-po-title-row  {
  color: var(--grey-dark);
}

.dp-po-title-row  .dp-po-table-item {
  font: var(--p-2-bold);
}

.dp-po-table-row {
  align-items: center;
  color: var(--grey-darkest);
  display: flex;
}

.dp-po-table-row > div {
  align-items: center;
  display: flex;
  padding: 6px 13px;
}

.dp-po-table-row > div:first-child {
  padding: 6px 13px 6px 35px;
}

.dp-po-table-item {
  font: var(--p-1);
  position: relative;
}

.dp-po-title-row  .dp-po-table-item .dp-po-Icon {
  margin-left: 10px;
}

.dp-po-ticket {
  font: var(--p-2-bold);
}

.dp-po-ticket-Icon {
  background-color: var(--danger);
  border-radius: 50%;
  height: 12px;
  left: 10px;
  position: absolute;
  top: calc(50% - 6px);
  width: 12px;
}

.dp-po-table-item .dp-po-Avatar-icon + .dp-po-Icon {
  background-color: var(--white);
  margin-left: -5px;
}

.dp-po-table-row.TableRow--chat > div:first-child {
  padding: 6px 13px;
}
