/*.dp-calendar {
  background-color: var(--grey-lighter);
  border: 1px solid var(--grey-light);
  border-radius: 4px;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dp-calendar li {
  color: var(--grey-darkest);
  font: var(--h-3);
  line-height: 1.2;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.dp-calendar li:first-child {
  border-bottom: 1px solid var(--grey-light);
}
*/