.dp-po-avatar {
  display: flex;
  align-items: center;

  img {
    width: 30px;
    margin-right: 10px;
  }

  .badge {
    margin: 0 0 0 10px;
  }

  &-round {
    img {
      border-radius: 50%;
    }
  }
}
