.dp-po-subscribe {
  $self: '.dp-po-subscribe';
  margin: 0 0 20px;

  .dropdown-menu {
    width: 100%;
    border-color: $brand-primary;
  }

  &-btn {
    text-align: left;
    position: relative;
    background: $white;
    padding: 8px 20px;
    color: $brand-primary;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid $brand-primary;
    border-radius: 4px;
    font-size: $h2-font-size;
    font-family: $headings-font-family;
    position: relative;
    outline: none;

    .dp-po-icon {
      margin-right: 10px;

      .fa-check {
        position: absolute;
        right: 20px;
        top: 10px;
        display: none;
      }
    }

    &:hover {
      background: $brand-primary;
      color: $white;

      .dp-po-icon {
        .fa-check {
          display: block;
          color: $white;
        }
      }
    }
  }

  &-activebtn {
    border-color: $grey-dark;
    color: $grey-dark;

    .dp-po-icon {
      .fa-check {
        display: block;
        color: $success;
      }
    }
  }

  .show {
    #{$self}-btn {
      background: $brand-primary;
      color: $white;

      .dp-po-icon {
        .fa-check {
          display: block;
          color: $white;
        }
      }
    }
  }

  .dropdown-item {
    position: relative;
    font-family: $headings-font-family;
    display: flex;
    align-items: center;

    .dp-po-icon {
      font-size: 26px;
      margin: 0 10px 0 0;
      color: $grey-dark;

      .fa-check {

        position: absolute;
        right: 20px;
        top: 10px;
        display: none;
      }
    }

    &:hover {
      background: none;

      .dp-po-icon {
        color: $brand-primary;

        .fa-check {
          display: block;
          color: $success;
        }
      }
    }

    &:last-child {
      color: $brand-primary;
      font-size: $button1-font-size;
      font-family: $font-family-sans-serif;
      font-weight: 600;
    }

    &.disabled {
      color: $grey;

      i {
        color: $grey;
      }
    }
  }
}
