.dp-po-title {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;
  $self: '.dp-po-title';

  .dp-po-icon {
    margin: 0 10px 0 0;
    font-size: $font-size-base * 1.666;
  }

  &-text {
    font-family: $headings-font-family;
    font-size: $font-size-base * 1.666; // 30px at standard size
    color: $grey-darkest;
    margin: 0;

    &#{$self}-small {
      font-size: 23px;
    }
  }
}
