.dp-po-title {
  display: inline-flex;
  align-items: center;
  $self: &;

  &-icon {
    margin: 0 10px 0 0;
  }

  &-text {
    font-family: $headings-font-family;
    font-size: $font-size-base * 1.666; // 30px at standard size
    color: #4C4F50;
    margin: 0;

    &#{$self}-small {
      font-size: 23px;
    }
  }

  &+.dp-po-block {
    margin-top: 15px;
  }
}
