@include media-breakpoint-down(sm) {
  .breadcrumb-outer {
    border: none;
  }

  .breadcrumb-image {
    display: none;
  }

  .breadcrumb {
    padding: 0;
  }

  .breadcrumb-item {
    white-space: nowrap;
    width: 24%;
  }

  .breadcrumb-item a {
    text-overflow: ellipsis;
    overflow: hidden;
  }

}
