@include media-breakpoint-down(sm) {
  .breadcrumb-outer {
    border: none;
  }

  .breadcrumb-image {
    display: none;
  }

  .breadcrumb {
    padding: 0;
    width: 100%;
  }

  .breadcrumb-item {
    white-space: nowrap;
    width: 25%;
    margin: 0;

    &:first-child {
      margin: 0;
    }

    a {
      text-overflow: ellipsis;
      overflow: hidden;
      margin-right: 21px;
    }
  }
}
