@include media-breakpoint-down(sm) {
  .breadcrumb-outer {
    border: none;

    .container {
      height: auto;
    }
  }

  .breadcrumb-image {
    display: none;
  }

  .breadcrumb {
    padding: 0;
    width: 100%;
    border-bottom: 1px solid $grey-light;
  }

  .breadcrumb-item {
    white-space: nowrap;
    width: 25%;
    margin: 0;

    &:first-child {
      margin: 0;
    }

    a {
      text-overflow: ellipsis;
      overflow: hidden;
      margin-right: 21px;
    }
  }

  .breadcrumb-item:first-child:nth-last-child(1) {
    width: 100%;
  }

  .breadcrumb-item:first-child:nth-last-child(2),
  .breadcrumb-item:first-child:nth-last-child(2)~li {
    width: 50%;
  }

  .breadcrumb-item:first-child:nth-last-child(3),
  .breadcrumb-item:first-child:nth-last-child(3)~li {
    width: 33.3333%;
  }

  .breadcrumb-item:first-child:nth-last-child(4),
  .breadcrumb-item:first-child:nth-last-child(4)~li {
    width: 25%;
  }
}
