@include media-breakpoint-down(sm) {
  .dp-po-subscribe {
    $self: '.dp-po-subscribe';
    margin: 0;

    &-large {
      #{$self}-btn {
        font-size: $s15;
        padding: 4px 10px;

        .dp-po-icon {
          .fa-check {
            right: 10px;
            font-size: 14px;
          }
          &.fa-angle-down {
            font-size: 18px;
            top: 5px;
            right: 5px;
          }
        }
      }

      .dropdown-menu {
        width: 300px;
      }
    }
  }
}
