@include media-breakpoint-down(sm) {
  .dp-po-title {
    $self: ".dp-po-title";

    &-svg {
      flex: 0 0 40px;
    }

    &-text {
      min-width: 200px;
      font-size: $s26;
    }

    &-link {
      svg {
        display: none;
      }

      #{$self}-text {
        font-size: $s26;
        font-weight: 400;
        color: $grey-darkest;
      }
    }
  }
}
