@use "sass:math";

$black: #000;
$white: #fff;

@import "../../../../node_modules/bootstrap/scss/functions";


/**************************
**** Primary colours ****
**************************/

$brand-primary: var(--brand-primary);
$text-color: var(--text-color);

/**************************
**** Secondary colours ****
**************************/

$grey-darkest: var(--text-color);
$grey-dark: var(--text-color-lighter);
$grey: #a9b0b0;
$grey-light: #d3d6d7;
$grey-lighter: #eff0f0;
$grey-lightest: #f7f7f7;

$secondary: var(--brand-secondary);
$danger: var(--danger);
$warning: var(--warning);
$neutral: var(--neutral);
$success: var(--success);
$info: var(--info);
$light: var(--light);
$dark: var(--dark);

/**************************
**** Tertiary colours ****
**************************/

$purple: #9384bd;
$pink: #df5e9c;
$danger-light: #fbe1e3;
$warning-light: #f9e6e1;
$neutral-light: #fff8e1;
$success-light: #efd;
$info-light: #e1eefb;
$purple-light: #ebe4f2;
$pink-light: #fae8f0;

/**************************
******** Gradients ********
**************************/

$fusia-grad: linear-gradient(270deg, #e16aff .91%, #dc68f8 14.56%, #ce61e5 34.18%, #b856c6 57.4%, #99469b 83.16%, #833b7c 99.46%);
$violet-grad: linear-gradient(270deg, #9e8ef1 .87%, #9788e6 15.36%, #8477c9 40.73%, #665c9a 73.72%, #4b4471 99.5%);
$indigo-grad: linear-gradient(270deg, #6f88fc .87%, #6c85f8 20.01%, #617eec 39.44%, #5071d7 59.01%, #3760bb 78.67%, #184a97 98.24%, #164894 99.5%);
$blue-grad: linear-gradient(90deg, #3467a4 0%, #3a8dde 49.48%, #77b5e7 100%);
$cyan-grad: linear-gradient(270deg, #2fb1db .87%, #2971ae 99.5%);
$sea-grad: linear-gradient(270deg, #8af0fc .87%, #6ec6cf 31.41%, #2a5e5e 99.5%);
$grass-grad: linear-gradient(270deg, #31eaa6 .91%, #34e59f 23.4%, #3dd88c 55.7%, #4bc36d 93.77%, #4dbf68 99.42%);
$yellow-grad: linear-gradient(270deg, #f5d16d .91%, #f5cc66 18.72%, #f4bd53 44.31%, #f3a534 74.44%, #f28d15 99.5%);
$rust-grad: linear-gradient(270deg, #ff8f6d .91%, #fb8966 19.14%, #f07953 45.33%, #de5f34 76.18%, #cd4718 99.5%);
$rose-grad: linear-gradient(270deg, #ff4c85 .99%, #f8497f 21.34%, #e5416d 50.57%, #c6334f 85.01%, #b72c41 99.5%);

/**************************
******** Social ********
**************************/

$facebook: #3c5a97;
$linkedin: #0077b7;
$twitter: #1da1f2;
$whatsapp: #25d366;
$instagram: #3f729b;
$pinterest: #c8232c;
$google: #d6452e;
$one: #008ca9;

@function darken($color, $amount) {
  @if type_of($color) == string {
    $color: str-replace($color, "var(");
    $color: str-replace($color, ")");
    $amount: math.div($amount, 100%) * 1000;
    @return var(#{$color + "-d-" + $amount});
  }
  @return scale-color($color, $lightness: - $amount);
}

@function lighten($color, $amount) {
  @if type_of($color) == string {
    $color: str-replace($color, "var(");
    $color: str-replace($color, ")");
    $amount: math.div($amount, 100%) * 1000;
    @return var(#{$color + "-l-" + $amount});
  }
  @return scale-color($color, $lightness: $amount);
}

@function mix($color1, $color2, $weight) {

  @return $color2;
}

@function red($color) {
  @return 0;
}

@function blue($color) {
  @return 0;
}

@function green($color) {
  @return 0;
}
$yiq-text-dark:             #212529 !default;
$yiq-text-light:            $white !default;
