$black: #000;
$white: #fff;

@import "bootstrap/scss/functions";

$danger: #E84954;
$warning: #EC6C4E;
$neutral: #F8AF3C;
$success: #54B162;
$info: #4B93CF;

:root {
  --brand-primary: #3A8DDE;
  --brand-primary-d-75: #237acf;
  --brand-primary-d-100: #2173c4;
  --brand-primary-d-125: #1f6db9;
  --brand-primary-d-150: #1d67ae;
  --brand-primary-l-250: #a7ccf0;
  --brand-primary-l-350: #d3e5f8;
  --brand-primary-yiq: #fff;
  --brand-primary-rgb: 58, 141, 222;
  --brand-secondary: #a9b0b0;
  --brand-secondary-d-75: #959e9e;
  --brand-secondary-d-100: #8e9898;
  --brand-secondary-d-125: #889191;
  --brand-secondary-d-150: #818b8b;
  --brand-secondary-l-250: #ebeded;
  --brand-secondary-l-350: #fff;
  --brand-secondary-yiq: #212529;
  --brand-secondary-rgb: 169, 176, 176;
  --danger: #E84954;
  --danger-d-75: #e42734;
  --danger-d-100: #e21c2a;
  --danger-d-125: #d61b28;
  --danger-d-150: #cb1a26;
  --danger-l-100: #ee767f;
  --danger-yiq: #fff;
  --warning: #EC6C4E;
  --warning-d-75: #e84f2b;
  --warning-d-100: #e74620;
  --warning-d-125: #e23f18;
  --warning-d-150: #d63b17;
  --warning-l-100: #f1927c;
  --warning-yiq: #212529;
  --neutral: #F8AF3C;
  --neutral-d-75: #f7a017;
  --neutral-d-100: #f69b0b;
  --neutral-d-125: #ec9408;
  --neutral-d-150: #df8c08;
  --neutral-l-100: #fac36d;
  --success: #54B162;
  --success-d-75: #469952;
  --success-d-100: #42904e;
  --success-d-125: #3e8749;
  --success-d-150: #3a7f44;
  --success-l-100: #77c182;
  --success-yiq: #fff;
  --info: #4B93CF;
  --info-d-75: #3380c0;
  --info-d-100: #317ab6;
  --info-d-125: #2e73ac;
  --info-d-150: #2b6ca2;
  --info-l-100: #73abda;
  --info-yiq: #fff;
  --tcl-danger-b-6: #79262c;
  --tcl-danger-w-10: #fadbdd;
  --tcl-danger-w-9: #f9cccf;
  --tcl-info-b-6: #274c6c;
  --tcl-info-w-10: #dbe9f5;
  --tcl-info-w-9: #cde1f2;
  --tcl-success-b-6: #2c5c33;
  --tcl-success-w-10: #ddefe0;
  --tcl-success-w-9: #cfe9d3;
}

/**************************
**** Primary colours ****
**************************/

$brand-primary: var(--brand-primary);
$grey-darkest: #4C4F50;

/**************************
**** Secondary colours ****
**************************/

$grey-dark: #8B9293;
$grey: #A9B0B0;
$grey-light: #D3D6D7;
$grey-lighter: #EFF0F0;
$grey-lightest: #F7F7F7;

$secondary: var(--brand-secondary);
$danger: var(--danger);
$warning: var(--warning);
$neutral: var(--neutral);
$success: var(--success);
$info: var(--info);

/**************************
**** Tertiary colours ****
**************************/

$purple: #9384BD;
$pink: #DF5E9C;
$danger-light: #FBE1E3;
$warning-light: #F9E6E1;
$neutral-light: #FFF8E1;
$success-light: #EEFFDD;
$info-light: #E1EEFB;
$purple-light: #EBE4F2;
$pink-light: #FAE8F0;

/**************************
******** Gradients ********
**************************/

$fusia-grad: linear-gradient(270deg, #E16AFF 0.91%, #DC68F8 14.56%, #CE61E5 34.18%, #B856C6 57.4%, #99469B 83.16%, #833B7C 99.46%);
$violet-grad: linear-gradient(270deg, #9E8EF1 0.87%, #9788E6 15.36%, #8477C9 40.73%, #665C9A 73.72%, #4B4471 99.5%);
$indigo-grad: linear-gradient(270deg, #6F88FC 0.87%, #6C85F8 20.01%, #617EEC 39.44%, #5071D7 59.01%, #3760BB 78.67%, #184A97 98.24%, #164894 99.5%);
$blue-grad: linear-gradient(90deg, #3467A4 0%, #3A8DDE 49.48%, #77B5E7 100%);
$cyan-grad: linear-gradient(270deg, #2FB1DB 0.87%, #2971AE 99.5%);
$sea-grad: linear-gradient(270deg, #8AF0FC 0.87%, #6EC6CF 31.41%, #2A5E5E 99.5%);
$grass-grad: linear-gradient(270deg, #31EAA6 0.91%, #34E59F 23.4%, #3DD88C 55.7%, #4BC36D 93.77%, #4DBF68 99.42%);
$yellow-grad: linear-gradient(270deg, #F5D16D 0.91%, #F5CC66 18.72%, #F4BD53 44.31%, #F3A534 74.44%, #F28D15 99.5%);
$rust-grad: linear-gradient(270deg, #FF8F6D 0.91%, #FB8966 19.14%, #F07953 45.33%, #DE5F34 76.18%, #CD4718 99.5%);
$rose-grad: linear-gradient(270deg, #FF4C85 0.99%, #F8497F 21.34%, #E5416D 50.57%, #C6334F 85.01%, #B72C41 99.5%);

/**************************
******** Social ********
**************************/

$facebook: #3C5A97;
$linkedin: #0077B7;
$twitter: #1DA1F2;
$whatsapp: #25d366;
$instagram: #3f729b;
$pinterest: #c8232c;

@function darken($color, $amount) {
  @if type_of($color) == string {
    $color: str-replace($color, 'var(');
    $color: str-replace($color, ')');
    $amount: $amount / 100% * 1000;
    @return var(#{$color + '-d-' + $amount});
  }
  @return scale-color($color, $lightness: -$amount);
}

@function lighten($color, $amount) {
  @if type_of($color) == string {
    $color: str-replace($color, 'var(');
    $color: str-replace($color, ')');
    $amount: $amount / 100% * 1000;
    @return var(#{$color + '-l-' + $amount});
  }
  @return scale-color($color, $lightness: $amount);
}

@function mix($color1, $color2, $weight) {

  @return $color2;
}

@function red($color) {
  @return 0;
}

@function blue($color) {
  @return 0;
}

@function green($color) {
  @return 0;
}
$yiq-text-dark:             #212529 !default;
$yiq-text-light:            $white !default;
