:root {
  --brand-primary: #3A8DDE;
  --brand-secondary: #a9b0b0;
  --danger: #E84954;
  --warning: #EC6C4E;
  --neutral: #F8AF3C;
  --success: #54B162;
  --info: #4B93CF;
  --background-color: #F7F7F7;
  --text-color: #4C4F50;
  --text-color-lighter: #4C4F50;
  --font-family-sans-serif: Lato,
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,
  Menlo,
  Monaco,
  Consolas,
  "Liberation Mono",
  "Courier New",
  monospace;
  --light: #d3d6d7;
  --light-rgb: 211, 214, 215;
  --light-yiq: #212529;
  --dark: #4c4f50;
  --dark-rgb: 76, 79, 80;
  --dark-yiq: #fff;
  --brand-primary-d-75: #237acf;
  --brand-primary-d-100: #2173c4;
  --brand-primary-d-125: #1f6db9;
  --brand-primary-d-150: #1d67ae;
  --brand-primary-l-100: #66a6e5;
  --brand-primary-l-250: #a7ccf0;
  --brand-primary-l-350: #d3e5f8;
  --brand-primary-yiq: #fff;
  --brand-primary-d-75-yiq: #fff;
  --brand-primary-d-100-yiq: #fff;
  --brand-primary-rgb: 58, 141, 222;
  --brand-secondary-d-75: #959e9e;
  --brand-secondary-d-100: #8e9898;
  --brand-secondary-d-125: #889191;
  --brand-secondary-d-150: #818b8b;
  --brand-secondary-l-250: #ebeded;
  --brand-secondary-l-350: #fff;
  --brand-secondary-yiq: #212529;
  --brand-secondary-d-75-yiq: #212529;
  --brand-secondary-d-100-yiq: #212529;
  --brand-secondary-rgb: 169, 176, 176;
  --danger-d-75: #e42734;
  --danger-d-100: #e21c2a;
  --danger-d-125: #d61b28;
  --danger-d-150: #cb1a26;
  --danger-l-100: #ee767f;
  --danger-yiq: #fff;
  --danger-d-75-yiq: #fff;
  --danger-d-100-yiq: #fff;
  --danger-rgb: 232, 73, 84;
  --warning-d-75: #e84f2b;
  --warning-d-100: #e74620;
  --warning-d-125: #e23f18;
  --warning-d-150: #d63b17;
  --warning-l-100: #f1927c;
  --warning-yiq: #fff;
  --warning-d-75-yiq: #fff;
  --warning-d-100-yiq: #fff;
  --warning-rgb: 236, 108, 78;
  --neutral-d-75: #f7a017;
  --neutral-d-100: #f69b0b;
  --neutral-d-125: #ec9408;
  --neutral-d-150: #df8c08;
  --neutral-l-100: #fac36d;
  --neutral-yiq: #212529;
  --neutral-d-75-yiq: #212529;
  --neutral-d-100-yiq: #212529;
  --neutral-rgb: 248, 175, 60;
  --success-d-75: #469952;
  --success-d-100: #42904e;
  --success-d-125: #3e8749;
  --success-d-150: #3a7f44;
  --success-l-100: #77c182;
  --success-yiq: #fff;
  --success-d-75-yiq: #fff;
  --success-d-100-yiq: #fff;
  --success-rgb: 84, 177, 98;
  --info-d-75: #3380c0;
  --info-d-100: #317ab6;
  --info-d-125: #2e73ac;
  --info-d-150: #2b6ca2;
  --info-l-100: #73abda;
  --info-yiq: #fff;
  --info-d-75-yiq: #fff;
  --info-d-100-yiq: #fff;
  --info-rgb: 75, 147, 207;
  --tcl-danger-b-6: #79262c;
  --tcl-danger-w-6: #f3a0a6;
  --tcl-danger-w-10: #fadbdd;
  --tcl-danger-w-9: #f9cccf;
  --tcl-danger-w-9-d-50: #f6b5ba;
  --tcl-danger-b-6-d-100: #521a1e;
  --tcl-info-b-6: #274c6c;
  --tcl-info-w-6: #a1c7e6;
  --tcl-info-w-10: #dbe9f5;
  --tcl-info-w-9: #cde1f2;
  --tcl-info-w-9-d-50: #b8d5ec;
  --tcl-info-b-6-d-100: #193246;
  --tcl-success-b-6: #2c5c33;
  --tcl-success-w-6: #a6d6ad;
  --tcl-success-w-10: #ddefe0;
  --tcl-success-w-9: #cfe9d3;
  --tcl-success-w-9-d-50: #bee1c3;
  --tcl-success-b-6-d-100: #1b3920;
  --tcl-warning-b-6: #7b3829;
  --tcl-warning-w-6: #f5b3a3;
  --tcl-warning-w-10: #fbe2dc;
  --tcl-warning-w-9: #fad6cd;
  --tcl-warning-w-9-d-50: #f7c3b6;
  --tcl-warning-b-6-d-100: #54271c;
  --option-background: transparent;
}
