.dp-po-account-sidebar {
  $self: ".dp-po-account-sidebar";
  min-height: 400px;
  overflow: hidden;
  background: $white;
  border: 1px solid $grey-light;
  border-radius: 4px;

  &-list {
    padding: 0;
    margin: 0;
  }

  &-item {
    list-style: none;
    border-bottom: 1px solid $grey-light;
  }

  &-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 22px 20px;
    color: $grey-dark;
    background: $grey-lightest;
    @include typo($s19, 400, "head");

    .dp-po-icon.fa-angle-right {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 30px;
    }

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }

    &.active {
      color: $grey-darkest;
      background: $white;

      #{$self}-image {
        filter: none;
      }

      .dp-po-icon {
        color: $brand-primary;
      }
    }
  }

  &-image {
    margin-right: 15px;
    font-size: 26px;
    line-height: 0;
    fill: $brand-primary;
  }
}
