.dp-po-account-email {
  $self: ".dp-po-account-email";

  &-title {
    @include typo($s15, 700, "body");
  }

  &-list {
    padding: 0;
    margin: 0 0 20px;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    list-style: none;
    border-bottom: 1px solid $grey-light;

    &:hover {
      #{$self}-address {
        color: $brand-primary;
      }
    }
  }

  &-address {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: $s15;

    .dp-po-icon {
      margin-right: 10px;
      font-size: 20px;
    }
  }

  &-action {
    display: flex;
    align-items: center;

    &-item {
      color: $grey;
      list-style: none;
      @include typo($s15, 700, "body");
    }

    &-link {
      margin-left: 20px;
      @include typo($s15, 700, "body");
      color: $grey;

      &:hover {
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
}
