.breadcrumb-outer {
  border-bottom: 2px solid $grey-light;
}

.breadcrumb {
  &-item {
    color: $breadcrumb-inactive-color;
    font-weight: bold;
    font-size: $p2-font-size;
    a {
      padding: 7px;
      display: inline-block;
      text-decoration: none;
      color: $breadcrumb-inactive-color;
    }

    &:first-child a {
      padding-left: 0;
    }
  }

  &-item.active, &-item:hover {
    color: $breadcrumb-active-color;
    a {
      color: $breadcrumb-active-color;
    }
  }
}
