.dp-po-columnfilter {
  $self: ".dp-po-columnfilter";

  &-link {
    display: inline-block;
    font-size: 30px;
    color: $grey-light;
    text-align: center;

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  &.show {
    #{$self}-link {
      color: $brand-primary;
    }
  }

  &-list {
    padding: 10px 20px;
    margin: 0;
  }

  &-item {
    display: block;
    white-space: nowrap;

    .form-group {
      margin-bottom: 5px;
    }

    &:last-child {
      .form-group {
        margin-bottom: 0;
      }
    }
  }

}
