.dp-po-community-status {
  &-title {
    @include typo($s23, 400, "head");
  }

  &-list {
    padding: 0;
    margin: 0;
  }

  &-item {
    height: 28px;
    margin: 20px 0 0;
    list-style: none;
  }

  &-link {
    display: block;
    overflow: hidden;
    color: $text-color;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: $brand-primary;
      text-decoration: none;

      .dp-po-status-ribbon {
        &-from {
          color: $brand-primary;
          background: $info-light;

          &::after {
            border-left-color: $info-light;
          }
        }
      }
    }
  }

  .dp-po-status-ribbon {
    margin-right: 10px;
  }

  .dp-po-viewall {
    margin-top: 15px;
  }
}
