.dp-po-community-tabs {
  $self: '.dp-po-community-tabs';

  &-list {
    margin: 0;
    padding: 0;
  }

  &-item {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin-left: -3px;

    &.active {
      #{$self}-link {
        border-top-color: $brand-primary;
        color: $text-color;

        .dp-po-icon {
          color: $brand-primary;
        }
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &-link {
    background: $white;
    border-left: 1px solid $grey-light;
    border-right: 1px solid $grey-light;
    border-top: 2px solid $grey-light;
    padding: 13px 20px;
    color: $grey;
    display: flex;
    align-items: center;
    justify-content: center;
    @include typo($s19, 400, 'head');

    .dp-po-icon {
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }

    &:hover {
      text-decoration: none;
      color: $text-color;

      .dp-po-icon {
        color: $brand-primary;
      }
    }
  }

  &+.dp-po-block {
    position: relative;
  }
}
