.dp-po-community-channel {
  $self: ".dp-po-community-channel";

  &-list {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  &-item {
    flex-grow: 1;
    flex-basis: 0;
    list-style: none;
  }

  &-link {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

    &:hover {
      text-decoration: none;

      #{$self}-name {
        text-decoration: underline;
      }
    }
  }

  &-icon {
    display: flex;
    flex: 0 0 140px;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    background: $info-light;
    border-radius: 50%;

    .dp-po-icon {
      font-size: 70px;
    }

    &-purple {
      background: $purple-light;
    }

    &-neutral {
      background: $neutral-light;
    }

    &-warning {
      background: $warning-light;
    }

    &-success {
      background: $success-light;
    }

    &-pink {
      background: $pink-light;
    }

    &-danger {
      background: $danger-light;
    }
  }

  &-name {
    flex: 0 0 100%;
    padding: 20px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    @include typo($s28, 300, "head");
  }

  &-topics {
    display: inline-flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: center;
    color: $text-color;

    .dp-po-icon {
      position: relative;
      top: 2px;
      margin-left: 10px;
      font-size: 22px;
      color: $brand-primary;
    }
  }

  &-right {
    display: flex;
    flex-wrap: wrap;
    max-width: 230px;
  }

  &#{$self}-blocks {
    #{$self}-list {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    #{$self}-item {
      flex: 0 0 31.7%;
      flex-grow: inherit;
      padding: 30px;
      margin: 0 30px 30px 0;
      background: $white;
      border-radius: 4px;
      box-shadow: 0 5px 5px rgba(0, 0, 0, .15);

      &:nth-child(3n) {
        margin: 0;
      }
    }

    #{$self}-link {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    #{$self}-icon {
      flex: 0 0 110px;
      width: 110px;
      height: 110px;
    }

    #{$self}-name {
      align-self: center;
      padding: 0;
      font-size: $s23;
    }

    #{$self}-topics {
      align-self: center;
      justify-content: flex-start;
    }

    #{$self}-right {
      flex: 0 0 60%;
      max-width: 200px;
      text-align: left;
    }
  }
}
