.dp-po-community-title {
  $self: ".dp-po-community-title";
  margin-bottom: 25px;
  overflow: hidden;

  &-link {
    @include typo($s30, 400, "head");
    display: inline-flex;
    align-items: center;
    color: $grey-darkest;

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  &-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    margin-right: 10px;
    background: $info-light;
    border: 1px solid $grey-light;
    border-radius: 50%;

    .dp-po-icon {
      font-size: 24px;
    }

    &-purple {
      background: $purple-light;
    }

    &-neutral {
      background: $neutral-light;
    }

    &-warning {
      background: $warning-light;
    }

    &-success {
      background: $success-light;
    }

    &-pink {
      background: $pink-light;
    }

    &-danger {
      background: $danger-light;
    }
  }

  &-arrow {
    position: relative;
    top: 2px;
    margin-left: 10px;
    color: $brand-primary;
    vertical-align: 3px;
  }

  .dropdown-menu {
    width: 280px;
    border-color: $brand-primary;
  }

  &-button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    float: right;
    background: $white;
    border: 1px solid $brand-primary;
    border-radius: 4px;

    &-link {
      display: block;
      width: 100%;
      padding: 10px 20px;
      text-align: center;
      @include typo($s19, 400, "head");

      .dp-po-icon {
        margin-right: 10px;
      }

      &:hover {
        text-decoration: none;
      }
    }

    &:hover {
      background: $info-light;
    }

    &-dropdown {
      padding: 9px 10px;
      text-align: center;
      border-left: 1px solid $brand-primary;
    }

    #{$self}-arrow {
      margin: 0;
    }
  }
}
