.dp-po-community-featured {
  &-title {
    @include typo($s23, 400, "head");
  }

  &-list {
    padding: 0;
    margin: 0;
  }

  &-item {
    display: flex;
    align-items: center;
    margin: 20px 0 0;
  }

  &-link {
    margin: 0 0 0 10px;
    overflow: hidden;
    color: $text-color;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dp-po-viewall {
    margin-top: 15px;
  }
}
