.dp-po-community-topics {
  $self: '.dp-po-community-topics';

  &-list {
    margin: 0;
    padding: 0;
  }

  &-item {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $grey-light;
    padding: 20px 0;
    flex-wrap: wrap;

    &:last-child {
      border: none;
    }
  }

  .dp-po-like {
    flex: 0 0 40px;
    margin-right: 20px;
  }

  &-right {
    width: calc(100% - 60px);
    display: inline-block;
  }

  &-link {
    color: $grey-darkest;
    @include typo($s23, 400, 'head');
    padding-right: 105px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }

  &-extras {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .dp-po-status-ribbon {
    margin-right: 20px;
  }

  .badge {
    margin: 0;
    text-transform: uppercase;
    margin-right: 20px;
  }

  &-author {
    margin-right: 20px;
    color: $grey-darkest;
  }

  &-tags {
    margin-right: 20px;
  }

  &-comments {
    display: flex;
    align-items: center;

    .dp-po-icon {
      color: $grey-dark;
      margin-right: 7px;
      top: 3px;
      font-size: 17px;
      position: relative;
    }
  }

  .dp-po-time {
    position: absolute;
    right: 0;
    top: 32px;
  }

  &-response {
    margin-left: 60px;
    width: 100%;
    margin-top: 15px;

    &-title {
      color: $grey-dark;
      @include typo($s19, 400, 'head');
      display: flex;
      margin: 0 0 5px;

      .dp-po-icon {
        margin-right: 10px;

        svg .fa-secondary,
        svg .fa-primary {
          fill: $purple;
        }
      }
    }

    &-content {
      border-radius: 6px;
      border: 1px solid $grey-light;
      padding: 12px 20px;
      position: relative;
    }

    &-comment {
      margin: 15px 0 8px;
      line-height: 1.5;
    }

    .dp-po-time {
      top: 18px;
      right: 20px;

      .dp-po-icon {
        color: $purple;
      }
    }
  }
}
