.dp-po-comments {
  $self: '.dp-po-comments';

  &-add {
    position: relative;

    .dp-po-form {
      padding: 0 0 0 40px;
      margin: 15px 0 0;
    }

    &-cancel {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &-wrap {
    margin: 0 -30px;
    border-bottom: 1px solid $grey-lighter;

    &:first-child {
      &>#{$self}-item {
        padding-top: 0;
      }
    }

    &:last-child {
      border: none;

      &>#{$self}-item {
        padding-bottom: 0;
      }
    }
  }

  &-item {
    padding: 20px 30px;
  }

  &-reply {
    margin: 0 0 0 70px;
    padding: 0;
    border-top: 1px solid $grey-lighter;
    ;

    #{$self}-item {
      position: relative;
      padding: 20px 30px 20px 0;
      border-bottom: 1px solid $grey-lighter;

      &:before {
        content: '';
        width: 2px;
        height: calc(100% + 1px);
        position: absolute;
        top: 0;
        left: -12px;
        background: $grey;
      }
    }

    #{$self}-add {
      margin: 20px 30px 20px 0;
    }
  }

  &-desc {
    padding: 0 0 0 40px;
    margin: 10px 0 0;
  }

  &-content {
    line-height: 1.6;
    word-break: break-word;

    blockquote {
      border-left: 2px solid var(--grey80);
      padding: 1px 0 1px 8px;
      margin: 16px 64px 16px 48px;
      background: rgba(0, 0, 0, 0.02);
    }
  }

  &-vote {
    padding: 0 0 0 40px;
    margin: 10px 0 0;

    .dp-po-icon svg {
      border-radius: 50%;
      border: 1px solid $grey-lighter;
      width: 24px;
      height: 24px;
      font-size: 22px;
      text-align: center;
      margin: 0 10px 0 0;
    }
  }

  &-upvote {
    display: inline-flex;
    align-items: center;
    color: $grey-dark;
    font-size: 15px;
    margin: 0 20px 0 0;

    .dp-po-icon {
      color: $success;
    }

    &:hover {
      color: $success;
      text-decoration: none;

      .dp-po-icon svg {
        background: $success;
        border-color: $success;
        color: $white;
      }
    }
  }

  &-downvote {
    display: inline-flex;
    align-items: center;
    color: $grey-dark;
    font-size: 15px;

    .dp-po-icon {
      color: $danger;
    }

    &:hover {
      color: $danger;
      text-decoration: none;

      .dp-po-icon svg {
        background: $danger;
        border-color: $danger;
        color: $white;
      }
    }
  }

  &-extras {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-time {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;

    .dp-po-icon {
      margin-right: 7px;
      color: $brand-primary;
      position: relative;
      top: 1px;
    }
  }

  &-options {
    margin: 0 0 0 20px;

    & [data-toggle="dropdown"] {
      font-size: 28px;
      color: $grey;
    }
  }

  &-attachments {
    background: $grey-lightest;
    border-radius: 4px;
    padding: 20px;
    margin: 10px 0 0 40px;

    &-title {
      color: $grey-dark;
      font-size: 15px;
      margin: 0 0 15px;
    }

    &-list {
      margin: 0;
      padding: 0;
    }

    &-item {
      list-style: none;
      margin-top: 12px;

      label {
      display: initial;
      }
    }

    &-link {
      display: inline-flex;
      align-items: center;
      color: $brand-primary;

      &:hover {
        color: $brand-primary;
      }

      .dp-po-icon {
        margin: 0 10px 0 0;
        font-size: 26px;
        color: $text-color;
      }
    }
  }

  .dp-po-message-bar {
    border: 1px solid $success;
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 20px;
  }

  .dp-po-message-bar-error {
    border: 1px solid $danger;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 10px 0;
    color: $danger;
  }

  // Fix for red border in Firefox by default in Guides comments
  textarea:invalid {
    box-shadow: none;
  }
}
