.dp-po-community-tabs {
  $self: ".dp-po-community-tabs";

  &-list {
    padding: 0;
    margin: 0;
  }

  &-item {
    position: relative;
    display: inline-block;
    margin-left: -4px;
    vertical-align: middle;
    list-style: none;

    &.active {
      #{$self}-link {
        color: $text-color;
        background: $white;
        border-top-color: $brand-primary;

        .dp-po-icon {
          color: $brand-primary;
        }
      }

      &::after {
        position: absolute;
        bottom: -1px;
        left: 1px;
        width: calc(100% - 2px);
        height: 2px;
        content: "";
        background: $white;
      }

      &::before {
        position: absolute;
        top: -1px;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 2px;
        content: "";
        background: $brand-primary;
      }
    }

    &:first-child {
      margin-left: 0;

      &.active {
        #{$self}-link {
          border-left: none;
        }
      }
    }
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 20px;
    color: $grey-dark;
    background: $grey-lighter;
    border-right: 1px solid $grey-light;
    border-left: 1px solid $grey-light;
    @include typo($s19, 400, "head");

    .dp-po-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      font-size: 20px;
    }

    &:hover {
      color: $text-color;
      text-decoration: none;

      .dp-po-icon {
        color: $brand-primary;
      }
    }
  }

  + .dp-po-block {
    position: relative;
  }
}
