.dp-po-community-view {
  $self: '.dp-po-community-view';

  &-item {
    display: flex;
    border-top: 1px solid $grey-light;
    padding: 20px 0;
    flex-wrap: wrap;

    &-head {
      border: none;
      padding: 0 0 10px;
      @include typo($s17, 500, 'head');
      color: $grey-dark;

      #{$self}-activity {
        text-align: center;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &-votes {
    flex: 0 0 50px;
    margin-right: 20px;
  }

  &-title {
    flex: 0 0 calc(100% - 530px);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .dp-po-avatar img {
      width: 20px;
      height: 20px;
    }
  }

  &-link {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 0 100%;
    margin-bottom: 10px;
    @include typo($s19, 400, 'head');
    color: $grey-darkest;
  }

  &-time {
    font-size: $s12;
    margin-left: 10px;
    position: relative;
    top: 2px;
  }

  &-status {
    flex: 0 0 120px;
    text-align: center;
  }

  &-comments {
    flex: 0 0 120px;
    text-align: center;
  }

  &-activity {
    flex: 0 0 200px;

    &-list {
      display: flex;
      margin: 0;
      padding: 0;
    }

    &-item {
      display: block;
      list-style: none;
      font-size: $s12;
      color: $grey-dark;
      text-align: center;
      margin-right: 10px;
      flex: 0 0 30px;

      &:last-child {
        margin: 0;
      }
    }

    &-image {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-bottom: 8px;
    }

  }

  &-official {
    flex: 0 0 calc(100% - 70px);
    position: relative;
    background: $grey-lightest;
    border-radius: 4px;
    padding: 10px;
    margin-left: 70px;
    margin-top: 15px;

    &-time {
      position: absolute;
      right: 10px;
      top: 10px;
      color: $grey-dark;
      font-size: $s15;
    }

    &-wrap {
      display: flex;
      align-items: flex-start;

      img {
        max-width: 20px;
        height: auto;
        margin-right: 10px;
      }
    }

    &-author {
      border-radius: 50%;
      margin-top: 12px;
    }

    &-title {
      margin: 0;
      @include typo($s17, 400, 'head');
      color: $grey-dark;
    }

    &-response {
      font-size: $s15;
      line-height: 1.5;
      margin: 10px 0 0;

    }
  }

  &-compact {
    #{$self}-item {
      align-items: center;
    }

    #{$self}-votes {
      flex: 0 0 80px;
    }

    #{$self}-title {
      flex: 0 0 calc(100% - 620px);
    }

    #{$self}-office {
      flex: 0 0 50px;
      text-align: center;

      img {
        max-width: 25px;
      }
    }

    #{$self}-link {
      margin: 0;
    }

    #{$self}-status {}

    #{$self}-comments {}

    #{$self}-author {
      flex: 0 0 50px;
      text-align: center;

      .dp-po-avatar {
        justify-content: center;
      }

      img {
        margin: 0;
      }
    }

    #{$self}-activity {
      flex: 0 0 170px;

      &-list {
        justify-content: center;
      }

      &-item {
        flex: inherit;

        &:first-child {
          #{$self}-activity-image {
            margin-left: 0;
          }
        }
      }

      &-image {
        margin: -4px 0 0 -18px;
        border: 3px solid $white;
        width: 36px;
        height: 36px;
      }
    }
  }

}
