.dp-po-comments {
  $self: ".dp-po-comments";

  &-add {
    position: relative;

    .dp-po-form {
      padding: 0 0 0 40px;
      margin: 15px 0 0;
    }

    &-cancel {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &-wrap {
    margin: 0 -30px;
    border-bottom: 1px solid $grey-lighter;

    &:first-child {
      >#{$self}-item {
        padding-top: 0;
      }
    }

    &:last-child {
      border: none;

      >#{$self}-item {
        padding-bottom: 0;
      }
    }
  }

  &-item {
    padding: 20px 30px;
  }

  &-reply {
    padding: 0;
    margin: 0 0 0 70px;
    border-top: 1px solid $grey-lighter;
    ;

    #{$self}-item {
      position: relative;
      padding: 20px 30px 20px 0;
      border-bottom: 1px solid $grey-lighter;

      &::before {
        position: absolute;
        top: 0;
        left: -12px;
        width: 2px;
        height: calc(100% + 1px);
        content: "";
        background: $grey;
      }
    }

    #{$self}-add {
      margin: 20px 30px 20px 0;
    }
  }

  &-desc {
    padding: 0 0 0 40px;
    margin: 10px 0 0;
  }

  &-content {
    line-height: 1.6;
    word-break: break-word;

    blockquote {
      padding: 1px 0 1px 8px;
      margin: 16px 64px 16px 48px;
      background: rgba(0, 0, 0, .02);
      border-left: 2px solid var(--grey80);
    }

    img {
      max-width: 100%;
    }

    /* table styles */
    table {
      width: 100%;
      margin: 1rem 0;
      table-layout: fixed;
      border-collapse: collapse;
    }

    table th,
    table td {
      position: relative;
      padding: 0 .5em;
      font-weight: 400;
      text-align: left;
      word-wrap: break-word;
      border: 1px solid rgba(0, 0, 0, .075);
    }

    table th {
      font-weight: 500;
      background: rgba(0, 0, 0, .025);
    }

    table th.selectedCell,
    table td.selectedCell {
      z-index: 10;
      background: rgba(65, 150, 212, .125);
      box-shadow: 0 0 0 1px #c0e3fc inset;
    }
  }

  &-vote {
    padding: 0 0 0 40px;
    margin: 10px 0 0;

    .dp-po-icon svg {
      width: 24px;
      height: 24px;
      margin: 0 10px 0 0;
      font-size: 22px;
      text-align: center;
      border: 1px solid $grey-lighter;
      border-radius: 50%;
    }
  }

  &-upvote {
    display: inline-flex;
    align-items: center;
    margin: 0 20px 0 0;
    font-size: 15px;
    color: $grey-dark;

    .dp-po-icon {
      color: $success;
    }

    &:hover {
      color: $success;
      text-decoration: none;

      .dp-po-icon svg {
        color: $white;
        background: $success;
        border-color: $success;
      }
    }
  }

  &-downvote {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    color: $grey-dark;

    .dp-po-icon {
      color: $danger;
    }

    &:hover {
      color: $danger;
      text-decoration: none;

      .dp-po-icon svg {
        color: $white;
        background: $danger;
        border-color: $danger;
      }
    }
  }

  &-extras {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-time {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;

    .dp-po-icon {
      position: relative;
      top: 1px;
      margin-right: 7px;
      color: $brand-primary;
    }
  }

  &-options {
    margin: 0 0 0 20px;

    [data-toggle="dropdown"] {
      font-size: 28px;
      color: $grey;
    }
  }

  &-attachments {
    padding: 20px;
    margin: 10px 0 0 40px;
    background: $grey-lightest;
    border-radius: 4px;

    &-title {
      margin: 0 0 15px;
      font-size: 15px;
      color: $grey-dark;
    }

    &-list {
      padding: 0;
      margin: 0;
    }

    &-item {
      margin-top: 12px;
      list-style: none;

      label {
        display: initial;
      }
    }

    &-link {
      display: inline-flex;
      align-items: center;
      color: $brand-primary;

      &:hover {
        color: $brand-primary;
      }

      .dp-po-icon {
        margin: 0 10px 0 0;
        font-size: 26px;
        color: $text-color;
      }
    }
  }

  .dp-po-message-bar {
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 1px solid $success;
    border-radius: 4px;
  }

  .dp-po-message-bar-error {
    padding: 5px 10px;
    margin: 10px 0;
    color: $danger;
    border: 1px solid $danger;
    border-radius: 4px;
  }

  // Fix for red border in Firefox by default in Guides comments
  textarea:invalid {
    box-shadow: none;
  }
}
