.dp-po-comments {
  $self: &;

  &-add {
    .dp-po-form {
      padding: 0 0 0 40px;
    }
  }

  &-wrap {
    margin: 0 -30px;
    border-bottom: 1px solid $grey-lighter;

    &:first-child {
      &>#{$self}-item {
        padding-top: 0;
      }
    }

    &:last-child {
      border: none;

      &>#{$self}-item {
        padding-bottom: 0;
      }
    }
  }

  &-item {
    padding: 20px 30px;
  }

  &-reply {
    margin: 0 0 0 70px;
    padding: 0;
    border-top: 1px solid $grey-lighter;
    ;

    #{$self}-item {
      position: relative;
      padding: 20px 30px 20px 0;
      border-bottom: 1px solid $grey-lighter;

      &:before {
        content: '';
        width: 2px;
        height: calc(100% + 1px);
        position: absolute;
        top: 0;
        left: -12px;
        background: $grey;
      }
    }

    #{$self}-add {
      margin: 20px 30px 20px 0;
    }
  }

  &-desc {
    padding: 0 0 0 40px;
    margin: 10px 0 0;
  }

  &-vote {
    padding: 0 0 0 40px;
    margin: 10px 0 0;

    .dp-po-icon {
      border-radius: 50%;
      border: 1px solid $grey-lighter;
      padding: 11px;
      background-position: center;
      background-size: 9px auto;
      margin: 0 10px 0 0;
    }
  }

  &-upvote {
    display: inline-flex;
    align-items: center;
    color: $grey-dark;
    font-size: 15px;
    margin: 0 20px 0 0;

    .dp-po-icon {}

    &:hover {
      color: $brand-primary;
      text-decoration: none;

      .dp-po-icon {
        background: $brand-primary;
        border-color: $brand-primary;
      }
    }
  }

  &-downvote {
    display: inline-flex;
    align-items: center;
    color: $grey-dark;
    font-size: 15px;

    .dp-po-icon {}

    &:hover {
      color: $danger;
      text-decoration: none;

      .dp-po-icon {
        background: $danger;
        border-color: $danger;
      }
    }
  }

  &-extras {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-time {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;

    .dp-po-icon {
      margin-right: 10px;
      width: 14px;
      height: 14px;
    }
  }

  &-options {
    margin: 0 0 0 20px;
    height: 17px;

    &-list {
      position: absolute;
      background: $white;
      border: 1px solid $grey-light;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 5px 0;
      margin: 0;
      left: 0;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    }

    &-item {
      list-style: none;
    }

    &-link {
      font-size: 18px;
      padding: 10px 20px;
      color: $grey-darkest;
      font-family: Rubik;
      display: block;
      white-space: nowrap;

      &:hover {
        background: $info-light;
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }

  &-attachments {
    background: $grey-lightest;
    border-radius: 4px;
    padding: 20px;
    margin: 10px 0 0 40px;

    &-title {
      color: $grey-dark;
      font-size: 15px;
      margin: 0 0 15px;
    }

    &-list {
      margin: 0;
      padding: 0;
    }

    &-item {
      list-style: none;
      margin-top: 5px;
    }

    &-link {
      display: inline-flex;
      align-items: center;
      color: $brand-primary;

      &:hover {
        color: $brand-primary;
      }

      .dp-po-icon {
        margin: 0 10px 0 0;
      }
    }
  }
}
