.dp-po-download-listing {
  $self: '.dp-po-download-listing';
  margin-bottom: 30px;

  &:last-child {
    margin: 0;

    #{$self}-item {
      &:last-child {
        #{$self}-link {
          border: none;
        }
      }
    }
  }

  &-heading {
    @include typo($s23, 400, 'head');
    color: $grey-darkest;
    margin: 0;
  }

  &-item {}

  &-link {
    display: flex;
    color: $grey-darkest;
    position: relative;
    border-bottom: 1px solid $grey-light;
    padding: 20px 0;

    &:hover {
      text-decoration: none;
      color: $grey-darkest;

      #{$self}-title {
        color: $brand-primary;
      }
    }
  }

  &-figure {
    margin: 0 20px 0 0;
    flex: 0 0 35px;
  }

  &-icon {}

  &-content {
    overflow: hidden;
    white-space: nowrap;
  }

  &-title {
    @include typo($s19, 400, 'head');
    flex: 0 0 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 120px;
    line-height: 1.2;
    margin: 0;
  }

  .dp-po-avatar {
    display: inline-flex;
    vertical-align: middle;
    color: $grey;
    font-size: $s15;

    strong {
      font-weight: normal;
    }

    img {
      width: 20px;
    }
  }

  &-count {
    display: inline-flex;
    vertical-align: middle;
    margin-left: 20px;
    @include typo($s14, 600, 'body');
    position: relative;

    .dp-po-icon {
      color: $brand-primary;
      margin-right: 10px;
      position: relative;
    }

    &:before {
      content: '';
      width: 1px;
      height: 100%;
      background: $grey-light;
      position: absolute;
      left: -12px;
      top: 0;
    }
  }

  &-time {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    right: 0;

    .dp-po-icon {
      margin-right: 7px;
      color: $brand-primary;
    }
  }
}
