.dp-po-download-listing {
  $self: ".dp-po-download-listing";
  margin-bottom: 30px;

  &:last-child {
    margin: 0;

    #{$self}-item {
      &:last-child {
        #{$self}-link {
          border: none;
        }
      }
    }
  }

  &-heading {
    @include typo($s23, 400, "head");
    margin: 0;
  }

  &-link {
    position: relative;
    display: flex;
    padding: 20px 0;
    color: $text-color;
    border-bottom: 1px solid $grey-light;

    &:hover {
      color: $text-color;
      text-decoration: none;

      #{$self}-title {
        color: $brand-primary;
        text-decoration: underline;
      }
    }
  }

  &-figure {
    flex: 0 0 35px;
    margin: 0 20px 0 0;
  }

  &-content {
    overflow: hidden;
    white-space: nowrap;
  }

  &-title {
    @include typo($s19, 400, "head");
    flex: 0 0 100%;
    padding-right: 120px;
    margin: 0 0 4px;
    overflow: hidden;
    line-height: 1.2;
    text-overflow: ellipsis;
  }

  .dp-po-avatar {
    display: inline-flex;
    font-size: $s15;
    color: $grey;
    vertical-align: middle;

    strong {
      font-weight: 400;
    }

    &-name,
    &-image {
      width: 24px;
      height: 24px;
      padding: 4px 0;
      font-size: 12px;
      font-weight: 400;
    }
  }

  &-count {
    position: relative;
    display: inline-flex;
    margin-left: 20px;
    vertical-align: middle;
    @include typo($s14, 600, "body");

    .dp-po-icon {
      position: relative;
      margin-right: 10px;
      color: $brand-primary;
    }

    &::before {
      position: absolute;
      top: 0;
      left: -12px;
      width: 1px;
      height: 100%;
      content: "";
      background: $grey-light;
    }
  }

  &-time {
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 600;

    .dp-po-icon {
      margin-right: 7px;
      color: $brand-primary;
    }
  }
}
