@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Rubik:400,500&display=swap');

[class^="dp-po-"] {
  font: $font-size-base $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dp-po-h1 { font: $h1-font-size $headings-font-family; }
.dp-po-h2 { font: $h2-font-size $headings-font-family; }
.dp-po-h3 { font: $h3-font-size $headings-font-family; }
.dp-po-h4 { font: $font-weight-medium $h4-font-size $headings-font-family; }
.dp-po-h5 { font: $h5-font-size $headings-font-family; }
.dp-po-h6 { font: $font-weight-medium $h6-font-size $headings-font-family; }

.dp-po-p1, .dp-po-paragraph { font-size: $p1-font-size; }
.dp-po-p2 { font-size: $p2-font-size; }
.dp-po-p3 { font-size: $p3-font-size; }
.dp-po-p4 { font-size: $p4-font-size; }

.dp-po-paragraph,
.dp-po-p1,
.dp-po-p2,
.dp-po-p3,
.dp-po-p4,
.dp-po-p5 {
  font-family: $font-family-sans-serif;
  line-height: $line-height-base;
}
