.dp-po-footer {
  text-align: center;
  background: $grey-lighter;
  border-top: 1.5px solid $grey-light;

  &-copyright {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;

    &::before,
    &::after {
      position: absolute;
      top: 19px;
      left: -120px;
      width: 100px;
      height: 2px;
      content: "";
      background: $grey-light;
    }

    &::after {
      right: -120px;
      left: auto;
    }
  }

  &-powered {
    margin-right: 10px;
    font-size: 12px;
    color: $grey-dark;
  }

  &-deskpro {
    img {
      width: 90px;
    }
  }
}
