.dp-po-footer {
  text-align: center;
  background: $grey-lighter;
  border-top: 1.5px solid $grey-light;

  &-copyright {
    display: inline-flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    position: relative;

    &:before,
    &:after {
      content: "";
      width: 100px;
      position: absolute;
      height: 2px;
      background: $grey-light;
      left: -120px;
      top: 24px;
    }

    &:after {
      left: auto;
      right: -120px;
    }
  }

  &-powered {
    font-size: 12px;
    color: $grey-dark;
    margin-right: 10px;
  }

  &-deskpro {
    img {
      width: 95px;
    }
  }
}
