.dp-po-guides-tabs {
  $self: ".dp-po-guides-tabs";
  min-height: 10px;
  background: $grey-lightest;

  &-list {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    max-width: calc(78% - 26px);
    margin: 0 3px;
    white-space: nowrap;
  }

  &-item {
    position: relative;
    display: inline-block;
    flex-shrink: 1;
    min-width: 178px;
    max-width: 315px;
    margin: 0 0 0 -3px;
    background: #fbfbfb;
    border: 1px solid #d3d6d7;
    border-right-color: #fff !important;
    border-bottom-width: 0;
    border-radius: 4px 0 0;
    &:first-child {
      margin-right: auto;
    }
    &::before,
    &::after {
      position: absolute;
      right: -26px;
      width: 0;
      height: 0;
      content: "";
      border-right: 26px solid transparent;
    }
    &::before {
      top: -1px;
      border-bottom: 65px solid #d3d6d7;

    }
    &::after {
      top: 1px;
      border-bottom: 65px solid #fbfbfb;
    }

    &.active {
      z-index: 1;
      color: #4c4f50;
      background-color: #fff;
      border-color: #a9b0b0;
      &::after {
        z-index: 1;
        border-bottom-color: #fff;
      }
      &::before {
        z-index: 1;
        border-bottom-color: #a9b0b0;
      }
      #{$self}-link {
        color: #4c4f50 !important;
      }
    }
  }

  &-link {
    @include typo($s26, 400, "head");
    display: block;
    width: 100%;
    padding: 10px 10px 10px 20px;
    overflow: hidden;
    font-size: $s19;
    color: #8b9293;
    text-overflow: ellipsis;
    white-space: nowrap;

    .dp-po-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin-right: 5px;
      margin-bottom: 0;
      font-size: 15px;
      color: $white;
      vertical-align: middle;
      background: $warning;
      border-radius: 50%;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  &-image {
    width: 100%;
    height: 126px;
    margin: 0;
    background-size: cover;
    border-bottom: 2px solid $grey-light;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-extra {
    position: relative;

    &-list {
      display: flex;
      align-items: center;
      padding: 0 20px 0 0;
      margin: 0;
    }

    &-item {
      margin-left: 10px;
      list-style: none;
    }

    &-link {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      color: $grey-dark;
      border: 1px solid $grey-light;
      border-radius: 50%;

      &:hover {
        border-color: $brand-primary;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      left: -10px;
      width: 1px;
      height: 100%;
      content: "";
      background: $grey-light;
    }
  }

  .slick-track {
    display: flex;
    align-items: baseline;
    margin: 0;
  }

  &-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -21px;
    z-index: 9;
    width: 52px;
    height: 52px;
    margin: auto;
    font-size: 30px;
    color: $white;
    background: $brand-primary;
    border: 2px solid $brand-primary;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    opacity: .9;

    .dp-po-icon {
      position: relative;
      left: -1px;
    }

    &-right {
      right: -21px;
      left: auto;

      .dp-po-icon {
        right: -1px;
        left: auto;
      }
    }

    &:hover {
      color: $brand-primary;
      cursor: pointer;
      background: $white;
      opacity: 1;
    }

    &.slick-disabled {
      opacity: 0 !important;
    }
  }

  &.sticky {
    #{$self}-list {
      position: fixed;
      top: 30px;
      left: 15px;
      width: calc(100% - 30px);
    }

    #{$self}-image {
      display: none;
    }
  }
}
.dp-po-guides-dropdown {
  $self: ".dp-po-guides-dropdown";
  position: relative;
  &-button {
    display: flex;
    max-width: 30%;
    padding: 8px 0 3px;
    margin-bottom: 6px;
    font-family: $font-family-sans-serif;
    font-size: $s23;
    color: #4c4f50;
    white-space: nowrap;
    background: none;
    border: 0;
    &:hover {
      color: var(--brand-primary);
    }
    span {
      display: inline-block;
      align-self: start;
      margin-top: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .fa-angle-down {
      margin-top: 8px;
      margin-left: 10px;
      font-size: 25px;
    }
  }
  &.opened {
    #{$self}-button .fa-angle-down {
      transform: rotate(180deg);
    }
  }
  &-menu {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 10;
    box-sizing: border-box;
    display: none;
    width: 270px;
    background: #fff;
    border: 1px solid #a9b0b0;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .25);

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: inline;
        text-indent: 0;
        a {
          position: relative;
          max-width: none;
          padding-left: 65px;
          margin-block-start: 0;
          figure {
            position: absolute;
            left: 20px;
          }
        }
      }
    }
    .all-guides {
      border-top: 1px solid $grey;
      .dp-po-guides-dropdown-link {
        padding: 11px 21px 16px;
      }
      figure.dp-po-icon {
        width: 18px;
        color: $brand-primary;
        vertical-align: 2px;
      }
    }
  }
  &-link {
    @include typo($s18, 400, "head");
    display: block;
    width: 100%;
    max-width: 270px;
    padding: 10px 20px;
    overflow: hidden;
    line-height: 150%;
    color: #4c4f50;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  figure.dp-po-icon {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 15px;
    color: #fff;
    vertical-align: -3px;
    background: var(--warning);
    border-radius: 50%;
    img {
      max-width: 20px;
      max-height: 20px;
    }
  }
}
