.dp-po-guides-tabs {
  $self: '.dp-po-guides-tabs';
  margin-bottom: -6px;
  background: $grey-lightest;
  min-height: 10px;
  max-width: 1545px;

  &-list {
    margin: 0 28px;
  }

  &-item {
    border-radius:  4px 0 0 0;
    border: 1px solid #EFF0F0;
    border-right-color: #FFF !important;
    background: #FBFBFB;
    display: inline-block;
    margin: 0 0 0 -3px;
    max-width: 315px;
    position: relative;
    :first-of-type {
      margin-left: 0;
    }
    &::before {
      position: absolute;
      right: -40px;
      top: -1px;
      content: '';
      width: 0;
      height: 0;
      border-bottom: 100px solid #EFF0F0;
      border-right: 40px solid transparent;
    }
    &::after {
      position: absolute;
      right: -40px;
      top: 1px;
      content: '';
      width: 0;
      height: 0;
      border-bottom: 100px solid #FBFBFB;
      border-right: 40px solid transparent;
    }

    &.active {
      background-color: #FFF;
      border-color: #D3D6D7;
      color: #4C4F50;
      z-index: 1;
      &::after {
        border-bottom-color: #FFF;
        z-index: 1;
      }
      &::before {
        border-bottom-color: #D3D6D7;
        z-index: 1;
      }
      #{$self}-link {
        color: #4C4F50 !important;
      }
    }
  }

  &-link {
    @include typo($s26, 400, 'head');
    color: #8B9293;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    padding: 15px 20px 15px 30px;

    .dp-po-icon {
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      display: inline-flex;
      background: $warning;
      color: $white;
      border-radius: 50%;
      margin-right: 5px;
      margin-bottom: 0;
      font-size: 20px;
      vertical-align: middle;

      img {
        max-width: 20px;
        max-height: 20px;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  &-image {
    border-bottom: 2px solid $grey-light;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-size: cover;
    height: 126px;
    width: 100%;
    margin: 0;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-extra {
    position: relative;

    &-list {
      margin: 0;
      padding: 0 20px 0 0;
      display: flex;
      align-items: center;
    }

    &-item {
      list-style: none;
      margin-left: 10px;
    }

    &-link {
      border-radius: 50%;
      border: 1px solid $grey-light;
      color: $grey-dark;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      display: inline-flex;

      &:hover {
        border-color: $brand-primary;
      }
    }

    &:before {
      content: '';
      width: 1px;
      height: 100%;
      background: $grey-light;
      position: absolute;
      left: -10px;
      top: 0;
    }
  }

  .slick-track {
    margin: 0;
    display: flex;
    align-items: baseline;
  }

  &-arrow {
    position: absolute;
    background: $brand-primary;
    z-index: 9;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    color: $white;
    left: -21px;
    bottom: 0;
    top: 0;
    margin: auto;
    opacity: 0.9;
    border: 2px solid $brand-primary;

    .dp-po-icon {
      position: relative;
      left: -1px;
    }

    &-right {
      left: auto;
      right: -21px;

      .dp-po-icon {
        right: -1px;
        left: auto;
      }
    }

    &:hover {
      cursor: pointer;
      background: $white;
      color: $brand-primary;
      opacity: 1;
    }

    &.slick-disabled {
      opacity: 0 !important;
    }
  }

  &.sticky {
    #{$self}-list {
      position: fixed;
      width: calc(100% - 30px);
      top: 30px;
      left: 15px;
    }

    #{$self}-image {
      display: none;
    }
  }
}
.dp-po-guides-dropdown {
  $self: '.dp-po-guides-dropdown';
  margin: 0 28px;
  position: relative;
  &-button {
    border: 0;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #4C4F50;
    background: none;
    font-size: $s23;
    .fa-angle-down {
      margin-left: 10px;
      font-size: 25px;
    }
    margin-bottom: 20px;
  }
  &.opened {
    #{$self}-button .fa-angle-down {
      transform: rotate(180deg);
    }
  }
  &-menu {
    position: absolute;
    display: none;
    background: #FFFFFF;
    top: 50px;
    left: 0;
    border: 1px solid #A9B0B0;
    box-sizing: border-box;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    max-height: 580px;
    min-width: 270px;
    z-index: 10;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  &-link {
    @include typo($s18, 400, 'head');
    color: #4C4F50;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    line-height: 150%;
    padding: 10px 20px;
  }
  figure.dp-po-icon {
    margin-right: 10px;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: -3px;
    margin-bottom: 0;
    font-size: 20px;
    background: var(--warning);
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
