.dp-po-guides-tabs {
  $self: '.dp-po-guides-tabs';
  background: $grey-lightest;
  min-height: 10px;

  &-list {
    margin: 0 3px;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    max-width: calc(78% - 26px);
    flex-direction: row-reverse;
  }

  &-item {
    border-radius:  4px 0 0 0;
    border: 1px solid #d3d6d7;
    border-right-color: #FFF !important;
    border-bottom-width: 0;
    background: #FBFBFB;
    display: inline-block;
    margin: 0 0 0 -3px;
    max-width: 315px;
    min-width: 178px;
    position: relative;
    flex-shrink: 1;
    &:first-child {
      margin-right: auto;
    }
    &::before, &::after {
      position: absolute;
      right: -26px;
      border-right: 26px solid transparent;
      content: '';
      width: 0;
      height: 0;
    }
    &::before {
      top: -1px;
      border-bottom: 65px solid #d3d6d7;

    }
    &::after {
      top: 1px;
      border-bottom: 65px solid #FBFBFB;
    }

    &.active {
      background-color: #FFF;
      border-color: #A9B0B0;
      color: #4C4F50;
      z-index: 1;
      &::after {
        border-bottom-color: #FFF;
        z-index: 1;
      }
      &::before {
        border-bottom-color: #A9B0B0;
        z-index: 1;
      }
      #{$self}-link {
        color: #4C4F50 !important;
      }
    }
  }

  &-link {
    @include typo($s26, 400, 'head');
    color: #8B9293;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-size: $s19;
    padding: 10px 10px 10px 20px;

    .dp-po-icon {
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
      display: inline-flex;
      background: $warning;
      color: $white;
      border-radius: 50%;
      margin-right: 5px;
      margin-bottom: 0;
      font-size: 15px;
      vertical-align: middle;

      img {
        max-width: 20px;
        max-height: 20px;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  &-image {
    border-bottom: 2px solid $grey-light;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-size: cover;
    height: 126px;
    width: 100%;
    margin: 0;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-extra {
    position: relative;

    &-list {
      margin: 0;
      padding: 0 20px 0 0;
      display: flex;
      align-items: center;
    }

    &-item {
      list-style: none;
      margin-left: 10px;
    }

    &-link {
      border-radius: 50%;
      border: 1px solid $grey-light;
      color: $grey-dark;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      display: inline-flex;

      &:hover {
        border-color: $brand-primary;
      }
    }

    &:before {
      content: '';
      width: 1px;
      height: 100%;
      background: $grey-light;
      position: absolute;
      left: -10px;
      top: 0;
    }
  }

  .slick-track {
    margin: 0;
    display: flex;
    align-items: baseline;
  }

  &-arrow {
    position: absolute;
    background: $brand-primary;
    z-index: 9;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    color: $white;
    left: -21px;
    bottom: 0;
    top: 0;
    margin: auto;
    opacity: 0.9;
    border: 2px solid $brand-primary;

    .dp-po-icon {
      position: relative;
      left: -1px;
    }

    &-right {
      left: auto;
      right: -21px;

      .dp-po-icon {
        right: -1px;
        left: auto;
      }
    }

    &:hover {
      cursor: pointer;
      background: $white;
      color: $brand-primary;
      opacity: 1;
    }

    &.slick-disabled {
      opacity: 0 !important;
    }
  }

  &.sticky {
    #{$self}-list {
      position: fixed;
      width: calc(100% - 30px);
      top: 30px;
      left: 15px;
    }

    #{$self}-image {
      display: none;
    }
  }
}
.dp-po-guides-dropdown {
  $self: '.dp-po-guides-dropdown';
  position: relative;
  &-button {
    border: 0;
    font-family: $font-family-sans-serif;
    color: #4C4F50;
    background: none;
    font-size: $s23;
    margin-bottom: 6px;
    white-space: nowrap;
    display: flex;
    max-width: 30%;
    padding: 8px 0 3px;
    &:hover {
      color: var(--brand-primary);
    }
    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
      margin-top: 4px;
      align-self: start;
    }

    .fa-angle-down {
      margin-left: 10px;
      font-size: 25px;
      margin-top: 8px;
    }
  }
  &.opened {
    #{$self}-button .fa-angle-down {
      transform: rotate(180deg);
    }
  }
  &-menu {
    position: absolute;
    display: none;
    background: #FFFFFF;
    top: 50px;
    left: 0;
    border: 1px solid #A9B0B0;
    box-sizing: border-box;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 270px;
    z-index: 10;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline;
        text-indent: 0;
        a {
          margin-block-start: 0;
          position: relative;
          padding-left: 65px;
          max-width: none;
          figure {
            position: absolute;
            left: 20px;
          }
        }
      }
    }
    .all-guides {
      border-top: 1px solid $grey;
      .dp-po-guides-dropdown-link {
        padding: 11px 21px 16px;
      }
      figure.dp-po-icon {
        color: $brand-primary;
        width: 18px;
        vertical-align: 2px;
      }
    }
  }
  &-link {
    @include typo($s18, 400, 'head');
    color: #4C4F50;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    max-width: 270px;
    line-height: 150%;
    padding: 10px 20px;
  }
  figure.dp-po-icon {
    margin-right: 10px;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: -3px;
    margin-bottom: 0;
    font-size: 15px;
    background: var(--warning);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    flex-shrink: 0;
    img {
      max-width: 20px;
      max-height: 20px;
    }
  }
}
