.dp-po-guides {
  $self: '.dp-po-guides';

  &-item {
    margin-bottom: 30px;
  }

  &-link {
    display: flex;
    color: $text-color;

    &:hover {
      text-decoration: none;

      #{$self}-content {
        color: $text-color;
      }

      #{$self}-title {
        text-decoration: underline;
      }

      #{$self}-btn {
        opacity: 0.8;
      }
    }
  }

  &-left {
    text-align: center;
    flex: 0 0 50%;
  }

  &-right {
    flex: 0 0 50%;
    display: flex;
    flex-wrap: wrap;
  }

  &-icon {
    flex: 0 0 140px;
    width: 140px;
    height: 140px;
    background: $info-light;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .dp-po-icon {
      font-size: 70px;
    }

    &-purple {
      background: $purple-light;
    }

    &-neutral {
      background: $neutral-light;
    }

    &-warning {
      background: $warning-light;
    }

    &-success {
      background: $success-light;
    }

    &-pink {
      background: $pink-light;
    }

    &-danger {
      background: $danger-light;
    }
  }

  &-title {
    margin: 25px 0 0;
  }

  &-content {
    line-height: 1.5;
  }

  &-btn {
    align-self: flex-end;
  }

  .fixed {
    #{$self}-carousel {
      position: fixed;
      z-index:2;
      max-width: 100%;
      padding: 30px 0 0;
      top: 0;
      left: 0;
      right: 0;

      .dp-po-carousel-shadow {
        border-top: 2px solid $grey-light;
        width: 100%;
        height: 30px;
        margin-top: -5px;
        z-index: 3;
        position: relative;
        background-color: $grey-lightest;
      }
    }
    #{$self}-search {
      position: fixed;
      top: 28px;
    }
    #{$self}-search-block {
      overflow-y: auto;
      max-height: calc(100vh - 157px);
    }
    #{$self}-image {
      display: none;
    }
    #{$self}-block-article-right {
      top: 28px;
    }
    #{$self}-block-header {
      z-index: 1;
    }

    .with-splash {
      &#{$self}-section {
        margin-top: 201px;
      }
      #{$self}-search {
        top: 255px;
        max-height: calc(100vh - 283px);
      }
      #{$self}-block-article-right,
      #{$self}-block-header {
        top: 255px;
      }
    }
  }

  &-loading {
    background: $white;
    border: 1px solid $grey-light;
    text-align: center;
    z-index: 4;
    top: 0;
    bottom: 0;
    border-radius: 4px 4px 0 0;
    width: 100%;
    padding: calc(50vh - 27px) calc(50% - 145px);
    margin-bottom: 40px;
  }


}
