.dp-po-guides-carousel {
  $self: '.dp-po-guides-carousel';
  margin-bottom: 50px;
  background: $grey-lightest;
  min-height: 10px;

  &-list {}

  &-item {
    border-radius: 4px;
    border: 2px solid $grey-light;
    background: $white;
    display: inline-block;
    margin: 0 5px;
    max-width: 400px;

    &:hover {
      border-color: $brand-primary;
    }
  }

  &-link {
    @include typo($s26, 400, 'head');
    color: $grey-darkest;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    padding: 15px 20px;

    .dp-po-icon {
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      display: inline-flex;
      background: $warning;
      color: $white;
      border-radius: 50%;
      margin-right: 5px;
      font-size: 20px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &-image {
    border-bottom: 1px solid $grey-light;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-extra {
    position: relative;

    &-list {
      margin: 0;
      padding: 0 20px 0 0;
      display: flex;
      align-items: center;
    }

    &-item {
      list-style: none;
      margin-left: 10px;
    }

    &-link {
      border-radius: 50%;
      border: 1px solid $grey-light;
      color: $grey-dark;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      display: inline-flex;

      &:hover {
        border-color: $brand-primary;
      }
    }

    &:before {
      content: '';
      width: 1px;
      height: 100%;
      background: $grey-light;
      position: absolute;
      left: -10px;
      top: 0;
    }
  }

  .slick-track {
    margin: 0;
  }

  &-arrow {
    position: absolute;
    border: none;
    background: $brand-primary;
    z-index: 9;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    color: $white;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    opacity: 0.9;
    border: 2px solid $brand-primary;

    .dp-po-icon {
      position: relative;
      left: -1px;
    }

    &-right {
      left: auto;
      right: 0;

      .dp-po-icon {
        right: -1px;
        left: auto;
      }
    }

    &:hover {
      cursor: pointer;
      background: $white;
      color: $brand-primary;
      opacity: 1;
    }

    &.slick-disabled {
      opacity: 0 !important;
    }
  }

  &.sticky {
    #{$self}-list {
      position: fixed;
      width: calc(100% - 30px);
      top: 30px;
      left: 15px;
    }

    #{$self}-image {
      display: none;
    }
  }
}
