.dp-po-guides {
  $self: ".dp-po-guides";

  &-search-block {
    height: 100%;
    min-height: calc(100vh - 556px);
  }

  &-item {
    box-sizing: border-box;
    height: 260px;
    margin-bottom: 30px;
    &:hover {
      filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, .1));
    }
  }

  &-card {
    display: flex;
    color: $text-color;
    border: 1px solid #d3d6d7;
    border-radius: 10px;

    &:hover {
      border-color: $brand-primary;

      #{$self}-content {
        color: $text-color;
      }

      #{$self}-title {
        a {
          color: $brand-primary;
        }
      }
    }
  }

  &-left {
    position: relative;
    flex-shrink: 0;
    width: 162px;
    height: 258px;
    overflow: hidden;
    text-align: center;
    background-color: #fbfbfb;
    border-radius: 9px 0 0 9px;

    #{$self}-image {
      width: 100%;
      height: 100%;
      margin: 0;
      background-position: center;
      background-size: cover;
    }

    #{$self}-icon-background {
      position: absolute;
      top: calc(50% - 109px);
      left: calc(50% - 110px);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 220px;
      height: 220px;
      margin-bottom: 0;
      font-size: 150px;
      color: #fff;
      background: #f0f0f0;
      filter: grayscale(1);
      border-radius: 50%;
      opacity: .1;
      img,
      svg {
        width: 60%;
        height: auto;
        color: #fff !important;
        vertical-align: -16px;
      }
      span.dp-po-icon {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    #{$self}-icon {
      position: absolute;
      top: calc(50% - 32px);
      left: calc(50% - 33px);
      display: flex;
      flex: 0 0 140px;
      align-items: center;
      justify-content: center;
      width: 66px;
      height: 66px;
      margin: 0 auto;
      font-size: 40px;
      color: #fff;
      background: $info-light;
      border-radius: 50%;
      img,
      svg {
        width: 60%;
        height: auto;
        color: #fff !important;
        vertical-align: -6px;
      }
    }
  }

  &-right {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(100% - 162px);
    max-height: 258px;
    padding: 40px 40px 30px;
    background: #fff;
    border-radius: 0 9px 9px 0;

    #{$self}-title {
      flex-grow: 0;
      width: 100%;
      max-width: 100%;
      height: 35px;
      max-height: 35px;
      a,
      span {
        display: inline-block;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        color: $grey-darkest;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &-content {
    position: relative;
    display: -webkit-box;
    flex-grow: 1;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% - 106px);
    overflow: hidden;
    line-height: 1.5;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &-btn {
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 0;
    color: #8b9293;
    border: 1px solid #a9b0b0;
    transition: none;
    &:hover {
      color: $brand-primary;
      background: none;
      border-color: $brand-primary;
    }
  }

  .fixed {
    #{$self}-carousel {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 2;
      max-width: 100%;
      padding: 30px 0 0;

      .dp-po-carousel-shadow {
        position: relative;
        z-index: 3;
        width: 100%;
        height: 30px;
        margin-top: -5px;
        background-color: $grey-lightest;
        border-top: 2px solid $grey-light;
      }
    }
    #{$self}-search {
      position: fixed;
      top: 28px;
    }
    #{$self}-search-block {
      max-height: calc(100vh - 157px);
      overflow-y: auto;
    }
    #{$self}-image {
      display: none;
    }
    #{$self}-block-article-right {
      top: 28px;
    }
    #{$self}-block-header {
      z-index: 1;
    }

    .with-splash {
      &#{$self}-section {
        margin-top: 201px;
      }
      #{$self}-search {
        top: 255px;
        max-height: calc(100vh - 283px);
      }
      #{$self}-block-article-right,
      #{$self}-block-header {
        top: 255px;
      }
    }
  }

  &-loading {
    top: 0;
    bottom: 0;
    z-index: 4;
    width: 100%;
    padding: calc(50vh - 27px) calc(50% - 145px);
    margin-bottom: 40px;
    text-align: center;
    background: $white;
    border: 1px solid $grey-light;
    border-radius: 4px 4px 0 0;
  }

  &-landing {
    min-height: calc(100vh - 135px);
    background-color: #fff;
    border: 1px solid #d3d6d7;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    &-splash {
      display: block;
      width: 100%;
      height: 440px;
      object-fit: cover;
      border-radius: 9px 9px 0 0;
    }
    &-title {
      padding: 27px 30px;
      border-bottom: 1px solid #d3d6d7;
      h1 {
        max-width: 100%;
        margin-bottom: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &-splash + .dp-po-guides-landing-title {
      padding-top: 17px;
    }
    &-body {
      padding: 30px;
      .dp-po-guides-btn {
        margin-top: 5px;
      }
    }
  }
  &-item.d-sm-none {
    #{$self}-content {
      height: calc(100% - 50px);
      -webkit-line-clamp: 5;
    }
  }
}
