.dp-po-guides-search {
  $self: ".dp-po-guides-search";
  height: 100%;

  &-form {
    position: sticky;
    width: 100%;
    margin-bottom: 20px;

    input[type="search"] {
      width: 100%;
      padding: 11px 10px 12px 48px;
      font-size: $s17;
      color: $grey-dark;
      background: $white;
      border: 1px solid $grey-light;
      border-radius: 4px;
      outline: none;

      &:hover {
        border-color: $brand-primary;
      }

      &:focus {
        border-color: $brand-primary;
      }
    }

    button[type="submit"] {
      position: absolute;
      top: calc(50% - 16px);
      left: 13px;
      width: 32px;
      height: 32px;
      padding: 0;
      font-size: 18px;
      color: $brand-primary;
      background-color: $white;
      border: none;

      svg {
        vertical-align: -1px;
      }
    }

  }

  &-block {
    padding: 0;
    background: #fff;
    border: 1px solid #d3d6d7;
    border-radius: 4px;
  }

  &-main {
    margin: 20px;
    #{$self}-content-list {
      padding: 0;
    }
  }

  &-content {
    margin: 0 20px;
    &-title {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      max-width: 100%;
      padding: 11px 10px 11px 0;
      color: $grey-darkest;
      text-transform: uppercase;
      cursor: pointer;
      border-bottom: 1px solid $brand-primary;
      border-radius: 2px;

      @include typo($s17, 500, "head");
      .title {
        display: inline-block;
        max-width: calc(100% - 14px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .guide-icon {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        margin-bottom: 0;
        font-size: 12px;
        color: #fff;
        border-radius: 50%;
        svg {
          width: 12px;
          background: none !important;
        }
        img {
          width: 100%;
          border-radius: 50%;
        }
      }

      .dp-po-icon.fa-angle-down {
        margin-left: 12px;
        font-size: 20px;
        line-height: 0;
        color: $brand-primary;
        transform: rotate(180deg);
      }

      &.collapsed {
        &:not(:hover) {
          color: $grey-dark;
          border-bottom-color: $grey-light;

          .guide-icon {
            background-color: #a9b0b0 !important;
            svg.svg-inline--fa {
              background: none !important;
            }
          }
        }

        .dp-po-icon.fa-angle-down {
          transform: rotate(0);
        }
      }

      &:hover {
        color: $brand-primary;
        text-decoration: none;
      }
    }

    &-list {
      padding: 13px 0;
      margin: 0;

      .dp-po-icon {
        display: inline-block;
        padding-right: 3px;
        margin-bottom: 0;
      }
      .fa-caret-down {
        margin-left: 10px;
        vertical-align: 1px;
        opacity: 0;
      }

      a:hover {
        text-decoration: none;
        .fa-caret-down {
          opacity: 1;
        }
      }

      .expanded .fa-caret-down {
        transform: rotate(180deg);
      }

      .chapter {
        font-weight: 700;
        text-transform: uppercase;
        &:hover {
          color: var(--brand-primary);
        }
      }
    }

    &-item {
      max-width: 100%;
      margin-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      list-style: none;
    }

    &-link {
      @include typo($s15, 700, "body");
      color: $grey-darkest;
      text-transform: uppercase;
    }

    &-suplist {
      padding: 0;
      margin: 0;
    }

    &-supitem {
      max-width: 100%;
      margin-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      list-style: none;
      &:first-child {
        margin-top: 3px;
      }
    }

    &-suplink {
      @include typo($s15, 400, "body");
      color: $grey-darkest;

      &.active {
        color: $brand-primary;
      }
    }

    &-sublist {
      //padding: 0;
      position: relative;
      padding: 0 0 0 20px;
      margin: 0;

      &::before {
        position: absolute;
        top: 2px;
        left: 0;
        width: 2px;
        height: calc(100% - 4px);
        content: "";
        background: $grey-light;
      }
    }

    &-subitem {
      margin-top: 10px;
      list-style: none;
    }

    &-sublink {
      @include typo($s15, 400, "body");
      position: relative;
      color: $grey-darkest;

      &.active {
        color: $brand-primary;
      }
    }

    &-underlist {
      position: relative;
      padding: 0 0 0 20px;
      margin: 0;

      &::before {
        position: absolute;
        top: 2px;
        left: 0;
        width: 2px;
        height: calc(100% - 4px);
        content: "";
        background: $grey-light;
      }
    }

    &-underitem {
      margin-top: 10px;
      list-style: none;
    }

    &-underlink {
      @include typo($s15, 400, "body");
      position: relative;
      display: block;
      max-width: 100%;
      color: $grey-darkest;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.active {
        color: $brand-primary;

        &::before {
          position: absolute;
          top: 2px;
          left: -20px;
          width: 2px;
          height: calc(100% - 4px);
          content: "";
          background: $brand-primary;
        }
      }
    }

    &-accordion:not(.collapsed) + .dp-po-guides-search-content-accordion {
      .dp-po-guides-search-content-title {
        border-top: 1px solid #d3d6d7;
      }
    }
  }
  &-no-results {
    margin: 12px 20px;
    font-family: $font-family-sans-serif;
    font-size: 15px;
    color: $grey-darkest;
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .fa-search {
      width: 16px;
      margin-right: 10px;
      color: $danger;
      vertical-align: -2px;
    }
  }
  mark.filter-highlight {
    padding: 0;
    color: $brand-primary;
    background-color: inherit;
  }
}

.dp-po-guide-topic-list-item {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
