.dp-po-header {
  padding: 12px 0;
  background: $white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1);

  .dp-po-homelink {
    display: flex !important;
    align-items: center;
    text-decoration: none;

    img {
      max-height: 49px;
    }

    .dp-po-logo {
      position: relative;
      display: block;
      padding: 0 50px 0 0;

      &::after {
        position: absolute;
        top: calc(50% - 14px);
        right: 28px;
        width: 1px;
        height: 28px;
        content: "";
        background: $grey-light;
      }
    }

    &.d-sm-none {
      display: none !important;
    }
  }

  .dp-po-brand-name {
    @extend .h3;
    position: relative;
    padding: 10px 0;
    margin: 0;
    line-height: 2.8;
    color: $text-color;
  }

  .dp-po-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  .dp-po-user {
    position: relative;
    margin-left: 30px;

    &::before {
      position: absolute;
      width: 1px;
      height: 100%;
      content: "";
      background: $grey-light;
    }

    &-login {
      display: flex;
      padding: 10px 15px 10px 30px;
      font-size: $p2-font-size;
      font-weight: 700;
      color: $text-color;

      &:hover {
        color: $grey;
        text-decoration: none;
      }

      .dp-po-icon {
        font-size: 20px;
        color: $brand-primary;
      }

      &-figure {
        position: relative;
      }

      &-count {
        position: absolute;
        top: -9px;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        height: 22px;
        font-family: $font-family-heading;
        font-size: 14px;
        font-weight: 500;
        color: $white;
        background-color: $danger;
        border-radius: 50%;
      }
    }

    &-dropdown {
      padding: 20px;

      .dp-po-social-login {
        display: block;

        .dp-po-oauth {
          margin: 0;
        }
      }

      .dp-po-divider {
        display: block;

        &-text {
          margin: 20px 0;
          text-align: center;

          &::before,
          &::after {
            top: 10px;
            left: 0;
            width: 100px;
            height: 2px;
          }

          &::after {
            right: 0;
            left: auto;
          }
        }
      }

      &-title {
        padding: 0;
        margin: 0 0 20px;
        font-size: $p4-font-size;
      }

      &.dp-po-logged-in-user {
        white-space: nowrap;

        a {
          color: var(--text-color);

          &:hover {
            color: var(--brand-primary);
            text-decoration: none;
          }
        }
      }
    }

    &-menu {
      min-width: 300px;

      &-list {
        padding: 10px 0;
        margin: 20px 0 0;
        border-top: 1px solid $grey-light;
      }

      &-item {
        padding: 10px 0;
        list-style: none;
      }

      &-link {
        display: flex;
        align-items: center;
        color: $grey-darkest;
        white-space: nowrap;
        @include typo($s19, 400, "head");

        &:hover {
          color: $brand-primary;
          text-decoration: none;

          .dp-po-user-menu-image {
            color: $brand-primary;
          }
        }
      }

      &-image {
        width: 30px;
        height: 25px;
        margin-right: 10px;
        fill: $brand-primary;
      }
    }
  }

  .dp-po-language {
    margin-right: 30px;

    &-link {
      display: flex;
      align-items: center;
      height: 30px;
      font-size: $p2-font-size;
      color: $text-color;
      background-color: transparent;
      border: none;

      &:hover {
        color: $brand-primary;
        text-decoration: none;
      }

      &-text {
        display: flex;
        align-items: center;
        line-height: 1;
      }

      img {
        margin-right: 10px;
      }

      .dp-po-icon {
        margin-left: 10px;
        font-size: 20px;
        color: $brand-primary;
      }
    }

    .dropdown-item {
      font-size: $p2-font-size;
    }
  }

  .dp-po-admin-menu {
    $self: ".dp-po-admin-menu";
    margin-left: 30px;

    &-link {
      display: flex;
      align-items: center;
      font-size: $p2-font-size;
      color: $grey-darkest;

      .dp-po-icon-svg {
        margin: 2px 10px 0 0;
        color: $grey;
      }

      .fa-angle-down {
        margin-left: 10px;
      }

      &[aria-expanded="true"],
      &:hover {
        color: $brand-primary;
        text-decoration: none;

        .dp-po-icon-svg {
          color: $brand-primary;
        }
      }

    }

    .dp-po-icon-round {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      color: $white;
      background: $grey;
      border-radius: 50%;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &.show {
      #{$self}-link {
        .dp-po-icon-round {
          background: $brand-primary;
        }
      }
    }

    .dropdown-item {
      font-size: 15px;

      .dp-po-icon-svg {
        margin: 2px 10px 0 0;
        color: $grey;
      }

      &:hover {
        .dp-po-icon-svg {
          color: $brand-primary;
        }
      }
    }

    .dropdown-menu {
      width: 280px;
    }
  }

  .dp-po-admin-edit {
    padding-top: 6px;
    margin-top: 10px;
    border-top: 1px solid $grey-light;
    .dp-po-icon-svg {
      margin: 0 10px 0 0;
      color: $grey;
    }
  }

  .dp-po-admin-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 30px;
    margin-right: 30px;

    &::after {
      position: absolute;
      right: 0;
      width: 1px;
      height: 100%;
      content: "";
      background: #d3d6d7;
    }
  }

  .dp-po-impersonation {
    position: relative;
    max-width: 230px;
    padding-right: 30px;
    margin-right: 30px;

    &-badge {
      display: flex;
      align-items: center;
      padding: 2px 10px;
      margin: 0 0 5px;
      color: $white;
      background: $purple;
      border-radius: 10px;
      @include typo($s12, 600, "body");

      .dp-po-icon {
        margin-right: 10px;
      }
    }

    &-user {
      position: relative;
      display: block;
      align-items: center;
      width: 180px;
      padding: 0 25px 0 10px;
      margin: 0;
      overflow: hidden;
      font-size: $s12;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-close {
      position: absolute;
      top: 1px;
      right: 10px;

      .dp-po-icon {
        font-size: 11px;
        color: $grey;

        &:hover {
          color: $danger;
        }
      }
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      content: "";
      background: #d3d6d7;
    }
  }
}
