.dp-po-header {
  background: $white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 12px 0px;

  .dp-po-homelink {
    display: flex;
    align-items: center;
    text-decoration: none;

    img {
      max-height: 49px;
      max-width: 49px;
    }

    .dp-po-logo {
      position: relative;
      display: block;
      padding: 0 50px 0 0;

      &:after {
        position: absolute;
        content: '';
        width: 1px;
        height: 28px;
        background: $grey-light;
        right: 28px;
        top: 11px;
      }
    }
  }

  .dp-po-brand-name {
    @extend .h3;
    color: $text-color;
    position: relative;
    padding: 10px 0;
    margin: 0;
    line-height: 1.5;
  }

  .dp-po-header-right {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
  }

  .dp-po-user {
    position: relative;
    margin-left: 30px;

    &:before {
      content: '';
      height: 100%;
      width: 1px;
      background: $grey-light;
      position: absolute;
    }

    &-login {
      font-weight: 700;
      color: $text-color;
      font-size: $p2-font-size;
      padding: 10px 30px;
      display: inline-block;

      &:hover {
        color: $grey;
        text-decoration: none;
      }
    }

    &-dropdown {
      padding: 20px;

      .dp-po-social-login {
        display: block;

        .dp-po-oauth {
          margin: 0;
        }
      }

      .dp-po-divider {
        display: block;

        &-text {
          margin: 20px 0;
          text-align: center;

          &:before,
          &:after {
            height: 2px;
            width: 100px;
            top: 10px;
            left: 0;
          }

          &:after {
            left: auto;
            right: 0;
          }
        }
      }

      &-title {
        font-size: $p4-font-size;
        margin: 0 0 20px;
        padding: 0;
      }

      &.dp-po-logged-in-user {
        white-space: nowrap;

        a {
          color: var(--text-color);

          &:hover {
            color: var(--brand-primary);
            text-decoration: none;
          }
        }
      }
    }

    &-menu {
      min-width: 300px;

      &-list {
        margin: 20px 0 0;
        padding: 10px 0;
        border-top: 1px solid $grey-light;
      }

      &-item {
        list-style: none;
        padding: 10px 0;
      }

      &-link {
        display: flex;
        align-items: center;
        white-space: nowrap;
        @include typo($s19, 400, 'head');
        color: $grey-darkest;

        &:hover {
          text-decoration: none;
          color: $brand-primary;

          .dp-po-user-menu-image {
            color: $brand-primary;
          }
        }
      }

      &-image {
        margin-right: 10px;
        width: 25px;
        height: 25px;
      }
    }
  }

  .dp-po-language {
    margin-right: 30px;

    &-link {
      display: flex;
      align-items: center;
      width: 120px;
      justify-content: space-between;
      color: $text-color;
      font-size: $p2-font-size;

      &:hover {
        text-decoration: none;
        color: $brand-primary;
      }

      .dp-po-icon {
        color: $brand-primary;
        font-size: 20px;
      }
    }

    .dropdown-item {
      font-size: $p2-font-size;
    }
  }
}
