.dp-po-category-title {
  .dp-po-icon {
    background: $grey-lightest;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    font-size: 26px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 20px 0 0;
    img {
      max-width: 26px;
      max-height: 26px;
    }
  }

  &-text {
    @include typo($s23, 400, 'head');
    color: $brand-primary;
    margin: 0;

    span {
      font-size: $s19;
    }
  }

  &-link {
    display: inline-flex;
    align-items: center;
    margin: 30px 0 0;

    &:hover {
      color: $brand-primary;

      .dp-po-icon {
        background: $info-light;
      }
    }
  }

  &-expand {
    display: none;
  }
}
