.dp-po-kb-category {
  height: 100%;
  padding-bottom: 1px;

  .dp-po-category-title {
    &-link {
      height: 58px;
      margin: 0 0 20px;
    }
  }

  &-list {
    padding: 0;
    margin: 0 0 62px;
  }

  &-item {
    position: relative;
    display: block;
    padding-left: 23px;
    margin-bottom: 15px;

    &::before {
      position: absolute;
      top: 10px;
      left: 0;
      display: inline-block;
      width: 4px;
      height: 4px;
      font-weight: 600;
      line-height: 0;
      color: $grey-light;
      content: "\25A0";
      transform: scale(.7);
    }

    .badge {
      text-transform: uppercase;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    color: $text-color;
    @include typo($s19, 400, "head");

    &:hover {
      color: $brand-primary;
    }

    &:not([href]) {
      &:hover {
        color: $text-color;
      }
    }

    .badge {
      margin-left: 10px;
    }

    &-draft {
      color: $grey-dark;
    }
  }

  &-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dp-po-viewall {
    position: absolute;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
  }
}
