.dp-po-kb-featured {
  $self: '.dp-po-kb-featured';
  margin: 0 0 40px;

  &-title {
    @include typo($s23, 400, 'head');
    padding: 0 0 20px 0;
    border-bottom: 1px solid $grey-light;
    margin: 0;
  }

  &-list {
    margin: 0;
    padding: 0;
  }

  &-item {
    display: block;
    list-style: none;
  }

  &-link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $grey-darkest;
    margin-top: 30px;
    @include typo($s19, 400, 'head');
    white-space: nowrap;

    &:hover {
      color: $brand-primary;

      #{$self}-number {
        text-decoration: none;
      }
    }
  }

  &-number {
    display: inline-block;
    margin: 0 20px 0 0;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding: 4px 0px;
    text-align: center;
    border-radius: 50%;
    background: $info-light;
    color: $brand-primary;
  }
}
