.container {
  max-width: 1300px;
}

.dp-po-main {
  background: var(--background-color);
  padding: 50px 0;
  min-height: 100vh;
}

.dp-po-section {
  margin: 0 0 40px;
}

button {
  &:focus {
    outline: none;
  }
}

.col-centered {
  margin: 0 auto;
}

a:hover {
  color: $brand-primary;
}
