.container {
  max-width: 1270px;
}

.dp-po-main {
  background: var(--background-color);
  padding: 50px 0;
}

.dp-po-flashes {
  padding-top: 10px;
  background: var(--background-color);
}

.dp-po-section {
  margin: 0 0 40px;
}

button {
  &:focus {
    outline: none;
  }
}

.col-centered {
  margin: 0 auto;
}

:focus {
  outline: none;
}
