.dp-po-messages {
  $self: ".dp-po-messages";

  &-figure {
    margin: 0 20px 0 0;

    #{$self}-avatar-image,
    #{$self}-avatar-name {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 11px 0;
      font-size: 20px;
      color: $white;
      text-align: center;
      vertical-align: bottom;
      background: $grey;
      border-radius: 50%;
    }
  }

  &-list {
    padding: 0;
    margin: 0;
    border-top: 1px solid $grey-light;
  }

  &-item {
    position: relative;
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid $grey-light;

    &-new {
      #{$self}-name {
        font-weight: 500;
      }

      #{$self}-msg {
        color: $text-color;
      }

      #{$self}-status {
        display: block;
      }

      .dp-po-time {
        color: $brand-primary !important;
      }
    }

    &-blocked {
      #{$self}-link {
        color: $grey;
      }

      #{$self}-msg {
        color: $grey !important;
      }

      #{$self}-avatar {
        opacity: .5;
      }

      #{$self}-block {
        &-btn {
          color: $text-color;
        }

        .dp-po-icon {
          color: $danger;
        }
      }
    }

    &-compose {
      border: none;

      #{$self}-wrap {
        display: block;
        width: 100%;
      }
    }
  }

  &-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &-link {
    color: $text-color;

    &:hover {
      text-decoration: none;

      #{$self}-msg {
        color: $brand-primary;
      }
    }
  }

  &-name {
    @include typo($s17, 400, "head");
  }

  &-msg {
    margin: 0;
    font-size: $s15;
    color: $grey-dark;
  }

  &-block {
    position: absolute;
    top: 15px;
    right: 100px;

    &-btn {
      display: inline-flex;
      align-items: center;
      padding: 3px 8px;
      color: $grey-light;
      border: 2px solid $grey-light;
      border-radius: 4px;
      @include typo($s14, 600, "body");

      .dp-po-icon {
        margin-right: 10px;
        font-size: 20px;
      }

      &:hover {
        color: $danger;
        text-decoration: none;
        border-color: $danger;
      }
    }
  }

  .dp-po-time {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: $s12;
    color: $grey-dark;
  }

  &-status {
    position: absolute;
    top: 34px;
    right: 0;
    display: none;
    font-size: 12px;
    color: $brand-primary;
  }

  &-back {
    display: flex;
    align-items: center;
    margin: 0 0 15px;
    font-size: $s15;
    color: $text-color;

    .dp-po-icon {
      margin-right: 10px;
      font-size: 25px;
      color: $brand-primary;
    }

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  &-thread {
    #{$self}-name {
      font-weight: 500;
    }

    #{$self}-item {
      &-mine {
        #{$self}-name {
          color: $grey;
        }
      }

      &-their {
        #{$self}-msg {
          color: $text-color;
        }
      }
    }
  }
}
