.dp-po-navigation-block {
  $self: ".dp-po-navigation-block";

  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0 -15px 0 0;
  }

  &-item {
    flex-grow: 1;
    flex-basis: 0;
    list-style: none;

    &:first-child:nth-last-child(n + 5),
    &:first-child:nth-last-child(n + 5) ~ li {
      #{$self}-link {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &:hover {
          #{$self}-title {
            color: $brand-primary;
            text-decoration: underline;
          }
        }
      }

      #{$self}-figure {
        flex: 0 0 100%;
        height: auto;
        background: none;
      }

      #{$self}-title {
        display: block;
        margin-top: 15px;
        color: $text-color;
        text-align: center;
      }

      #{$self}-right {
        display: block;
        flex: inherit;
        height: auto;
        padding-left: 0;
      }

      #{$self}-desc {
        display: none;
      }
    }
    &:last-child a.dp-po-navigation-block-link {
      margin-right: 15px;
    }
  }

  &-link {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    height: 140px;
    padding: 20px 5px;
    margin: 0 30px 0 0;
    color: $text-color;
    background: $white;
    border: 1.5px solid $grey-light;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .15);

    &:hover {
      text-decoration: none;
      border-color: $brand-primary;

      #{$self}-title {
        color: $brand-primary;
        text-decoration: underline;
      }
    }
  }

  &-figure {
    display: flex;
    flex: 0 0 30%;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 48px;
    margin: 0;
    text-align: center;
    background: $grey-lightest;
    border-radius: 4px;
  }

  &-svg {
    border-radius: 4px;
    fill: var(--brand-primary);
  }

  &-right {
    display: flex;
    flex: 0 0 70%;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-left: 20px;
  }

  &-title {
    @include typo($s19, 400, "head");

    color: $brand-primary;
  }

  &-desc {
    position: relative;
    display: block;
    padding-right: 10px;
    color: $text-color;

    .dp-po-icon {
      position: absolute;
      right: 5px;
      bottom: 0;
      margin-bottom: 0;
      color: $brand-primary;
      svg {
        width: 12px;
      }
    }
  }
}
