.dp-po-news-carousel {
  $self: '.dp-po-news-carousel';
  position: relative;

  &-list {
    margin: 0;
    padding: 0;
    display: flex;
  }

  &-item {
    list-style: none;
    margin: 0 20px;
    display: inline-block;
    border: 2px solid $grey-light;
    border-radius: 6px;
    flex: 1 0 21%;

    &:hover {
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    }

    &-banner {
      #{$self}-cover {
        margin-bottom: 20px;
      }

      #{$self}-desc {
        margin: 0 0 30px;
      }

      #{$self}-avatar {
        bottom: -12px;
      }
    }
  }

  &-link {
    padding: 15px 15px 0;
    display: block;
    position: relative;
    color: $text-color;
    height: 100%;

    &:hover {
      text-decoration: none;
      color: $text-color;

      #{$self}-title {
        color: $brand-primary;
        text-decoration: underline;
      }
    }
  }

  &-day {
    border: 1px solid $grey-light;
    border-top: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: absolute;
    right: 15px;
    top: 0;
    background: $white;
    text-align: center;
    width: 60px;
    margin: 0;
    padding: 5px 0;
    z-index: 1;
  }

  &-month {
    display: block;
    @include typo($s16, 700);
    text-transform: uppercase;
    margin: 0 0 5px;
  }

  &-date {
    display: block;
    @include typo($s26, 400, 'head');
  }

  &-cover {
    margin: -15px -15px 45px -15px;
    position: relative;
    background: $grey-lightest;
    min-height: 32px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: 2px solid $grey-light;
  }

  &-photo {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  .badge {
    position: absolute;
    left: 15px;
    bottom: -13px;
  }

  &-title {
    @include typo($s17, 500, 'head');
    line-height: 1.35;
  }

  &-desc {
    font-size: $s16;
    margin: 0 0 40px;
    position: relative;
    line-height: 1.5;

    .dp-po-icon {
      color: $brand-primary;
      font-size: 22px;
      position: relative;
      float: right;
      line-height: 1.2;
    }
  }

  &-avatar {
    display: inline-block;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 15px;
    bottom: 8px;
  }

  &-item-seeall {
    &:hover {
      border-color: $brand-primary;

      #{$self}-allink {
        color: $brand-primary;
        text-decoration: underline;
      }
    }

    text-align: center;

    #{$self}-link {
      align-items: center;
      display: flex;
      justify-content: space-around;
    }

    #{$self}-wrap {
      background: $grey-lightest;
      border-radius: 4px;
      padding: 40px;
      display: inline-block;
      svg {
        fill: var(--brand-primary);
      }
    }

    #{$self}-allink {
      @include typo($s19, 400, 'head');
      display: flex;
      align-items: center;
      margin: 20px 0 0;

      .dp-po-icon {
        color: $brand-primary;
        margin-left: 10px;
        position: relative;
        top: 2px;
      }
    }

  }

  &-arrow {
    position: absolute;
    border: none;
    background: $white;
    z-index: 9;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: $white;
    border: 1px solid $grey-light;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    font-size: 30px;
    color: $brand-primary;
    left: -20px;
    bottom: 0;
    top: 0;
    margin: auto;

    .dp-po-icon {
      position: relative;
      left: -1px;
    }

    &-right {
      left: auto;
      right: -20px;

      .dp-po-icon {
        right: -1px;
        left: auto;
      }
    }

    &:hover {
      cursor: pointer;
      background: $brand-primary;
      color: $white;
      border-color: $brand-primary;
    }


  }

}
