.dp-po-news-filter {
  position: relative;

  &-title {
    @include typo($s17, 500, "head");
    margin: 0;
    color: $grey-dark;
  }

  &-collapse {
    position: absolute;
    top: 18px;
    right: 20px;
    font-size: 24px;
    color: $brand-primary;

    &.collapsed {
      transform: rotate(180deg);
    }
  }

  &-type {
    &-list {
      padding: 0;
      margin: 0;
    }

    &-item {
      position: relative;
      display: block;
      padding-left: 25px;
      margin-top: 15px;

      .dp-po-icon {
        position: absolute;
        top: 1px;
        left: 0;
        color: $brand-primary;
      }
    }

    &-option {
      display: flex;
      align-items: center;
      padding: 15px 0;
    }

    &-link {
      position: relative;
      font-size: $s15;
      color: $grey-dark;

      &.active {
        color: $brand-primary;
      }
    }
  }

  &-date {
    &-option {
      display: flex;
      align-items: flex-start;
      padding: 15px 0 0;
    }

    &-year {
      &-list {
        position: relative;
        display: flex;
        flex: 0 0 30%;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;


        &::after {
          position: absolute;
          top: 0;
          right: 7px;
          display: block;
          width: 1px;
          height: 100%;
          content: "";
          background: $grey-light;
        }
      }

      &-item {
        display: flex;
        flex: 0 0 100%;
        height: 30px;
        padding: 5px 0;
      }

      &-link {
        font-size: $s15;
        color: $grey-dark;

        &:hover {
          font-weight: 700;
          color: $brand-primary;
        }

        &.active {
          font-weight: 700;
          color: $brand-primary;
        }
      }
    }

    &-month {
      &-list {
        display: flex;
        flex: 0 0 70%;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
      }

      &-item {
        display: flex;
        flex: 0 0 50%;
        justify-content: space-around;
        height: 30px;
        padding: 5px 0;
        text-transform: uppercase;
      }

      &-link {
        font-size: $s15;
        color: $grey-dark;

        &:hover {
          font-weight: 700;
          color: $brand-primary;
        }

        &.active {
          font-weight: 700;
          color: $brand-primary;
        }
      }
    }
  }
}

#news_categories {
  margin-top: 5px;
}
