.dp-po-post-official-response {
  $self: ".dp-po-post-official-response";
  margin-top: 10px;

  h3 {
    font-family: $headings-font-family;
    font-size: 19px;
    font-weight: 400;
    line-height: 140%;
    color: #8b9293;

    .fa-flag-alt {
      margin-right: 5px;
      color: #9384bd;
      vertical-align: -2px;
    }
  }
  &-block {
    padding: 12px;
    border: 1px solid #d3d6d7;
    border-radius: 6px;

    p {
      padding-left: 40px;
    }
  }
  &-avatar {
    margin-bottom: 10px;
    font-size: 18px;

    img {
      width: 30px;
      height: 30px;
    }
  }
}
