.dp-po-post-like {
  position: absolute;
  left: -40px;
  top: 0;

  .dp-po-like {
    &-count {
      background: $white;
    }
  }
}


@media (min-width: 1388px) {
  .dp-po-like-box {
    display: block;
  }
  .dp-po-like-box-sm {
    display: none;
  }
}

@media (max-width: 1387px) {
  .dp-po-like-box {
    display: none;
  }
  .dp-po-like-box-sm {
    display: block;
  }
}
