.dp-po-post-avatars {
  $self: '.dp-po-post-avatars';

  &-list {
    margin-bottom: 0;
    padding: 0;
    display: inline-block;
  }

  &-item {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 -12px;
    border: 4px solid $grey-lightest;
    border-radius: 50%;
    vertical-align: bottom;

    &:first-child {
      margin: 0 0 0 -6px;
    }

    &:hover {
      #{$self}-link {
        border-color: $brand-primary;
        z-index: 9;
        position: relative;
        text-decoration: none;

        #{$self}-image,
        #{$self}-name {
          opacity: 1 !important;
        }
      }
    }

  }

  &-link {
    display: block;
    border-radius: 50%;
    border: 2px solid $grey-lightest;
    margin: -1px;
  }

  &-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: block;
  }

  &-name {
    background: var(--brand-primary-l-350);
    color: $grey-darkest;
    text-transform: uppercase;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: block;
    font-weight: normal;
    text-align: center;
    padding: 7px 0;
    font-size: 12px;
  }
}
