.dp-po-post-day {
  position: absolute;
  top: 0;
  left: -60px;
  width: 60px;
  text-align: center;
  background: $white;
  border: 1px solid $grey-light;
  border-radius: 4px;

  span {
    display: block;
  }

  &-month {
    padding: 5px 0;
    text-transform: uppercase;
    @include typo ($s16, 700, "body");
  }

  &-date {
    @include typo ($s26, 400, "head");
  }

  &-year {
    padding: 5px 0;
    border-top: 1px solid $grey-light;
    @include typo ($s16, 700, "body");
  }
}
