.dp-po-post-content {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  p {
    margin: .67em 0;
    line-height: 1.75;
  }

  p:first-child {
    margin-top: 0;
  }

  p,
  ul,
  ol {
    margin-bottom: .67em;
  }

  li {
    margin-top: 5px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: .75em 0 .25em;
    font-family: $font-family-sans-serif;
    font-weight: 600;
    line-height: 1.28571429em;

  }

  h2 {
    font-size: 1.5em;
    font-weight: 400;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.15em;
  }

  h5 {
    font-size: 1.1em;
  }

  img {
    max-width: 100%;
    image-rendering: -webkit-optimize-contrast;
  }

  p:last-child {
    margin-top: 0;
  }

  &-note,
  &-warning {
    padding: 20px;
    margin-bottom: 1.5rem;
    background: $info-light;
    border: 1px solid $info;
    border-radius: 4px;

    > p {
      padding-left: 30px;
    }

    &-title {
      display: flex;
      align-items: center;
      color: $info;
      @include typo($s19, 500, "head");

      .dp-po-icon {
        margin-right: 10px;
      }
    }
  }

  &-warning {
    background-color: $warning-light;
    border-color: $warning;
    &-title {
      color: $warning;
    }
  }


  &-figure {
    padding: 10px;
    margin-bottom: 1.5rem;
    border: 1px solid $grey-light;
  }

  &-code {
    padding: 10px;
    font-family: $font-family-monospace;
    background: $grey-lightest;
    border: 1px solid $grey-light;
    border-radius: 4px;
  }

  .fr-video iframe {
    max-width: 100%;
  }

  ul,
  ol {
    padding: 0 0 0 20px;
    padding-inline-start: 2em;
    padding-left: 2em;
    margin: 1em 0;

    vertical-align: baseline;
    list-style-position: outside;
    list-style-image: none;
  }

  ul ul,
  ol ul {
    margin-left: 15px;
    list-style-position: outside;
    list-style-type: circle;
  }

  ol ol,
  ul ol {
    margin-left: 15px;
    list-style-position: inside;
    list-style-type: lower-latin;
  }

  span.fr-img-caption.fr-dii.fr-fil {
    float: left;
    max-width: calc(100% - 5px);
    margin: 5px 5px 5px 0;
  }
  span.fr-img-caption.fr-dii.fr-fir {
    float: right;
    max-width: calc(100% - 5px);
    margin: 5px 0 5px 5px;
  }
  table {
    width: 100%;
    margin: 1rem 0;
    table-layout: fixed;
    border-collapse: collapse;
  }

  table th,
  table td {
    position: relative;
    padding: 0 .5em;
    font-weight: 400;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, .075);
  }

  table th {
    font-weight: 500;
    background: rgba(0, 0, 0, .025);
  }
}
