.dp-po-post-day {
  background: $white;
  border: 1px solid $grey-light;
  border-radius: 4px;
  width: 60px;
  text-align: center;
  left: -60px;
  top: 0;
  position: absolute;
  color: $grey-darkest;

  span {
    display: block;
  }

  &-month {
    text-transform: uppercase;
    @include typo ($s16, 700, 'body');
    padding: 5px 0;
  }

  &-date {
    @include typo ($s26, 400, 'head');
  }

  &-year {
    border-top: 1px solid $grey-light;
    @include typo ($s16, 700, 'body');
    padding: 5px 0;
  }
}
