.dp-po-post-share {
  &-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  &-item {
    list-style: none;
  }

  &-link {
    &:hover {
      opacity: .8;
    }
  }

  .dp-po-icon {
    width: 24px;
  }

  .dropdown-item,
  .dropdown-item-text {
    font-size: 17px;
  }

  .dropdown-menu {
    width: 250px;
  }

  &-url {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 10px 0;

    input {
      width: 80%;
      padding: 9px 10px;
      overflow: hidden;
      font-size: $s15;
      color: $brand-primary;
      text-overflow: ellipsis;
      border: 1px solid $grey-light;
      border-radius: 4px;
      outline: none;
    }

    .dp-po-icon {
      font-size: 28px;
      color: $grey-dark;
      cursor: pointer;
    }
  }
}
