.dp-po-post-user {
  $self: ".dp-po-post-user";

  &-list {
    padding: 0;
    margin: 0;

    &-forum-link {
      color: inherit;
    }
  }

  &-category-link {
    color: inherit;
  }

  &-item {
    position: relative;
    display: inline-block;
    margin: 0 30px 0 0;
    vertical-align: middle;
    list-style: none;

    &::after {
      position: absolute;
      top: 0;
      right: -15px;
      width: 1px;
      height: 100%;
      content: "";
      background: $grey;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  &-link {
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }

  .dropdown {
    &.show {
      .dp-po-avatar {
        img {
          border: 1px solid $brand-primary;
        }
      }

      #{$self}-link {
        color: $brand-primary;
      }
    }
  }

}
