.dp-po-post-info {
  margin-bottom: 5px;
  &-list {
    padding: 0;
    margin: 0;
  }

  &-item {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    margin-right: 8px;
    font-size: $p2-font-size;
    color: $grey-dark;
    vertical-align: middle;
    list-style: none;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      content: "";
      background: $grey;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
