.dp-po-profile {
  &-figure {
    margin: 0 0 20px;
    text-align: center;

    &-image,
    &-name {
      display: inline-block;
      width: 140px;
      height: 140px;
      border-radius: 50%;
    }

    &-name {
      padding: 45px 0;
      font-size: 45px;
      color: $white;
      background: $grey;
    }
  }


  &-name {
    @include typo($s23, 400, "head");
    text-align: center;
  }

  &-title {
    @include typo($s18, 400, "body");
    color: $grey-dark;
    text-align: center;
  }

  &-stats {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    margin: 0 0 30px;
    border-bottom: 1px solid $grey-light;

    &-item {
      font-size: $s15;
      text-align: center;
      list-style: none;
    }

    &-icon {
      width: 70px;
      height: 70px;
      padding: 10px 0;
      margin: 0 auto 10px;
      color: $brand-primary;
      text-align: center;
      background: $info-light;
      border-radius: 50%;
      @include typo($s17, 500, "head");
    }

    .dp-po-icon {
      display: block;
      margin: 0 0 3px;
      font-size: 20px;
      text-align: center;
    }
  }

  &-extras {
    padding: 0 0 20px;
    margin: 0 0 30px;
    border-bottom: 1px solid $grey-light;

    &-title {
      @include typo($s15, 700, "body");
      color: $grey-dark;
    }
  }

}
