.dp-po-related-content {
  &-list {
    padding: 0;
    margin: 0;
  }

  &-item {
    margin: 0 0 15px;
    list-style: none;

    &:last-child {
      margin: 0;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    font-size: $p2-font-size;

    .dp-po-icon {
      width: 30px;
      margin-right: 10px;
      font-size: 26px;
      color: $grey;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
