.dp-po-search {
  $self: ".dp-po-search";
  background: linear-gradient(
    90deg,
    var(--brand-primary-d-100) 0%,
    var(--brand-primary) 49.48%,
    var(--brand-primary-l-100) 100%
  );
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &-form {
    max-width: 860px;
    position: absolute;
    top: calc(50% - 30px);
    width: 100%;

    input[type="search"] {
      width: 100%;
      background: $white;
      border: 2px solid $brand-primary;
      border-radius: 4px;
      padding: 13px 60px;
      @include typo($s23, 400, "head");
      color: $grey-dark;
      outline: none;

      &:focus {
      }

      &.opened {
        border-radius: 4px 4px 0 0;
      }
    }

    button[type="submit"] {
      position: absolute;
      border: none;
      height: 32px;
      left: 16px;
      top: calc(50% - 16px);
      width: 32px;
      font-size: 26px;
      padding: 0;
      color: $brand-primary;
      background-color: $white;
    }
  }

  &-list {
    margin: 0;
    padding: 0 20px;
  }

  &-item {
    list-style: none;
  }

  &-link {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $grey-lighter;
    color: $grey-darkest;

    &:hover {
      color: $brand-primary;
    }
  }

  &-hint {
    position: absolute;
    background: $white;
    border-radius: 0 0 4px 4px;
    display: block;
    width: 100%;
    z-index: 1;
    border: 2px solid $brand-primary;
    border-top: none;
    box-shadow: 6.02308px 6.02308px 6.02308px rgba(0, 0, 0, 0.15);

    &-viewall {
      text-decoration: underline;
      font-size: $s15;
      font-weight: 700;
      margin: 20px 0;
      padding: 0 20px;
      display: inline-block;
    }

    &-tickets {
      padding: 14px 20px 0;

      #{$self}-list {
        padding: 0;
      }

      #{$self}-hint-viewall {
        padding: 0;
      }

      #{$self}-item:first-child #{$self}-link {
        border-top: 1px solid $grey-lighter;
      }
    }

    &-header {
      &-title {
        @include typo($s19, 500, "head");
        display: flex;
        align-items: center;

        span {
          font-family: $font-family-sans-serif;
          background-color: $brand-primary;
          border-radius: 2px;
          font-size: 12px;
          color: $white;
          margin-left: 5px;
          font-weight: 400;
          padding: 0 3px;
        }
      }

      .dp-po-icon {
        margin-right: 10px;
        font-size: 20px;
      }
    }

    & .no-results #{$self}-hint-header {
      &-title {
        color: $grey-dark;

        span {
          background-color: $grey;
        }
      }

      .dp-po-icon {
        .fa-primary {
          fill: $grey;
          opacity: 0.4;
        }

        .fa-secondary {
          fill: $grey;
          opacity: 1;
        }
      }
    }
  }

  &-tabs {
    &-list {
      margin: 0;
      padding: 0;
      display: flex;
      border-top: 1px solid $grey-light;
      border-bottom: 1px solid $grey-light;
      justify-content: space-around;
    }

    &-item {
      list-style: none;
      flex-grow: 1;

      &:last-child {
        #{$self}-tabs-link {
          border: none;
        }
      }
    }

    &-link {
      color: $grey-darkest;
      font-size: $s15;
      justify-content: center;
      border-right: 1px solid $grey-light;
      background: $grey-lightest;
      display: flex;
      flex-wrap: nowrap;
      height: 48px;
      align-items: center;
      position: relative;

      span {
        font-family: $font-family-sans-serif;
        background-color: $brand-primary;
        border-radius: 2px;
        font-size: 12px;
        color: $white;
        margin-left: 5px;
        font-weight: 400;
        padding: 0 3px;
      }

      &.active {
        background: $white;

        &:before,
        &:after {
          content: "";
          height: 2px;
          width: 100%;
          position: absolute;
          left: 0;
          top: -1px;
          background: $brand-primary;
        }

        &:after {
          background: $white;
          top: auto;
          bottom: -1px;
        }
      }

      &:hover {
        text-decoration: none;
        background: $white;
      }

      &.no-results {
        color: $grey-dark;

        &:hover {
          background: $grey-lightest;
          color: $grey-dark;
          cursor: initial;
        }

        span {
          background-color: $grey;
        }

        #{$self}-tabs-image,
        #{$self}-tabs-image svg {
          fill: $grey-dark;
        }
      }
    }

    &-image,
    &-image svg {
      max-width: 20px;
      max-height: 20px;
      margin-right: 5px;
      fill: var(--brand-primary);
    }
  }

  &-results {
    .dp-po-block {
      padding: 0;
    }
  }

  &-detail {
    position: relative;

    #{$self}-hint {
      &-header {
        margin: -30px -30px 0;
        border-bottom: 1px solid $grey-lighter;

        &-title {
          padding: 10px 20px 10px 70px;
          margin: 0;
        }
      }
    }

    #{$self}-tabs {
      &-list {
        margin: 0 -30px 0 20px;
      }
    }
  }

  &-sidebar {
    background: $white;
    border: 1px solid $grey-light;
    border-radius: 4px;
    padding: 5px 0;

    &-list {
      margin: 0;
      padding: 0;
    }

    &-item {
      list-style: none;
    }

    &-link {
      display: flex;
      align-items: center;
      @include typo($s19, 400, "head");
      color: $grey-dark;
      padding: 12px 20px;
      position: relative;

      &.active {
        background: $info-light;
        color: $brand-primary;
      }

      &.disabled {
        #{$self}-sidebar {
          &-count {
            background: $grey;
          }

          &-image {
            filter: grayscale(100%);
          }
        }
      }

      &:hover {
      }
    }

    &-image {
      margin-right: 10px;
      width: 24px;
    }

    &-count {
      @include typo($s12, 600, "body");
      background: $brand-primary;
      color: $white;
      border-radius: 2px;
      position: absolute;
      right: 20px;
      padding: 1px 3px;
    }
  }

  &-details {
    &-list {
      margin: 0;
      padding: 0;
    }

    &-item {
      list-style: none;
      border-bottom: 1px solid $grey-lighter;
      padding: 12px 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
        border: none;
      }
    }

    &-link {
      position: relative;
      display: block;
      color: $grey-darkest;

      &:hover {
        text-decoration: none;
        #{$self}-details {
          &-title {
            text-decoration: underline;
          }
          &-tag {
            text-decoration: none;
            color: $grey-darkest;
          }
        }
      }
    }

    .dp-po-time {
      position: absolute;
      right: 0;
      top: 0;
    }

    &-title {
      margin: 0;
    }

    &-tag {
      display: inline-flex;
      background: $grey-lightest;
      border-radius: 4px;
      font-size: $s12;
      align-items: center;
      padding: 5px;
      margin-top: 10px;
      .dp-po-icon {
        color: $grey;
        margin-right: 5px;
      }
    }
  }
}
