.dp-po-search {
  $self: ".dp-po-search";
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
  background:
    linear-gradient(
      to right,
      var(--brand-primary-d-100) 0%,
      var(--brand-primary) 49.48%,
      var(--brand-primary-l-100) 100%
    );

  &-form {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 430px);
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 860px;

    input[type="search"] {
      width: 100%;
      padding: 13px 20px 13px 60px;
      color: $grey-dark;
      background: $white;
      border: 2px solid $brand-primary;
      border-radius: 4px;
      outline: none;
      @include typo($s23, 400, "head");

      &:focus {
        border-color: var(--grey-dark);
        border-radius: 4px 0 0 4px;
        + label {
          color: var(--grey-dark);
        }
        ~ input[type="submit"] {
          position: relative;
          top: 0;
          left: 0;
        }
      }

      &::-webkit-search-cancel-button,
      &::-ms-clear {
        width: 17px;
        height: 17px;
        appearance: none;
        cursor: pointer;
        background: $brand-primary;
        mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17px" height="16px" viewBox="0 0 17 16" version="1.1"><g id="Cookie-Notification" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"><g id="Homepage_desktop---COOKIES---APPROVED" transform="translate(-1012.000000, -14.000000)" stroke="%23000" stroke-width="2"><g id="icon-close" transform="translate(1013.000000, 15.000000)"><path d="M0.75,0.75 L13.6970074,13.6970074" id="Line-2"/><path d="M0.75,0.75 L13.6970074,13.6970074" id="Line-2" transform="translate(7.500000, 7.500000) scale(-1, 1) translate(-7.500000, -7.500000) "/></g></g></g></svg>');
        mask-repeat: no-repeat;
        mask-position: right;
      }

      &.opened {
        border-radius: 4px 0 0;
      }
    }

    input[type="submit"] {
      position: absolute;
      top: -10000px;
      left: -10000px;
      align-self: stretch;
      height: 57px;
      padding: 0 12px;
      margin-left: -2px;
      font-weight: 600;
      color: var(--grey-dark);
      background: $white;
      border: 2px solid var(--grey-dark);
      border-radius: 0 4px 4px 0;

      &:focus {
        position: relative;
        top: 0;
        left: 0;
        display: inline-block;
        color: var(--text-color);
        background: var(--grey-light);
        border-color: $brand-primary;
        outline: 0;

        ~ input[type="search"] {
          border-radius: 4px 0 0 4px;
        }
      }
      &:hover {
        color: $brand-primary;
      }
    }


    label {
      position: absolute;
      top: calc(50% - 19px);
      left: 16px;
      width: 32px;
      height: 32px;
      padding: 0;
      font-size: 26px;
      color: $brand-primary;
      border: none;

      span {
        display: none;
      }
    }
  }

  &-list {
    padding: 0 20px;
    margin: 0;
  }

  &-item {
    list-style: none;
    .dp-po-time {
      white-space: nowrap;
      .dp-po-icon {
        margin-top: 1px;
        margin-right: 7px;
        margin-left: 0;
      }
    }
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    color: $grey-darkest;
    border-bottom: 1px solid $grey-lighter;

    &:hover {
      color: $brand-primary;
    }
  }

  &-hint {
    position: absolute;
    top: 57px;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    background: $white;
    border: 2px solid $brand-primary;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 6.02308px 6.02308px 6.02308px rgba(0, 0, 0, .15);

    &-viewall {
      display: inline-block;
      padding: 0 20px;
      margin: 20px 0;
      font-size: $s15;
      font-weight: 700;
      text-decoration: underline;
    }

    &-tickets {
      padding: 14px 20px 0;

      #{$self}-list {
        padding: 0;
      }

      #{$self}-hint-viewall {
        padding: 0;
      }

      #{$self}-item:first-child #{$self}-link {
        border-top: 1px solid $grey-lighter;
      }
    }

    &-header {
      &-title {
        @include typo($s19, 500, "head");
        display: flex;
        align-items: center;

        span {
          padding: 0 3px;
          margin-left: 5px;
          font-family: $font-family-sans-serif;
          font-size: 12px;
          font-weight: 400;
          color: $white;
          background-color: $brand-primary;
          border-radius: 2px;
        }
      }

      .dp-po-icon {
        margin-right: 10px;
        font-size: 20px;
      }
    }

    .search-result-collection-empty {
      padding: 10px;
    }
  }
  &-hint-tickets.no-results #{$self}-hint-header {
    &-title {
      color: $grey-dark;

      span {
        background-color: $grey;
      }
    }

    .dp-po-icon {
      .fa-primary {
        opacity: .4;
        fill: $grey;
      }

      .fa-secondary {
        opacity: 1;
        fill: $grey;
      }
    }
  }

  &-tabs {
    &-list {
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      border-top: 1px solid $grey-light;
      border-bottom: 1px solid $grey-light;
    }

    &-item {
      flex-grow: 1;
      list-style: none;

      &:last-child {
        #{$self}-tabs-link {
          border: none;
        }
      }
    }

    &-link {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      height: 48px;
      font-size: $s15;
      color: $grey-darkest;
      background: $grey-lightest;
      border-right: 1px solid $grey-light;

      span {
        padding: 0 3px;
        margin-left: 5px;
        font-family: $font-family-sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: $white;
        background-color: $brand-primary;
        border-radius: 2px;
      }

      &.active {
        background: $white;

        &::before,
        &::after {
          position: absolute;
          top: -1px;
          left: 0;
          width: 100%;
          height: 2px;
          content: "";
          background: $brand-primary;
        }

        &::after {
          top: auto;
          bottom: -1px;
          background: $white;
        }
      }

      &:hover {
        text-decoration: none;
        background: $white;
      }

      &.no-results {
        color: $grey-dark;

        &:hover {
          color: $grey-dark;
          cursor: initial;
          background: $grey-lightest;
        }

        span {
          background-color: $grey;
        }

        #{$self}-tabs-image,
        #{$self}-tabs-image svg {
          fill: $grey-dark;
        }
      }
    }

    &-image,
    &-image svg {
      max-width: 20px;
      max-height: 20px;
      margin-right: 5px;
      fill: var(--brand-primary);
    }
  }

  &-results {
    .dp-po-block {
      padding: 0;
    }
  }

  &-detail {
    position: relative;

    #{$self}-hint {
      &-header {
        margin: -30px -30px 0;
        border-bottom: 1px solid $grey-lighter;

        &-title {
          padding: 10px 20px 10px 70px;
          margin: 0;
        }
      }
    }

    #{$self}-tabs {
      &-list {
        margin: 0 -30px 0 20px;
      }
    }
  }

  &-sidebar {
    padding: 5px 0;
    background: $white;
    border: 1px solid $grey-light;
    border-radius: 4px;

    &-list {
      padding: 0;
      margin: 0;
    }

    &-item {
      list-style: none;
    }

    &-link {
      position: relative;
      display: flex;
      align-items: center;
      padding: 12px 20px;
      color: $grey-dark;
      @include typo($s19, 400, "head");

      &.active {
        color: $brand-primary;
        background: $info-light;
      }

      &.disabled {
        #{$self}-sidebar {
          &-count {
            background: $grey;
          }

          &-image {
            filter: grayscale(100%);
          }
        }
      }

      &.no-results {
        #{$self}-sidebar-count {
          background: $grey;
        }
        .dp-po-icon .fa-primary,
        .dp-po-icon .fa-secondary {
          fill: currentcolor;
        }


        #{$self}-sidebar-image {
          color: var(--text-color-lighter);
        }

        &:hover {
          color: var(--text-color-lighter);
          text-decoration: none;
          cursor: inherit;
        }
      }
    }

    &-image {
      width: 24px;
      margin-right: 10px;
      color: $brand-primary;
    }

    &-count {
      @include typo($s12, 600, "body");
      position: absolute;
      right: 20px;
      padding: 1px 3px;
      color: $white;
      background: $brand-primary;
      border-radius: 2px;
    }
  }

  &-details {
    &-title {
      padding-bottom: 12px;
      margin-top: -10px;
      font-family: $headings-font-family;
      font-size: 19px;
      font-weight: 500;
      color: #8b9293;
      border-bottom: 1px solid $grey-lighter;
      span {
        color: $grey-darkest;
      }
      .count {
        color: $brand-primary;
      }
    }
    &-list {
      padding: 0;
      margin: 0;
    }

    &-item {
      padding: 12px 0;
      list-style: none;
      border-bottom: 1px solid $grey-lighter;

      &:last-child {
        padding-bottom: 0;
        border: none;
      }
    }

    &-link {
      position: relative;
      display: flex;
      justify-content: space-between;
      color: $grey-darkest;

      &:hover {
        text-decoration: none;
        #{$self}-details {
          &-title {
            text-decoration: underline;
          }
          &-tag {
            color: $grey-darkest;
            text-decoration: none;
          }
        }
      }
    }

    .dp-po-time {
      display: flex;
      justify-content: flex-end;
      white-space: nowrap;
      .date-ago {
        min-width: 30px;
      }
      .dp-po-icon {
        margin-top: 1px;
        margin-right: 7px;
        margin-left: 0;
      }
    }

    &-tag {
      display: inline-flex;
      align-items: center;
      padding: 5px;
      margin-top: 10px;
      font-size: $s12;
      background: $grey-lightest;
      border-radius: 4px;
      .dp-po-icon {
        margin-right: 5px;
        color: $grey;
      }
    }
  }
  &-no-results {
    padding: 30px;
  }
}

@media all and (max-width: 860px) {
  .dp-po-search-form {
    left: 0;
  }
}
