.dp-po-sidebar {
  background: $white;
  border: 1px solid $grey-light;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px;
  margin: 0 0 20px;

  &-title {
    font-size: $h3-font-size;
    color: $grey-dark;
    margin: 0 0 15px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
  }

  &-subtitle {
    font-size: $p2-font-size;
    color: $grey-dark;
    margin: 0;
    font-weight: 700;
  }
}
