@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Rubik:400,500&display=swap');

* {
  font: $font-size-base $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

