// User submitted content such as articles or comments
.dp-user-content {
  font: $font-size-base $font-family-sans-serif;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $grey-darkest;

  p,
  ul,
  ol {
    margin-bottom: 1.5rem;
  }
}
