.dp-po-Icon-wrapper {
	color: var(--grey-darkest);
	display: flex;
	align-items: center;
}

.dp-po-Icon-wrapper.Icon--large {
	font-size: 19px;
	color: var(--brand-primary);
}

.dp-po-Icon-wrapper .dp-po-Icon {
	position: relative;
}

.dp-po-Icon-wrapper .dp-po-Icon:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 50%;
}

.dp-po-Icon-wrapper.Icon--large .dp-po-Icon,
.dp-po-Icon-wrapper.Icon--medium .dp-po-Icon {
	border-radius: 50%;
}

.dp-po-Icon-wrapper.Icon--large .dp-po-Icon {
	width: 55px;
	height: 55px;
}

.dp-po-Icon-wrapper.Icon--medium .dp-po-Icon {
	width: 43px;
	height: 43px;
}

.dp-po-Icon-wrapper.Icon--small .dp-po-Icon {
	width: 24px;
	height: 22px;
}

.dp-po-Icon-wrapper .Icon--light-primary.dp-po-Icon:after {
	background: rgba(58, 141, 222, 0.35);
}

.dp-po-Icon-wrapper .Icon--brand-primary.dp-po-Icon:after {
	background: var(--brand-primary);
}

.dp-po-Icon-wrapper.Icon--medium {
	font-size: 19px;
}

.dp-po-Icon-wrapper.Icon--small {
	font: var(--h-s-semibold);
}

.dp-po-Icon-wrapper .dp-po-Icon {
	margin-right: 6px;
}

.dp-po-Icon-wrapper.Icon--centred-stacked {
	display: flex;
	flex-direction: column;
	max-width: max-content;
}
