.dp-po-divider {
	display: flex;
	border-bottom: 2px solid var(--grey-light);
}

.dp-po-divider-title {
	display: flex;
	align-items: center;
	color: var(--grey-darkest);
	border-bottom: 2px solid var(--brand-primary);
	font: var(--h-2);
	margin-bottom: -2px;
}

.dp-po-divider-link {
	color: var(--brand-primary);
	font: var(--b-1-semibold);
	display: flex;
	align-items: flex-end;
	line-height: 1;
	background-color: var(--white);
	margin: 0 0 -8px auto;
	padding-left: 5px;
}

.dp-po-divider-link .dp-po-arrow {
	margin-left: 5px;
}
