@import "../fonts.css";
@import "../vars.css";

/* labels */

.dp-po-label {
    background: var(--white);
    color: var(--grey-darkest);
    font: var(--p-n);
    border-radius: 2px;
    cursor: pointer;
    line-height: 1;
    border: none;
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
}

.dp-po-label.label--small {
    height: 15px;
    font: var(--p-n-semibold);
    text-transform: uppercase;
}

.dp-po-label.label--medium {
    height: 22px;
    padding: 4px 10px;
}

.dp-po-label.label--large {
    height: 22px;
    padding: 4px 15px;
    text-transform: uppercase;
    font: var(--h-s-semibold);
}

.dp-po-label:hover { background: var(--grey-light); }

.dp-po-label.label--brand-primary {
    background-color: var(--brand-primary);
    border: 1px solid var(--brand-primary);
    color: var(--white);
}

.dp-po-label.label--white {
    background: var(--white);
    border: 1px solid var(--white);
    color: var(--grey-darkest);
    &:hover { background: var(--grey-light); }
}

.dp-po-label.label--transparent {
    background: transparent;
    border: 1px solid #6e8293;
    color: #6e8293;
    &:hover { background: var(--grey-light); }
}

.dp-po-label.label--disabled {
    background-color: #e1e0e0;
    border: 1px solid #d3d6d7;
    color: #4e4d4d;
    &:hover { background-color: rgba(225, 224, 224, 0.5); }
}

.dp-po-label.label--close {
    background: #fafafa;
    border: 1px solid #dde0e0;
    color: #4e4d4d;
    padding: 1px 20px 1px 9px;
    &:hover { background: color-mod(#fafafa blackness(20%)); }
}

.dp-po-label.label--primary-light {
    background-color: var(--primary-light);
    color: var(--white);
}

.dp-po-label.label--grey-darkest {
    background-color: var(--grey-darkest);
    color: var(--white);
}

.dp-po-label.label--grey-dark {
    background-color: var(--grey-dark);
    color: var(--white);
}

.dp-po-label.label--grey-light {
    background-color: var(--grey-light);
    color: var(--white);
}

.dp-po-label.label--grey-lightest {
    background-color: var(--grey-lightest);
    color: var(--white);
}

.dp-po-label.label--info {
    background-color: var(--info);
    color: var(--white);
}

.dp-po-label.label--info-light {
    background-color: var(--info-light);
    border: 1px solid var(--info-light);
    color: var(--grey-darkest);
}

.dp-po-label.label--warning-light {
    background-color: var(--warning-light);
}

.dp-po-label.label--grey-lighter {
    background: var(--grey-lighter);
    border: 1px solid var(--grey-lighter);
    color: var(--grey-dark);
}

.dp-po-label.label--grey {
    background: var(--grey);
    border: 1px solid var(--grey);
    color: var(--white);
}

.dp-po-label.label--purple {
    background: var(--purple-light);
    border: 1px solid var(--purple);
    color: var(--grey-darkest);
}

.dp-po-label.label--pink {
    background: var(--pink);
    border: 1px solid var(--pink);
    color: var(--white);
}

.dp-po-label.label--success {
    background: var(--success);
    border: 1px solid var(--success);
    color: var(--white);
}

.dp-po-label.label--warning {
    background: #f18b44;
    border: 1px solid #f18b44;
    color: var(--white);
}

.dp-po-label.label--danger {
    background: var(--danger);
    border: 1px solid var(--danger);
    color: var(--white);
}

.dp-po-label.label--neutral {
    background: var(--neutral);
    border: 1px solid var(--neutral);
    color: var(--white);
}

.dp-po-label.label--neutral-light {
    background: var(--neutral-light);
    border: 1px solid var(--neutral-light);
    color: var(--grey-darkest);
}

.dp-po-label + .dp-po-label {
    margin-left: 5px;
}

.dp-po-labels:first-child {
    margin-left: 0;
}

/*label/time-ago/box*/

.dp-po-label.label--time-box {
    background-color: var(--grey-lighter);
    font: var(--h-l-semibold);
}

.label--time .dp-po-Icon,
.label--time-box .dp-po-Icon {
    margin-right: 5px;
}

.dp-po-label.label--time {
    font-size: 15px;
    font-weight: 400;
    padding: 0;
}

/* label/box-icon-text */

.dp-po-filter {
    border: 1px solid var(--grey-light);
    color: var(--grey-dark);
    font: var(--p-xl);
    cursor: pointer;
    padding: 0 30px 0 20px;
    border-radius: 2px;
    position: relative;
    min-width: 74px;
}

.dp-po-filter:hover {
    background-color: var(--grey-lightest);
}

.dp-po-filter .dp-po-iconClose {
    right: auto;
    left: 5px;
    top: calc(50% - 5px);
}

.dp-po-filter + .dp-po-filter {
    margin-left: 5px;
}

/* Badges */

.dp-po-Badge {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font: var(--p-n-semibold);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1)
}

.dp-po-Badge.Badge--large {
    font-size: 19px;
    font-weight: 500;
    height: 34px;
    width: 34px;
}

.dp-po-Badge.Badge--small {
    font: var(--p-n-semibold);
    height: 22px;
    width: 22px;
}

.dp-po-Badge.Badge--danger {
    background-color: var(--danger);
}

.dp-po-Badge.Badge--brand-primary {
    background-color: var(--brand-primary);
}

.dp-po-Badge.Badge--bottom {
    position: absolute;
    bottom: -2px;
    right: 0;
}

.dp-po-Icon .dp-po-Badge.Badge--top {
    position: absolute;
    top: -2px;
    right: 0;
}

.dp-po-Icon .dp-po-Badge.Badge--brand-primary {
    background-color: var(--brand-primary);
    color: var(--white);
}
