.dp-po-Link {
	color: var(--grey-darkest);
	text-decoration: none;
	display: flex;
	align-items: center;
	line-height: 1;
	position: relative;
}

.dp-po-Link .dp-po-arrow{
	margin: 0 5px;
}

.dp-po-Link:hover {
	color: var(--info);
}

.dp-po-Link.Link--small {
	font: var(--b-1-semibold);
	color: var(--brand-primary);
	width: 100%;
	max-width: 120px;
	display: flex;
	justify-content: space-between;
}

.dp-po-Link.Link--medium {
	font: var(--p-2-bold);
	color: var(--brand-primary);
}

.dp-po-Link.Link--large {
	font: var(--h-3);
}
