/* main buttons style */

.dp-po-Button {
  background-repeat: no-repeat;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  line-height: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Button--small*/

.dp-po-Button.Button--small {
  font: var(--p-xxl-semibold);
  color: var(--white);
  background-color: var(--brand-primary);
  width: 125px;
  height: 39px;
}

.dp-po-Button.Button--small:hover {
  background-color: rgba(58, 141, 222, 0.6);
}

/*button/small/secondary*/

.dp-po-Button.Button--secondary {
  background-color: var(--white);
  color: var(--grey-dark);
  border: 2px solid var(--grey-light);
}

.dp-po-Button.Button--secondary:hover {
  background-color: var(--grey-lighter);
}

/*Button--medium*/

.dp-po-Button.Button--medium {
  font-size: 17px;
  width: 240px;
  height: 39px;
  background-color: var(--grey-light);
}

.dp-po-Button.Button--medium:hover {
  background-color: rgba(211, 214, 215, 0.6);
}

/*Button--large*/

.dp-po-Button.Button--large {
  font: var(--p-xxl-semibold);
  background: var(--brand-primary);
  color: var(--white);
  max-height: 44px;
  width: 254px;
  padding: 14px 0;
}

.dp-po-Button.Button--large:hover {
  background-color: rgba(58, 141, 222, 0.6);
}

/*Button--large-icon*/

.dp-po-Button.Button--large-icon {
  max-width: max-content;
  justify-content: space-between;
}

.dp-po-Button.Button--large-icon .dp-po-Icon {
  margin: 0 0 0 25px;
}

/*Button--xlarge*/

.dp-po-Button.Button--xlarge {
  max-width: 254px;
}

.dp-po-Button.Button--filter {
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: 2px;
  color: var(--grey-dark);
  font: var(--p-xl);
  max-width: 74px;
  max-height: 18px;
  padding: 1px 5px;
  justify-content: flex-start;
}

.Button--filter:hover {
  background-color: var(--grey-lightest);
}

/*button/icon-text/large*/

.dp-po-Button.Button--icon {
  background-color: var(--white);
  border: 1.5px solid var(--grey-lighter);
  color: var(--grey-dark);
  font-size: 17px;
  font-weight: 400;
  justify-content: flex-start;
  padding: 0;
  height: 44px;
}

.dp-po-Button.Button--icon:hover {
  background-color: var(--info-light);
  color: var(--brand-primary);
  border-color: var(--brand-primary);
}

.dp-po-Button.Button--icon .dp-po-Icon {
  margin: 0 10px;
}

/*button/icon-text/small*/

.dp-po-Button.Button--small.Button--icon {
  font: var(--p-xxl);
  color: var(--grey-dark);
  max-height: 24px;
}

.dp-po-Button.Button--small.Button--icon:hover {
  color: var(--white);
  background-color: var(--brand-primary);
}

/*button/text-icon*/

.dp-po-Button.Button--texticon {
  background-color: var(--grey-light);
  font: var(--p-xxl-semibold);
  color: var(--grey-darkest);
  width: max-content;
  height: 44px;
  min-width: 135px;
  justify-content: space-between;
  padding: 0 12px;
}

.dp-po-Button.Button--texticon:hover {
  color: var(--white);
  background-color: var(--brand-primary); 
}

.dp-po-Button:hover .dp-po-Icon svg {
  fill: var(--white);
}

/*button/votes*/

.split-button {
  display: flex;
  align-items: center;
  border-radius: 2px;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}

.split-button:hover li:first-child {
  background: rgba(58, 141, 222, 0.6);
}

.split-button:hover li:last-child {
  background: rgba(58, 141, 222, 0.4);
}

.split-button li {
  color: var(--white);
  background-color: var(--brand-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  background: rgba(58, 141, 222, 0.6);
  font: var(--h-s-semibold);
  max-height: 24px;
  cursor: pointer;
}

.split-button li:first-child {
  font: var(--h-l-semibold);
  background-color: var(--brand-primary);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: 1px solid var(--white);
  padding: 5px 15px;
}

.split-button li:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*button/icon-text*/

.dp-po-Button.Button--icon-text {
  background-color: var(--grey-lighter);
  border-radius: 2px;
  color: var(--grey-dark);
  font: var(--h-l-semibold);
  max-width: max-content;
  max-height: 24px;
}

.Button--icon-text:hover {
  color: var(--white);
  background-color: var(--brand-primary);
}

.Button--icon-text:hover svg {
  fill: var(--white);
}

.dp-po-Button[disabled] {
  border: 1px solid var(--grey);
}

.dp-po-BorderPink {
  border-color: var(--pink);
}

.dp-po-Pink {
  color: var(--pink);
}

.dp-po--danger {
  color: var(--danger);
}

.dp-po-Border--danger {
  border-color: var(--danger);
}

.dp-po-Border--brand-primary {
  border-color: var(--brand-primary);
}

[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
