.dp-po-TableWrapper {
	display: block;
	position: relative;
}

.dp-po-Tableview {
	display: block;
}

.dp-po-TableRow.dp-po-TableControl {
	color: var(--grey-dark);
}

.dp-po-TableControl .dp-po-TableItem {
	font: var(--p-2-bold);
}

.dp-po-TableRow {
	align-items: center;
	display: flex;
	color: var(--grey-darkest);
}

.dp-po-TableRow > div {
	align-items: center;
	display: flex;
	padding: 6px 13px;
}

.dp-po-TableRow > div:first-child {
	padding: 6px 13px 6px 35px;
}

.dp-po-TableItem {
	position: relative;
	font: var(--p-1);
}

.dp-po-TableItem .dp-po-Icon {
	margin-left: 10px;
	width: 17px;
	height: 15px;
}

.dp-po-ticket {
	font: var(--p-2-bold);
}

.dp-po-ticket-Icon {
	position: absolute;
	left: 10px;
	top: calc(50% - 6px);
	background-color: var(--danger);
	border-radius: 50%;
	width: 12px;
	height: 12px;
}

.dp-po-TableItem .dp-po-Avatar-icon + .Avatar--smile {
	margin-left: -5px;
}

.dp-po-TableRow.TableRow--chat > div:first-child {
	padding: 6px 13px;
}
