@include media-breakpoint-down(sm) {
  .dp-po-account-sidebar {
    display: none;
  }
}
@include media-breakpoint-up(md) {
  .dp-po-your-account {
    .card-header {
      display: none;
    }
    .card {
      border: none;
    }
  }
}
