@include media-breakpoint-down(sm) {
  .dp-po-community-view {
    $self: '.dp-po-community-view';

    &-item {
      display: block;

      &-head {
        display: none;
      }
    }

    &-link {
      white-space: inherit;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &-comments {
      display: none;
    }

    &-activity {
      display: none;
    }

    &-time {
      display: none;
    }

    &-status {
      padding: 0;
    }

    &-title {
      display: block;
      overflow: inherit;

      .dp-po-avatar {
        display: none;
      }
    }

    &-official {
      display: none;
    }

    &-author {
      display: none;
    }

    &-office {
      display: none;
    }

    &-likes {
      float: left;
    }
  }
}
