@include media-breakpoint-down(sm) {
  .dp-po-download-listing {
    $self: ".dp-po-download-listing";

    &-title {
      white-space: normal;
      padding-right: 75px;
    }

    &-heading {
      border-bottom: 1px solid $grey-light;
      padding-bottom: 10px;
    }

    &-figure {
      margin-right: 10px;
    }

    .dp-po-avatar {
      .dp-po-avatar-image,
      .dp-po-avatar-name {
        display: none;
      }
    }
  }
}
