@include media-breakpoint-down(sm) {
  .dp-po-footer {
    &-copyright {

      &::before,
      &::after {
        left: -80px;
        width: 70px;
      }

      &::after {
        right: -80px;
        left: auto;
      }
    }
  }
}
