@include media-breakpoint-down(sm) {
  .dp-po-header {
    .dp-po-homelink {
      .dp-po-logo {
        &:after {
          display: none;
        }
      }
      &.d-sm-block {
        display: none!important;
      }
      &.d-sm-none {
        display: block!important;
      }
    }

    .dp-po-brand-name {
      display: none;
    }

    .dp-po-language {
      margin: 0;
    }

    .dp-po-admin-wrapper {
      display: none;
    }

    .dp-po-language-link {
      width: auto;
      min-width: auto;
      text-indent: -999px;
      &-text {
        display: none;
      }
    }

    .dp-po-user {
      margin: 0;

      &:before {
        display: none;
      }
    }

    .dp-po-user-login {
      padding: 0;
      .dp-po-icon {
        display: none;
      }
      .dp-po-avatar-image,
      .dp-po-avatar-name {
        margin: 0;
      }
    }

    .dp-po-header-button {
      margin: 0 10px;
      white-space: nowrap;
    }
  }
}
