@include media-breakpoint-down(sm) {
  .dp-po-kb-category {
    &-link {
      display: block;
    }

    &-list {
      margin: 60px 0 0;
    }

    &-text {
      overflow: inherit;
      text-overflow: unset;
      white-space: normal;
      display: inline;
      vertical-align: middle;
    }

    .dp-po-viewall {
      bottom: auto;
      top: 70px;
    }
  }
}
