@include media-breakpoint-down(sm) {
  .dp-po-kb-featured {
    &-link {
      margin-top: 20px;
      font-size: $s16;
    }

    &-title {
      padding: 0;
      font-size: $s18;
      border: none;
    }

    &-number {
      padding: 6px 0;
      margin-right: 10px;
      font-size: $s14;
    }
    .dp-po-category-title-expand {
      top: 15px;
    }
  }
}
