@include media-breakpoint-down(sm) {
  .dp-po-kb-category {
    &-link {
      font-size: $s16;
    }

    &-list {
      display: none;
      padding: 0;
      margin: 0;
    }

    .dp-po-viewall {
      position: relative;
      left: 0;
      display: none;
      width: 100%;
      margin: 0 0 30px;

      &.active {
        display: flex;
      }
    }

    .dp-po-category-title {
      &-link {
        height: 50px;
        margin: 0 0 15px;
      }
    }
  }
}
