@include media-breakpoint-down(sm) {
  .dp-po-category-title {
    .dp-po-icon {
      background: $grey-lighter;
      margin-right: 10px;
      flex: 0 0 50px;
      border-radius: 50px;
      margin-bottom: 0;
      height: 50px;
      svg {
        height: 24px;
        width: 24px;
        margin: 13px;
      }
    }

    &-icon {
      height: 50px;
      width: 50px;
      margin-right: 8px;
    }

    &-text {
      font-size: $s18;
      color: $grey-darkest;

      span {
        font-weight: 500;
        font-size: $s16;
      }
    }

    &-link {
      display: flex;
      background: $grey-lightest;
      border-radius: 50px;
      margin: 15px 0 0;
      padding-right: 60px;

      &:hover {
        text-decoration: none;

        .dp-po-icon {
          background: $grey-lighter;
        }
      }
    }

    &-expand {
      position: absolute;
      right: 15px;
      top: 0;
      z-index: 1;
      display: block;
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: bottom;

      .dp-po-icon {
        margin: 0;
        width: 15px;
        background: $grey-lightest;
      }

      &.active {
        .dp-po-icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}
