@include media-breakpoint-down(sm) {
  .dp-po-navigation-block {
    $self: '.dp-po-navigation-block';

    &-list {
      flex-wrap: wrap;
      margin: 0;
    }

    &-link {
      margin: 0 0 15px;
      height: 100px;
      padding: 10px;
    }

    &-item {
      flex: 0 0 100%;

      &:first-child:nth-last-child(n + 5),
      &:first-child:nth-last-child(n + 5)~li {
        #{$self}-title {
          margin: 0;
          color: $brand-primary;
          text-align: left;
        }

        #{$self}-link {
          height: 61px;
          padding: 0;
          box-shadow: none;
          margin-bottom: 10px;
        }

        #{$self}-figure {
          background: $grey-lightest;
          flex: 0 0 30%;
          height: calc(100% - 1px);
          border-radius: 6px 0 0 6px;
          svg {
            max-width: 42px;
            max-height: 40px;
          }
        }

        #{$self}-right {
          flex: 0 0 70%;
          padding-left: 24px;
          display: flex;
          height: 100%;
        }
      }
    }

    &-desc {
      display: block;
    }
  }
}
