@include media-breakpoint-down(sm) {
  .dp-po-news-filter {
    &.dp-po-sidebar {
      padding: 0;
      border: none;
    }

    &-type {
      &-item {
        .form-group:first-child {
          margin: 0 0 10px;
        }
      }
    }

    &-collapse {
      top: 0;
    }
  }
}
