@include media-breakpoint-down(sm) {
  .dp-po-post-meta {
    padding: 0;
    border: none;

    &-heading {
      margin: 0 0 15px;
      font-family: $font-family-heading;
      font-size: $h3-font-size;
      font-weight: 400;
      color: $grey-dark;
    }
  }
}
