@include media-breakpoint-down(sm) {
  .dp-po-post-share-mobile {
    &-list {
      padding: 0;
      margin: 0;
    }

    &-item {
      margin-bottom: 10px;
      list-style: none;
    }

    &-link {
      display: inline-flex;
      align-items: center;
      font-size: $s16;
      color: $grey-darkest;

      .dp-po-icon {
        width: 24px;
        margin-right: 10px;
      }

      &:hover {
        text-decoration: none;
      }
    }

    &-url {
      margin-top: 25px;

      input {
        width: 100%;
        padding: 9px 10px;
        overflow: hidden;
        font-size: $s16;
        color: var(--brand-primary);
        text-overflow: ellipsis;
        border: 1px solid #d3d6d7;
        border-radius: 4px;
        outline: none;
      }
    }
  }
}
