@include media-breakpoint-down(sm) {
  .dp-po-search {
    background: none;
    height: auto;
    padding: 15px 10px;
    border-bottom: 1px solid $grey-lighter;

    &-form {
      position: relative;

      input[type="search"] {
        border: 1px solid $grey;
        background: $white;
        padding: 13px 5px 13px 41px;
        font-size: $s18;
      }

      button[type="submit"] {
        background: transparent;
      }

      label {
        font-size: 22px;
        width: 22px;
        left: 10px;
        svg {
          vertical-align: -7px;
        }
      }
    }

    &-hint {
      box-shadow: none;
      border: none;
      border-radius: 0;
      padding: 10px 5px;
      width: auto;

      &-header {
        display: none;
      }
    }

    &-link {
      .dp-po-time {
        display: none;
      }
    }

    &-tabs {
      &-list {
        display: none;
      }
    }

    &-back {
      display: none;
    }
  }
}
