@include media-breakpoint-down(sm) {
  .dp-po-ticket-meta {
    border: none;
    padding: 0;

    &-title {
      font-size: $h3-font-size;
      color: $grey-dark;
      margin: 0 0 15px;
      font-weight: 400;
      font-family: $font-family-heading;
    }
  }
}
