@import url('https://fonts.googleapis.com/css?family=Rubik');

:root {
  --grey-darkest: #4c4f50;
  --grey-dark: #8b9293;
  --grey-lightest: #f7f7f7;
  --grey-light: #d3d6d7;
  --grey: #a9b0b0;
  --grey-200: #e9ecef;

  --brand-primary: #3d88f3;
  --brand-dark-primary: color-mod(var(--brand-primary) blackness(-20%));
  --brand-secondary: #a9b0b0;
  --error-color: #f16c7c;
  --label-color: var(--grey-darkest);
  --text-color: var(--grey-darkest);
  --description-color: #5f768a;
  --valid-label: #4eba5c;
  --box-shadow-30: rgba(39, 41, 86, 0.3);
  --option-background: #fff;
  --checkbox-border: var(--grey-light);
  --input-background: var(--grey-lightest);
  --input-border: #3A8DDE;
  --input-height: 44px;
  --input-padding: 17px 12px;
  --textarea-background: var(--grey-lightest);
  --placeholder-color: var(--grey);

}

.dp-pc_form {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;

  & * {
    box-sizing: border-box;
  }

  & .dp-pc_submit {
    width: 135px;
    height: 48px;
    margin-top: 5px;
    border-radius: 4px;
    background-color: var(--brand-primary);
    font-size: 18px;
    color: white;
    border: 0;
    transition: 0.2s ease all;
    &:hover, &:focus {
      background-color: var(--brand-dark-primary);
      box-shadow: 4px 4px 6px var(--box-shadow-30);
      outline: none;
    }
    &:active {
      box-shadow: inset 4px 4px 4px rgba(39, 41, 86, 0.2);
    }
  }
}

.dp-pc_field {
  position: relative;
  margin-bottom: 20px;

  & input.dp-pc_input {
    border: 1.5px solid var(--input-border);
    border-radius: 3px;
    background-color: var(--input-background);
    color: var(--text-color);
    display: block;
    font-size: 18px;
    height: var(--input-height);
    padding: var(--input-padding);
    width: 100%;
    &.disabled,
    &:disabled,
    &[readonly] {
      background-color: var(--grey-200);
      opacity: 1;
    }
  }
  & input:-webkit-autofill,
  & input:-internal-autofill-selected
  {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: var(--text-color) !important;
    background-color: var(--input-background) !important;
    color: var(--text-color) !important;
  }
  & input:focus {
    outline: none;
  }
  & .dp-pc_label {
    color: var(--label-color);
    font-size: 14px;
    font-weight: normal;
    pointer-events: none;
    margin: 0 0 15px 0;
  }

  & .dp-pc_error_message,
  & .dp-pc_description {
    font-size: 12px;
    margin-top: 7px;
    color: var(--label-color);
    display: block;
  }

  /* Error Message */
  & .dp-pc_error_message {
    color: var(--error-color);
  }

  & ::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
  }
  & :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: transparent;
  }
  & ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: transparent;
  }
  & :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: transparent;
  }

  /******************************
      Textarea
  *******************************/

  & textarea.dp-pc_input {
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    line-height: 22px;
    display: block;
    color: var(--text-color);
    border: 1.5px solid var(--input-border);
    border-radius: 3px;
    background-color: var(--textarea-background);
    min-height: 100px;

    &:disabled,
    &[readonly] {
      background-color: var(--grey-200);
      opacity: 1;
    }
  }
  & textarea:focus {
    outline: none;
  }
  & textarea ~ .indicator {
    height: 100%;
    top: 0;
  }
  & textarea ~ .divider {
    display: none;
  }
  & textarea ~ .dp-pc_description ~ .indicator {
    height: calc(100% - 30px);
  }
  & textarea ~ .dp-pc_description ~ .divider,
  & textarea ~ .dp-pc_error_message ~ .divider {
    display: block;
  }
  & textarea:focus ~ .indicator:before,
  & textarea:focus ~ .indicator:after {
    height: 50%;
  }
  & textarea ~ .dp-pc_label,

    /******************************
        Dropdown
    *******************************/


  & .react-select__control {
    border: 1.5px solid var(--grey-light);
    border-radius: 3px;
    background-color: var(--input-background);
    height: var(--input-height);
    width: 100%;
    font-size: 18px;
    box-shadow: none;
    padding: 0 11px 0 12px;
    &:hover {
      border-color: var(--brand-primary);
    }

    & .react-select__placeholder {
      color: var(--placeholder-color);
    }
    & .Select-value-label {
      top: 18px;
      font-size: 18px;
      position: absolute;
      color: var(--text-color);
    }
    & .react-select__input {
      padding: 0;
      & > input {
        padding-top: 11px;
        line-height: normal;
        height: 22px;
        font-size: 18px;
        margin-top: 2px;
      }
    }
    & .react-select__indicators {
      & .react-select__indicator-separator {
        display: none;
      }
      & .react-select__dropdown-indicator {
        position: relative;
        cursor: pointer;
        & svg {
          display: none;
        }
        &:before,
        &:after {
          position: absolute;
          left: 0;
          top: 0;
          content: ' ';
          height: 14px;
          width: 2px;
          background-color: var(--brand-primary);
        }
        &:before {
          transform: rotate(-45deg);
          transition: 0.2s ease all;
        }
        &:after {
          left: 9px;
          transform: rotate(45deg);
          transition: 0.2s ease all;
        }
      }
      & .dp-react-select__dropdown-indicator {
        position: absolute;
        top: -10px;
        left: -15px;
        bottom: -10px;
        right: -5px;
        cursor: pointer;
      }
    }
    &.react-select__control--is-focused {
      & .react-select__dropdown-indicator {
        top: 0;
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
    & .react-select__value-container {
      padding-left: 0;
      & .react-select__single-value {
        color: var(--label-color);
        margin: 0;
      }
    }
    &.react-select__value-container--has-value > .react-select__single-value,
    &.has-value.is-pseudo-focused > .Select-control .Select-value .Select-value-label {
      color: var(--label-color);
    }
  }

  & .react-select__menu {
    margin-top: 8px;
    width: 100%;
    border: 1px solid #D3D6D7;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    color: var(--text-color);
    & .react-select__option {
      font-size: 16px;
      padding: 10px;
      position: relative;
      background-color: var(--option-background);
      &.react-select__option--is-focused {
        background-color: var(--brand-secondary);
        color: var(--brand-primary);
      }
      &.react-select__option--is-selected {
        color: var(--brand-primary);
        background-color: var(--brand-secondary);
      }
      &.react-select__option--is-back {
        padding-left: 25px;
      }
    }
    & .react-select__option--arrow {
      position: absolute;
      right: 15px;
      top: 9px;
      &:before,
      &:after {
        position: absolute;
        left: 0;
        top: 0;
        content: ' ';
        height: 12px;
        width: 2px;
        background-color: var(--brand-primary);
      }
      &:before {
        transform: rotate(-45deg);
        transition: 0.2s ease all;
      }
      &:after {
        top: 7px;
        transform: rotate(45deg);
        transition: 0.2s ease all;
      }
    }
    & .react-select__option--back-arrow {
      position: absolute;
      left: 10px;
      top: 9px;
      &:before,
      &:after {
        position: absolute;
        left: 0;
        top: 0;
        content: ' ';
        height: 12px;
        width: 2px;
        background-color: var(--brand-primary);
      }
      &:before {
        transform: rotate(45deg);
        transition: 0.2s ease all;
      }
      &:after {
        top: 7px;
        transform: rotate(-45deg);
      }
    }
  }

  & .react-select__is-focused ~ .indicator:before,
  & .react-select__is-focused ~ .indicator:after {
    height: 50%;
  }


  /******************************
      Multiple Dropdown
  *******************************/

  & .react-select-multi .react-select__control {
    padding-left: 6px;
    height: auto;
    min-height: var(--input-height);
    & .react-select__value-container--is-multi {
      padding: 6px 0 0;
      & .react-select__multi-value {
        line-height: 1;
        background-color: var(--option-background);
        color: var(--text-color);
        border-radius: 4px;
        border: 2px solid var(--checkbox-border);
        margin-top: 0;
        margin-bottom: 6px;
      }
      & > [class$=-Input] {
        margin-top: 0;
        padding-top: 0;
      }
    }
    & .react-select__multi-value__label {
      position: static;
      font-size: 14px;
      padding: 4px;
    }
    & .react-select__multi-value__remove {
      border-right: none;
      font-size: 18px;
      padding: 0 5px;
    }
    & .react-select__indicators {
      align-self: flex-start;
      margin-top: 12px;
    }
    & .react-select__input > input {
      margin-top: 0;
    }
  }
  & .react-select__menu {
    & .react-select__menu-list--is-multi {
      & .dp-pc_checkbox {
        height: auto;
        padding-left: 0;
        & .dp-pc_checkbox__checkbox {
          margin-top: 0;
          & > input {
            display: none;
          }
          & > i {
            width: 16px;
            height: 16px;
            top: 2px;
            border-radius: 4px;
            border: 1px solid var(--checkbox-border);
            display: inline-block;
            position: relative;
            background-color: #FFF;
            margin: 0 7px 0 14px;
            &::after {
              content: '';
              width: 11px;
              height: 6px;
              position: absolute;
              top: 3px;
              left: 2px;
              border: 2px solid white;
              border-top: none;
              border-right: none;
              background: transparent;
              opacity: 0;
              transform: rotate(-45deg);
              box-sizing: border-box;
            }
          }
          & > input:checked + i {
            background-color: var(--brand-primary);
            border-color: var(--brand-primary);
            &::after {
              opacity: 1 !important;
              transition: .2s;
            }
          }
          & .dp-pc_checkbox__label {
            padding: 0;
            color: var(--label-color);
          }
        }
      }
      & .react-select__option--is-focused {
        background: none;
        & .dp-pc_checkbox__checkbox i {
          border-color: var(--text-color);
        }
        > span[class$='a11yText'] {
          height: 1px;
          width: 1px;
          position: absolute;
        }
      }
      & .react-select__option--is-selected {
        background: none;
        & .dp-pc_checkbox__label {
          padding: 0;
          color: var(--text-color);
        }
      }
    }
  }


  /******************************
        Input checkboxes
  *******************************/
  & .dp-pc_checkboxes {
    width: 100%;
  }
  & .dp-pc_checkboxes_checkbox {
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    & > input {
      display: none;
    }
    & > i {
      width: 16px;
      height: 16px;
      top: 2px;
      border-radius: 4px;
      border: 1px solid var(--checkbox-border);
      display: inline-block;
      position: relative;
      margin-right: 3px;
      background-color: #FFF;
      &::after {
        content: '';
        width: 11px;
        height: 6px;
        position: absolute;
        top: 3px;
        left: 2px;
        border: 2px solid white;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
        box-sizing: border-box;
      }
    }
    & > input:checked + i {
      background-color: var(--brand-primary);
      border-color: var(--brand-primary);
      &::after {
        opacity: 1 !important;
        transition: .2s;
      }
    }
    & > input:checked ~ span.label {
      color: var(--text-color);
    }
    & span.label {
      color: var(--label-color);
      margin-right: 20px;
      font-size: 14px;
    }
    &:focus,
    &:hover {
      outline: none;
      & i {
        border-color: var(--text-color);
      }
    }
  }
  & .dp-pc_checkboxes_label {
    font-size: 14px;
    color: var(--label-color);
  }


  /******************************
      Input radio
  *******************************/
  & .dp-pc_radios {
    padding: 23px 10px 0 0;
    width: 100%;
  }
  & .dp-pc_radio {
    margin-top: 10px;
    display: inline-block;
    & > input {
      display: none;
    }
    & > i {
      height: 16px;
      width: 16px;
      top: 2px;
      border-radius: 50%;
      border: 1px solid var(--checkbox-border);
      display: inline-block;
      cursor: pointer;
      position: relative;
      margin-right: 3px;
      background-color: #FFF;
      &::after {
        content: '';
        position: absolute;
        background-color: white;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transition: 0s;
      }
    }
    & > input:checked + i {
      background-color: var(--brand-primary);
      border-color: var(--brand-primary);
      &::after {
        width: 6px;
        height: 6px;
        top: 4px;
        left: 4px;
        transition: .2s;
      }
    }
    & > input:checked ~ span.label {
      color: var(--text-color);
    }
    & span.label {
      color: var(--label-color);
      margin-right: 20px;
      font-size: 14px;
    }
    &:focus {
      outline: none;
      & i {
        border-color: var(--text-color);
      }
    }
  }
  & .dp-pc_radio_label {
    position: absolute;
    top: 7px;
    font-size: 14px;
    color: var(--label-color);
  }

  &.dp-pc_error .dp-pc_radio {
    & > i {
      border-color: var(--error-color);
    }
  }
  & .dp-pc_radios.focused ~ .indicator:before,
  & .dp-pc_radios.focused ~ .indicator:after {
    height: 50%;
  }

  /******************************
      File Upload
  *******************************/
  & .dp-pc_file-upload {
    color: var(--grey);

    & .dp-pc_file-upload__dropzone {
      border: 2px dashed var(--checkbox-border);
      border-radius: 4px;
      display: inline-block;
      padding: 10px;
      white-space: nowrap;
      cursor: pointer;
      width: 100%;
      & .choose {
        border: 2px solid var(--checkbox-border);
        border-radius: 4px;
        padding: 10px;
        display: inline-block;
      }
      & .or {
        display: inline-block;
        padding: 16px 10px;
      }
      & .dnd {
        display: inline-block;
      }
      & svg {
        height: 17px;
        margin-right: 8px;
        margin-bottom: -2px;
      }
      &:hover .choose,
      & .choose:focus {
        outline: none;
        border-color: var(--brand-primary);
        color: var(--brand-primary);
        transition: 0.2s ease all;
        & svg [class$=st0] {
          fill: var(--brand-primary);
          transition: 0.2s ease all;
        }
      }
      &.active {
        border-color: var(--brand-primary);
        transition: 0.2s ease all;
        & .dnd {
          color: var(--brand-primary);
          & svg [class$=st0] {
            fill: var(--brand-primary);
          }
        }
      }
    }
    & > ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
      & > li {
        margin-top: 8px;
        font-size: 14px;
        color: var(--description-color);
        & .dp-pc_file-upload_remove-file {
          color: var(--grey-light);
          margin-left: 5px;
          font-size: 12px;
          cursor: pointer;
          & svg {
            width: 9px;
            & path {
              fill: var(--grey-light);
            }
          }
          &:hover {
            color: var(--error-color);
            transition: 0.2s ease all;
            & svg path {
              fill: var(--error-color);
              transition: 0.2s ease all;
            }
          }
        }
      }
    }
    & ~ .indicator {
      top: 40px;
      height: 75px;
    }
    &.focused {
      & ~ .indicator:before,
      & ~ .indicator:after {
        height: 50%;
      }
    }
    .dp-pc_file-full-dnd {
      font-size: 14px;
      display: flex;
      flex-direction: row;
      margin-left: -7px;
      & * {
        line-height: 150%;
        color: var(--grey-darkest);
        vertical-align: middle;
      }
      & label {
        cursor: pointer;
      }
      & .or {
        color: var(--grey-light);
      }
    }
  }
  &.dp-pc_error .dp-pc_file-upload__dropzone {
    border-color: var(--error-color);
    & .choose, & .dnd {
      & svg [class$=st0] {
        fill: var(--error-color);
      }
    }
  }

  & .dp-pc_file-input_label {
    position: absolute;
    top: 10px;
    font-size: 16px;
    color: var(--label-color);
    left: 10px;
  }

  /******************************
      Date Picker
  *******************************/
  & .dp-pc_date-picker {
    width: 100%;
    background-color: var(--input-background);
    border: 1.5px solid var(--input-border);
    border-radius: 3px;

    & input.dp-pc_date-picker_input {
      font-size: 18px;
      padding: var(--input-padding);
      background-color: var(--input-background);
      display: block;
      height: var(--input-height);
      color: var(--text-color);
      border: none;
      margin-bottom: 1px;
    }
    & svg {
      width: 20px;
      margin-left: 5px;
      margin-bottom: -4px;
    }
    & svg + div {
      display: inline-block;
      width: calc(100% - 25px);
    }
    & .react-datepicker-wrapper {
      width: calc(100% - 25px);
    }
    & .react-datepicker__input-container {
      width: 100%;
    }
    &.focused {
      & svg [class$=st0] {
        fill: var(--brand-primary);
      }
    }
    & .react-datepicker__current-month--hasYearDropdown.react-datepicker__current-month--hasMonthDropdown {
      display: none;
    }
    & .react-datepicker__time-list {
      -webkit-padding-start: 0;
    }
  }
  & .dp-pc_date-picker_label {
    left: 40px;
  }

  /******************************
      Likert scale
  *******************************/
  & .dp-pc_likert {
    width: 100%;
    padding: 30px 10px 10px 0;
    & label {
      cursor: pointer;
    }
    & .dp-pc_likert_input {
      display: inline-block;
      width: 100px;
      text-align: center;
      color: var(--label-color);
      &:first-child .dp-pc_likert_number {
        border-left-width: 1px;
        border-radius: 4px 0 0 4px;
      }
      &:last-child .dp-pc_likert_number {
        border-right-width: 1px;
        border-radius: 0 4px 4px 0;
      }
      &:focus {
        outline: none;
        & .dp-pc_likert_number {
          background-color: var(--brand-primary);
          color: #fff;
        }
        & .dp-pc_likert_label {
          color: var(--brand-primary);
        }
      }
    }
    &.focused ~ .indicator:before,
    &.focused ~ .indicator:after {
      height: 50%;
    }
    & .dp-pc_likert_number {
      height: 25px;
      display: block;
      font-size: 16px;
      border-color: var(--checkbox-border);
      background-color: var(--textarea-background);
      border-width: 1px 0;
      border-style: solid;
      line-height: 25px;
    }
    & .dp-pc_likert_label {
      display: block;
      font-size: 12px;
      margin-top: 6px;
    }
    & input:checked ~ .dp-pc_likert_number {
      background-color: var(--valid-label) !important;
      color: #fff;
    }
    & input:checked ~ .dp-pc_likert_label {
      color: var(--valid-label) !important;
    }
    & ~ .indicator {
      top: 0;
      height: 72px;
    }
  }
  & .dp-pc_likert ~ .dp-pc_label,
  &.dp-pc_field--tel .dp-pc_label,
  &.dp-pc_field--tel input:focus ~ .dp-pc_label {
    font-size: inherit;
    color: var(--label-color);
    top: 0;
  }
  &.dp-pc_field--tel {
    & .react-select {
      width: 120px;
      display: inline-block;
      & .react-select__menu {
        width: auto;
        & .react-select__option {
          white-space: nowrap;
          & .react-select__description {
            color: var(--label-color);
            font-size: 13px;
          }
        }
      }
      & .react-select__single-value .react-select__description {
        display: none;
      }
      & .react-select__placeholder {
        color: var(--grey-light);
      }
    }
    & .dp-pc_input {
      display: inline-block;
      width: calc(100% - 120px);
      vertical-align: top;
      margin-left: 0;
    }

    & ::-webkit-input-placeholder { /* WebKit browsers */
      color: var(--grey-light);
    }
    & :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: var(--grey-light);
    }
    & ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: var(--grey-light);
    }
    & :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: var(--grey-light);
    }
  }
}

.dp-pc_full-dnd__droparea {
  position: absolute;
  background-color: #FFF;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  border: solid 2px var(--brand-primary);
  border-radius: 4px;

  & > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    & p {
      color: var(--grey-dark);
    }
  }
  & .dp-progress {
    width: 80%;
  }

  div.dp-pc_full-dnd__droparea_error {
    svg {
      width: 56px;
      height: 56px;
      color: var(--error-color);
    }
    & > p {
      color: var(--error-color);
    }
    button {
      background: var(--error-color);
      border-radius: 4px;
      color: white;
      font-size: 16px;
      padding: 10px 1rem;
      cursor: pointer;
    }
  }
}

.dp-pc_field.dp-pc_multi-select .react-select__control {
  height: inherit;
}
.dp-pc_form.show-hover {
  & .dp-pc_likert .dp-pc_likert_input:hover {
    & .dp-pc_likert_number {
      background-color: var(--brand-primary);
      color: #fff;
    }
    & .dp-pc_likert_label {
      color: var(--brand-primary);
    }
  }
}
.dp-progress {
  width: 100%;
  margin: 2px 0;
  &--s {
    .dp-progress__bar {
      height: 1px;
    }
  }
  &--m {
    .dp-progress__bar {
      height: 2px;
      border-radius: 1px;
    }
  }
  &--l {
    .dp-progress__bar {
      height: 5px;
      border-radius: 2.5px;
    }
  }
  &--primary {
    & .dp-progress__bar {
      background-color: var(--brand-primary);
    }
  }
  &--cta {
    & .dp-progress__bar {
      background-color: var(--valid-label);
    }
  }
}
