@import url('https://fonts.googleapis.com/css?family=Rubik');

:root {
  --brand-primary: #3d88f3;
  --error-color: #f16c7c;
  --label-color: #7d95aa;
  --text-color: #5f768a;
  --description-color: #5f768a;
  --light-grey: #9fb3c4;
  --divider-color: #dee4eb;
    --valid-label: #4eba5c;
  --box-shadow-30: rgba(39, 41, 86, 0.3);
  --option-background: #eff0f2;
  --checkbox-border: #dce4eb;
  --input-padding: 11px 10px 1px 0;
  --input-height: 59px;
  --textarea-background: #f8fafc;
}


.dp-pc_form {
  box-sizing: border-box;

  font-family: 'Rubik', sans-serif;

  & * {
    box-sizing: border-box;
  }

  & .dp-pc_submit {
    width: 135px;
    height: 48px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 4px;
    background-color: var(--brand-primary);
    font-size: 18px;
    color: white;
    border: 0;
    transition: 0.2s ease all;
    &:hover, &:focus {
      background-color: color(var(--brand-primary) alpha(-20%));
      box-shadow: 4px 4px 6px var(--box-shadow-30);
      outline: none;
    }
    &:active {
      box-shadow: inset 4px 4px 4px rgba(39, 41, 86, 0.2);
    }
  }
}

.dp-pc_field {
  position: relative;

  & input.dp-pc_input {
    font-size: 18px;
    padding: var(--input-padding);
    margin-left: 10px;
    display: block;
    height: var(--input-height);
    width: calc(100% - 20px);
    color: var(--text-color);
    border: none;
  }
  & input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: var(--text-color) !important;
  }
  & input:focus {
    outline: none;
  }
  & .dp-pc_label {
    color: var(--label-color);
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 25px;
    transition: 0.2s ease all;
  }
  & input:focus ~ .dp-pc_label,
  &:not(.dp-pc_empty) .dp-pc_label,
  & .react-select__is-focused ~ .dp-pc_label {
    top: 11px;
    left: 10px;
    font-size: 10px;
    color: var(--brand-primary);
  }

  &:not(.dp-pc_empty):not(.dp-pc_error) input:not(:focus) ~ .dp-pc_label {
    color: var(--valid-label);
  }

  & .indicator {
    position: absolute;
    display: inline-block;
    height: 48px;
    top: 11px;
    left: 0;
  }
  & .indicator:before,
  & .indicator:after {
    content: '';
    height: 0;
    width: 3px;
    left: 1px;
    position: absolute;
    background: var(--brand-primary);
    transition: 0.2s ease all;
  }
  & .indicator:before {
    top: 50%;
  }
  & .indicator:after {
    bottom: 50%;
  }

  /* active state */
  & input:focus ~ .indicator:before,
  & input:focus ~ .indicator:after {
    height: 50%;
  }

  & input:invalid .indicator:before,
  & input:invalid .indicator:after,
  &.dp-pc_error .indicator:before,
  &.dp-pc_error .indicator:after {
    height: 50%;
    background: var(--error-color);
  }

  /* DIVIDER ================================== */
  & .divider {
    margin-left: 10px;
    width: calc(100% - 20px);
    margin-top: 10px;
    height: 1px;
    background-color: var(--divider-color);
  }

  & .dp-pc_error_message,
  & .dp-pc_description {
    font-size: 12px;
    margin-left: 10px;
    bottom: 5px;
    left: 11px;
    color: var(--label-color);
  }

  /* Error Message */
  & .dp-pc_error_message {
    color: var(--error-color);
  }

  & ::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
  }
  & :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: transparent;
  }
  & ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: transparent;
  }
  & :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: transparent;
  }

  /******************************
      Textarea
  *******************************/

  & textarea.dp-pc_input {
    font-size: 16px;
    width: calc(100% - 20px);
    padding: 10px;
    line-height: 22px;
    margin-left: 10px;
    display: block;
    color: var(--text-color);
    border: 1px solid var(--checkbox-border);
    border-radius: 4px;
    background-color: var(--textarea-background);
    margin-top: 40px;
  }
  & textarea:focus {
    outline: none;
  }
  & textarea ~ .indicator {
    height: 100%;
    top: 0;
  }
  & textarea ~ .divider {
    display: none;
  }
  & textarea ~ .dp-pc_description ~ .indicator {
    height: calc(100% - 30px);
  }
  & textarea ~ .dp-pc_description ~ .divider,
  & textarea ~ .dp-pc_error_message ~ .divider {
    display: block;
  }
  & textarea:focus ~ .indicator:before,
  & textarea:focus ~ .indicator:after {
    height: 50%;
  }
  & textarea ~ .dp-pc_label,
  &:not(.dp-pc_empty) textarea ~ .dp-pc_label {
    position: absolute;
    top: -30px;
    font-size: 18px;
    color: var(--label-color);
    left: 10px;
  }

  /******************************
      Dropdown
  *******************************/

  & .react-select__control {
    border: none;
    border-radius: 0;
    padding: var(--input-padding);
    background-color: transparent;
    margin-left: 10px;
    height: var(--input-height);
    width: calc(100% - 20px);
    font-size: 18px;
    box-shadow: none;

    & .react-select__placeholder {
      color: transparent;
    }
    & .Select-value-label {
      top: 18px;
      font-size: 18px;
      position: absolute;
      color: var(--text-color);
    }
    & .react-select__input {
      padding: 0;
      & > input {
        padding-top: 11px;
        line-height: normal;
        height: 22px;
        font-size: 18px;
        margin-top: 2px;
      }
    }
    & .react-select__indicators {
      & .react-select__indicator-separator {
        display: none;
      }
      & .react-select__dropdown-indicator {
        position: relative;
        & svg {
          display: none;
        }
        &:before,
        &:after {
          position: absolute;
          left: 0;
          top: 0;
          content: ' ';
          height: 14px;
          width: 2px;
          background-color: var(--brand-primary);
        }
        &:before {
          transform: rotate(-45deg);
          transition: 0.2s ease all;
        }
        &:after {
          left: 9px;
          transform: rotate(45deg);
          transition: 0.2s ease all;
        }
      }
    }
    &.react-select__control--is-focused {
      & .react-select__dropdown-indicator {
        top: 0;
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
    & .react-select__value-container {
      padding-left: 0;
      & .react-select__single-value {
        color: var(--label-color);
        margin: 0;
      }
    }
    &.react-select__value-container--has-value > .react-select__single-value,
    &.has-value.is-pseudo-focused > .Select-control .Select-value .Select-value-label {
      color: var(--label-color);
    }
  }
  & .react-select__menu {
    margin-top: -20px;
    width: calc(100% - 20px);
    border: none;
    box-shadow: 4px 4px 6px var(--box-shadow-30);
    color: var(--text-color);
    & .react-select__option {
      font-size: 16px;
      padding: 10px;
      position: relative;
      &.react-select__option--is-focused {
        background-color: var(--option-background);
        color: var(--brand-primary);
      }
      &.react-select__option--is-selected {
        color: var(--text-color);
        background-color: color(var(--brand-primary) alpha(10%));
      }
    }
    & .react-select__option--arrow {
      position: absolute;
      right: 15px;
      top: 9px;
      &:before,
      &:after {
        position: absolute;
        left: 0;
        top: 0;
        content: ' ';
        height: 12px;
        width: 2px;
        background-color: var(--brand-primary);
      }
      &:before {
        transform: rotate(-45deg);
        transition: 0.2s ease all;
      }
      &:after {
        top: 7px;
        transform: rotate(45deg);
        transition: 0.2s ease all;
      }
    }
  }

  & .react-select__is-focused ~ .indicator:before,
  & .react-select__is-focused ~ .indicator:after {
    height: 50%;
  }


  /******************************
      Multiple Dropdown
  *******************************/

  & .react-select__control {
    & .react-select__value-container--is-multi {
      & .react-select__multi-value {
        line-height: 1.2;
        background-color: var(--option-background);
        color: var(--text-color);
        border-radius: 4px;
        border: 2px solid var(--checkbox-border);
        margin-top: 15px;
      }
    }
    & .react-select__multi-value__label {
      position: static;
      font-size: 12px;
    }
    & .react-select__multi-value__remove {
      border-right: none;
      font-size: 18px;
      padding: 0 5px;
    }
    & .react-select__input > input {
      margin-top: 12px;
    }
  }
  & .react-select__menu {
    margin-top: -5px;
    & .react-select__menu-list--is-multi {
      & .dp-pc_checkbox {
        height: auto;
        padding-left: 0;
        & .dp-pc_checkbox__checkbox {
          margin-top: 0;
          & .dp-pc_checkbox__label {
            padding: 0;
            color: var(--label-color);
          }
        }
      }
      & .react-select__option--is-focused {
        background: none;
        & .dp-pc_checkbox__checkbox i {
          border-color: var(--text-color);
        }
      }
      & .react-select__option--is-selected {
        background: none;
        & .dp-pc_checkbox__label {
          padding: 0;
          color: var(--text-color);
        }
      }
    }
  }


  /******************************
      Input checkbox
  *******************************/
  & .dp-pc_checkbox {
    height: var(--input-height);
    padding: var(--input-padding);
    margin-left: 10px;
    width: calc(100% - 20px);

    & .dp-pc_checkbox__checkbox {
      margin-top: 5px;
      display: inline-block;
      & > i {
        width: 16px;
        height: 16px;
        top: 2px;
        border-radius: 4px;
        border: 2px solid var(--checkbox-border);
        display: inline-block;
        cursor: pointer;
        position: relative;
        margin-right: 3px;
        background: #fff;
        &:after {
          content: '';
          width: 11px;
          height: 6px;
          position: absolute;
          top: 2px;
          left: 1px;
          border: 2px solid var(--brand-primary);
          border-top: none;
          border-right: none;
          background: transparent;
          opacity: 0;
          transform: rotate(-60deg);
          box-sizing: border-box;
        }
      }
      &:focus {
        outline: none;
        & i {
          border-color: var(--text-color);
        }
      }
      & .dp-pc_checkbox__label {
        margin-left: 5px;
        padding: 10px 10px 11px 0;
        display: inline-block;
        color: var(--text-color);
      }
      & input[type=checkbox] {
        display: none;
        &:checked ~ i::after {
          opacity: 1 !important;
        }
      }
    }
  }

  &.dp-pc_error .dp-pc_checkbox {
    & label.dp-pc_checkbox__checkbox {
      border-color: var(--error-color);
    }
  }

  & .dp-pc_checkbox.focused ~ .indicator:before,
  & .dp-pc_checkbox.focused ~ .indicator:after {
    height: 50%;
  }
  /******************************
        Input checkboxes
  *******************************/
  & .dp-pc_checkboxes {
    padding: 23px 10px 11px 0;
    margin-left: 10px;
    height: var(--input-height);
    width: calc(100% - 20px);
  }
  & .dp-pc_checkboxes_checkbox {
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    & > input {
      display: none;
    }
    & > i {
      width: 16px;
      height: 16px;
      top: 2px;
      border-radius: 4px;
      border: 2px solid var(--checkbox-border);
      display: inline-block;
      position: relative;
      margin-right: 3px;
      background-color: #FFF;
      &::after {
        content: '';
        width: 11px;
        height: 6px;
        position: absolute;
        top: 2px;
        left: 1px;
        border: 2px solid var(--brand-primary);
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-60deg);
        box-sizing: border-box;
      }
    }
    & > input:checked + i::after {
      opacity: 1 !important;
      transition: .2s;
    }
    & > input:checked ~ span.label {
      color: var(--text-color);
    }
    & span.label {
      color: var(--label-color);
      margin-right: 20px;
      font-size: 16px;
    }
    &:focus,
    &:hover {
      outline: none;
      & i {
        border-color: var(--text-color);
      }
    }
  }
  & .dp-pc_checkboxes_label {
    position: absolute;
    top: 7px;
    font-size: 18px;
    color: var(--label-color);
    left: 10px;
  }

  & .dp-pc_checkboxes.focused ~ .indicator:before,
  & .dp-pc_checkboxes.focused ~ .indicator:after {
    height: 50%;
  }

  /******************************
      Input radio
  *******************************/
  & .dp-pc_radios {
    padding: 23px 10px 11px 0;
    margin-left: 10px;
    width: calc(100% - 20px);
  }
  & .dp-pc_radio {
    margin-top: 10px;
    display: inline-block;
    & > input {
      display: none;
    }
    & > i {
      height: 16px;
      width: 16px;
      top: 2px;
      border-radius: 50%;
      border: 2px solid var(--checkbox-border);
      display: inline-block;
      cursor: pointer;
      position: relative;
      margin-right: 3px;
      background-color: #FFF;
      &::after {
        content: '';
        position: absolute;
        background-color: var(--brand-primary);
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transition: 0s;
      }
    }
    & > input:checked + i::after {
      width: 8px;
      height: 8px;
      top: 17%;
      left: 17%;
      transition: .2s;
    }
    & > input:checked ~ span.label {
      color: var(--text-color);
    }
    & span.label {
      color: var(--label-color);
      margin-right: 20px;
      font-size: 16px;
    }
    &:focus {
      outline: none;
      & i {
        border-color: var(--text-color);
      }
    }
  }
  & .dp-pc_radio_label {
    position: absolute;
    top: 7px;
    font-size: 18px;
    color: var(--label-color);
    left: 10px;
  }

  &.dp-pc_error .dp-pc_radio {
    & > i {
      border-color: var(--error-color);
    }
  }
  & .dp-pc_radios.focused ~ .indicator:before,
  & .dp-pc_radios.focused ~ .indicator:after {
    height: 50%;
  }

  /******************************
      File Upload
  *******************************/
  & .dp-pc_file-upload {
    color: var(--text-color);
    margin-left: 10px;
    & .dp-pc_file-upload__dropzone {
      border: 2px dashed var(--checkbox-border);
      border-radius: 4px;
      display: inline-block;
      padding: 10px 23px 10px 10px;
      margin-top: 40px;
      white-space: nowrap;
      cursor: pointer;
      & .choose {
        border: 2px solid var(--checkbox-border);
        border-radius: 4px;
        padding: 10px;
        display: inline-block;
      }
      & .or {
        display: inline-block;
        padding: 16px;
        font-style: italic;
      }
      & .dnd {
        display: inline-block;
      }
      & svg {
        height: 17px;
        margin-right: 8px;
        margin-bottom: -2px;
      }
      &:hover .choose,
      & .choose:focus {
        outline: none;
        border-color: var(--brand-primary);
        color: var(--brand-primary);
        transition: 0.2s ease all;
        & svg [class$=st0] {
          fill: var(--brand-primary);
          transition: 0.2s ease all;
        }
      }
    }
    & > ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
      & > li {
        margin-top: 8px;
        font-size: 14px;
        color: var(--description-color);
        & .dp-pc_file-upload_remove-file {
          color: var(--light-grey);
          font-size: 12px;
          cursor: pointer;
          & svg {
            width: 12px;
            & path {
              fill: var(--light-grey);
            }
          }
          &:hover {
            color: var(--error-color);
            transition: 0.2s ease all;
            & svg path {
              fill: var(--error-color);
              transition: 0.2s ease all;
            }
          }
        }
      }
    }
    & ~ .indicator {
      top: 40px;
      height: 75px;
    }
    &.focused {
      & ~ .indicator:before,
      & ~ .indicator:after {
        height: 50%;
      }
    }
  }
  &.dp-pc_error .dp-pc_file-upload__dropzone {
    border-color: var(--error-color);
    & .choose, & .dnd {
      & svg [class$=st0] {
        fill: var(--error-color);
      }
    }
  }

  & .dp-pc_file-input_label {
    position: absolute;
    top: 10px;
    font-size: 16px;
    color: var(--label-color);
    left: 10px;
  }

  /******************************
      Date Picker
  *******************************/
  & .dp-pc_date-picker {
    width: calc(100% - 20px);
    margin-left: 10px;
    & input.dp-pc_date-picker_input {
      font-size: 18px;
      padding: var(--input-padding);
      display: block;
      height: var(--input-height);
      color: var(--text-color);
      margin-left: 10px;
      border: none;
      width: 100%;
    }
    & svg {
      width: 20px;
      margin-left: 0;
      margin-bottom: -4px;
    }
    & svg + div {
      display: inline-block;
      width: calc(100% - 20px);
    }
    & .react-datepicker-wrapper {
      width: 100%;
    }
    & .react-datepicker__input-container {
      width: 100%;
    }
    &.focused {
      & ~ .indicator:before,
      & ~ .indicator:after {
        height: 50%;
      }
      & svg [class$=st0] {
        fill: var(--brand-primary);
      }
      & ~ .dp-pc_label {
        top: 11px;
        left: 10px;
        font-size: 10px;
        color: var(--brand-primary);
      }
    }
    & .react-datepicker__current-month--hasYearDropdown.react-datepicker__current-month--hasMonthDropdown {
      display: none;
    }
    & .react-datepicker__time-list {
      -webkit-padding-start: 0;
    }
  }
  & .dp-pc_date-picker_label {
    left: 40px;
  }

  /******************************
      Likert scale
  *******************************/
  & .dp-pc_likert {
    margin-left: 10px;
    width: calc(100% - 20px);
    padding: 30px 10px 10px 0;
    & label {
      cursor: pointer;
    }
    & .dp-pc_likert_input {
      display: inline-block;
      width: 100px;
      text-align: center;
      color: var(--label-color);
      &:first-child .dp-pc_likert_number {
        border-left-width: 1px;
        border-radius: 4px 0 0 4px;
      }
      &:last-child .dp-pc_likert_number {
        border-right-width: 1px;
        border-radius: 0 4px 4px 0;
      }
      &:focus {
        outline: none;
        & .dp-pc_likert_number {
          background-color: var(--brand-primary);
          color: #fff;
        }
        & .dp-pc_likert_label {
          color: var(--brand-primary);
        }
      }
    }
    &.focused ~ .indicator:before,
    &.focused ~ .indicator:after {
      height: 50%;
    }
    & .dp-pc_likert_number {
      height: 25px;
      display: block;
      font-size: 16px;
      border-color: var(--checkbox-border);
      background-color: var(--textarea-background);
      border-width: 1px 0;
      border-style: solid;
      line-height: 25px;
    }
    & .dp-pc_likert_label {
      display: block;
      font-size: 12px;
      margin-top: 6px;
    }
    & input:checked ~ .dp-pc_likert_number {
      background-color: var(--valid-label) !important;
      color: #fff;
    }
    & input:checked ~ .dp-pc_likert_label {
      color: var(--valid-label) !important;
    }
    & ~ .indicator {
      top: 0;
      height: 72px;
    }
  }
  &:not(.dp-pc_empty) .dp-pc_likert ~ .dp-pc_label,
  & .dp-pc_likert ~ .dp-pc_label,
  &.dp-pc_field--tel .dp-pc_label,
  &.dp-pc_field--tel input:focus ~ .dp-pc_label {
    font-size: inherit;
    color: var(--label-color);
    top: 0;
  }
  &.dp-pc_field--tel {
    & .react-select {
      width: 120px;
      display: inline-block;
      & .react-select__menu {
        width: auto;
        & .react-select__option {
          white-space: nowrap;
          & .react-select__description {
            color: var(--label-color);
            font-size: 13px;
            margin-left: 10px;
          }
        }
      }
      & .react-select__single-value .react-select__description {
        display: none;
      }
      & .react-select__placeholder {
        color: var(--light-grey);
      }
    }
    & .dp-pc_input {
      display: inline-block;
      width: calc(100% - 120px);
      vertical-align: top;
      margin-left: 0;
    }

    & ::-webkit-input-placeholder { /* WebKit browsers */
      color: var(--light-grey);
    }
    & :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: var(--light-grey);
    }
    & ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: var(--light-grey);
    }
    & :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: var(--light-grey);
    }
  }
}
.dp-pc_form.show-hover {
  & .dp-pc_field:hover {
    & .indicator:before,
    & .indicator:after {
      height: 50%;
    }
  }
  & .dp-pc_likert .dp-pc_likert_input:hover {
    & .dp-pc_likert_number {
      background-color: var(--brand-primary);
      color: #fff;
    }
    & .dp-pc_likert_label {
      color: var(--brand-primary);
    }
  }
}
