/**************************
******* VARIABLES ********
**************************/
@import "variables/css_variables";
@import "variables/colors";
@import "variables/vars";

.dp-po {
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /**************************
  ******* LIBRARIES ********
  **************************/
  @import "vendor/bootstrap";

  /**************************
  ******* COMPONENTS ********
  **************************/
  @import "components/alert";
  @import "components/avatar";
  @import "components/badge";
  @import "components/breadcrumbs";
  @import "components/buttons";
  @import "components/clipboard";
  @import "components/dropdowns";
  @import "components/forms";
  @import "components/icons";
  @import "components/like";
  @import "components/modal";
  @import "components/notification";
  @import "components/pagination";
  @import "components/status-ribbon";
  @import "components/subscribe";
  @import "components/table";
  @import "components/time";
  @import "components/timeline";
  @import "components/title";
  @import "components/tooltip";
  @import "components/viewlink";

  /**************************
  ******* MODULES ********
  **************************/
  @import "modules/block";
  @import "modules/chat-log";
  @import "modules/columnfilter";
  @import "modules/comments";
  @import "modules/community-channel";
  @import "modules/community-featured";
  @import "modules/community-status";
  @import "modules/community-tabs";
  @import "modules/community-topics";
  @import "modules/downloads-listing";
  @import "modules/footer";
  @import "modules/guides";
  @import "modules/header";
  @import "modules/kb-category-title";
  @import "modules/kb-category";
  @import "modules/kb-featured";
  @import "modules/layout";
  @import "modules/messages";
  @import "modules/navigation-block";
  @import "modules/news-carousel";
  @import "modules/news-filter";
  @import "modules/news-listing";
  @import "modules/post-attachments";
  @import "modules/post-avatars";
  @import "modules/post-content";
  @import "modules/post-day";
  @import "modules/post-extra";
  @import "modules/post-info";
  @import "modules/post-label";
  @import "modules/post-like";
  @import "modules/post-links";
  @import "modules/post-meta";
  @import "modules/post-rating";
  @import "modules/post-share";
  @import "modules/post-user";
  @import "modules/profile-activity";
  @import "modules/profile";
  @import "modules/related-content";
  @import "modules/search";
  @import "modules/sidebar";
  @import "modules/type";

  /**************************
  ******** PAGES *********
  **************************/
  @import "pages/account-register";
  @import "pages/chat-home";
  @import "pages/chat-view-log";
  @import "pages/community-create-topic";
  @import "pages/community-home-status";
  @import "pages/community-home-topic";
  @import "pages/community-topic";
  @import "pages/direct-messages";
  @import "pages/downloads-eula";
  @import "pages/downloads-file";
  @import "pages/downloads-home";
  @import "pages/homepage";
  @import "pages/kb-article";
  @import "pages/kb-home";
  @import "pages/member-directory";
  @import "pages/news-home";
  @import "pages/news-post";
  @import "pages/public-profile.scss";
  @import "pages/ticket-create";
  @import "pages/ticket-home";
  @import "pages/ticket-view";
}

@import "components/global";

body {
  margin: 0;
  padding: 0;
  font-size: $font-size-base;
  color: $text-color;
}
