/**************************
******* VARIABLES ********
**************************/
@import "variables/colors";
@import "variables/vars";

.dp-po {
  font: $font-size-base $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /**************************
  ******* LIBRARIES ********
  **************************/
  @import "vendor/bootstrap/bootstrap";
  @import "vendor/fontawesome/all.css";

  /**************************
  ******* MODULES ********
  **************************/
  @import "modules/layout";
  @import "modules/header";
  @import "modules/footer";
  @import "modules/search";
  @import "modules/breadcrumbs";
  @import "modules/block";
  @import "modules/comments";
  @import "modules/sidebar";
  @import "modules/type";
  @import "modules/user-content";


  /**************************
  ******* COMPONENTS ********
  **************************/
  @import "components/forms";
  @import "components/buttons";
  @import "components/icons";
  @import "components/labels";
  @import "components/dropdowns";
  @import "components/tooltip";

  /**************************
  ******** ELEMENTS *********
  **************************/
  @import "elements/title";
  @import "elements/avatar";
  @import "elements/subscribe";


  /**************************
  ******** PAGES *********
  **************************/
  @import "pages/kb-article";
}

body {
  margin: 0;
  padding: 0;
  font-size: $font-size-base;
}
