.dp-po-downloads-eula .container--downloads-eula {
	/*max-width: 765px;*/
	margin: auto;
	padding: 0 0 50px;
}

.dp-po-downloads-eula .dp-po-main .dp-po-Title-page {
	margin-top: 0;
	padding: 40px 0 27px;
}

.dp-po-downloads-eula .container--downloads-eula .dp-po-tex-wrap {
	padding: 45px 38px 35px 45px;
	margin-bottom: 0;
}

.dp-po-downloads-eula .dp-po-eula-wrap {
	border: 1px solid var(--grey-light);
	padding: 45px 30px 0;
	text-align: center;
	height: 100%;
	max-height: 1108px;
	overflow-y: auto;
}

.dp-po-downloads-eula .dp-po-eula-wrap .dp-po-eula-title {
	font: var(--h-2);
	margin-top: 6px;
	margin-bottom: 24px;
}

.dp-po-downloads-eula .dp-po-eula-wrap p {
	font: var(--p-1);
	margin-bottom: 28px;
}

.dp-po-downloads-eula .dp-po-tex-wrap .dp-po-Button {
    max-width: 160px;
    margin: 40px auto 0;
    min-width: auto
}

@media (max-width: 992px) {

	.dp-po-downloads-eula .dp-po-eula-wrap p {
		font: var(--mp-1);
		margin-bottom: 25px;
	}

	.dp-po-downloads-eula .dp-po-eula-wrap p:last-child {
		margin-bottom: 5px;
	}

	.dp-po-downloads-eula .dp-po-main .dp-po-Title-page {
		padding: 15px 0 0;
		margin: 0;
	}

	.dp-po-downloads-eula .container--downloads-eula .dp-po-tex-wrap {
		padding: 20px 0 35px 0;
	}

	.dp-po-downloads-eula .container--downloads-eula {
		padding: 0 5px;
	}

	.dp-po-downloads-eula .dp-po-eula-wrap {
		max-height: 100%;
		padding: 15px 10px 0;
	}

	.dp-po-downloads-eula .dp-po-eula-wrap .dp-po-eula-title {
		margin-top: 25px;
	}

}

@media (min-width: 992px) {
	.dp-po-downloads-eula .container--downloads-eula {
	    max-width: 765px;
	}
}
