.dp-po-dropdown-menu .dp-po-dropdown-menu-item.is-hover {
  background-color: var(--info-light);
  color: var(--brand-primary);
}

.dp-po-search-expand.is-hover > .dp-po-txt {
  color: var(--brand-primary);
}
