body {
	color: var(--grey-darkest);
}

.dp-Template {
	position: relative;
}

.dp-po-nav {
  justify-content: space-between;
  margin: 0;
  padding: 15px 0 18px;
}

.dp-po-nav,
.dp-po-nav-control ul {
  align-items: center;
  display: flex;
  list-style: none;
}

.dp-po-nav .dp-po-nav-control {
  margin: 0;
}

.dp-po-nav-control ul {
  padding: 0;
  margin-right: 21px;
}

.dp-po-nav li,
.dp-po-nav-control li {
  margin: 0 58px 0 0;
}

.dp-po-nav-control li:last-child {
  margin-right: 12px;
}

.dp-po-nav .dp-po-Avatar-icon {
  margin-right: 11px;
}

.dp-po-nav .dp-po-Avatar.Avatar--circle {
	display: none;
}

.dp-po-Logo-wrap {
  align-items: center;
  display: flex;
}

.dp-po-Logo-wrap .dp-po-Icon {
  margin-left: 30px;
  margin-right: 60px;
  position: relative;
}

.dp-po-nav .dp-po-Button {
  position: relative;
}

.dp-po-Logo-wrap .dp-po-Icon::after,
.dp-po-nav .dp-po-Button::after {
  background-color: var(--grey-light);
  content: "";
  height: 100%;
  position: absolute;
  right: -32px;
  top: 0;
  width: 1px;
}

.dp-po-Logo-wrap .dp-po-Icon::after {
  right: -30px;
}

.dp-po-Logo-descript {
  font: var(--h-3);
  color: var(--grey-darkest);
}

.dp-po-Header-container {
  align-items: center;
  background: var(--brand-primary-gradient);
  display: flex;
  justify-content: center;
  padding: 90px 0 90px;
}

.dp-po-Header-container .dp-po-Forms.dp-po-Search-bar input {
  margin: auto;
  padding-left: 65px;
}

.dp-po-Header-container .dp-po-Search-bar input:focus + .dp-po-Icon {
	display: block;
}

.dp-po-Header-container .dp-po-Searchbar-wrap {
  margin: auto;
}

.dp-po-nav-control li.dp-po-Select-Language {
  align-items: center;
  display: flex;
  margin-right: 30px;
  color: var(--grey-darkest);
}

.dp-po-nav .dp-po-back-home {
	display: none;
}

.dp-po-nav-control li.dp-po-Select-Language .dp-po-Icon {
  margin-right: 10px;
}

.dp-po-nav-control li.dp-po-Select-Language .dp-po-arrow {
  height: 15px;
  margin-left: 20px;
  width: 10px;
}

.dp-po-nav-control li.dp-po-Select-Language .dp-po-arrow::before,
.dp-po-nav-control li.dp-po-Select-Language .dp-po-arrow::after {
  height: 9px;
}

.dp-po-Breadcrumb-item.dp-po-support-centre::before,
.dp-po-Breadcrumb-item.dp-po-support-centre::after {
  display: none;
}

.dp-po-Breadcrumbs .dp-po-Breadcrumb-item .dp-po-Icon.Icon-Tech-company {
  height: 23px;
  position: relative;
  width: 23px;
}

.dp-po-Breadcrumbs .dp-po-Breadcrumb-item .dp-po-Icon.Icon-Tech-company::after {
  background-color: var(--grey-light);
  content: "";
  height: calc(100% + 9px);
  position: absolute;
  right: -10px;
  top: -4px;
  width: 1px;
}



.Breadcrumbs--custom.dp-po-Breadcrumb-item:last-child .dp-po-Breadcrumb-link::after {
  top: calc(100% + 7px);
}

.dp-po-main {
  /*background-color: var(--grey-lightest);*/
  color: var(--grey-darkest);
}

@media (min-width: 1280px) {

  .dp-po-main .dp-po-col-3 {
    margin-left: 30px;
    margin-right: -30px;
    padding-left: 0;
  }

  .dp-po-main .dp-po-col-9 {
    padding-right: 35px;
  }
}

.dp-po-main .dp-po-Title-page {
  align-items: center;
  display: flex;
  font: var(--Title-Page);
  margin-bottom: 6px;
  margin-top: 43px;
}

.dp-po-main .dp-po-Title-page .dp-po-Icon {
  margin-right: 15px;
}

.dp-po-main .dp-po-Sidebar {
  padding-top: 60px;
  margin-top: 60px;
  padding-bottom: 20px;
  position:  sticky;
  top: 0;
}

.dp-po-Sidebar-title {
  border-bottom: 1px solid var(--grey);
  color: var(--grey-dark);
  display: flex;
  font: var(--h-3--medium);
  padding: 20px 0 4px 0;
  width: 100%;
}

.dp-po-List {
  align-items: center;
  display: flex;
  list-style: none;
  padding: 0;
}

.dp-po-List.List--col {
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
}

.dp-po-List li {
  margin: 0;
}

.dp-po-List.List--avatars {
  margin-bottom: 3px;
  padding-left: 7px;
  width: max-content;
}

.dp-po-List.List--avatars:hover li {
  opacity: 0.5;
}

.dp-po-List.List--avatars li {
  border: 5px solid var(--grey-lightest);
  border-radius: 50%;
  margin-left: -14px;
}

.dp-po-List.List--avatars li:hover {
  opacity: 1;
  z-index: 2;
}

.dp-po-List.List--avatars li .dp-po-Avatar {
  border: 2px solid transparent;
}

.dp-po-List.List--avatars li:hover .dp-po-Avatar {
  border: 2px solid var(--brand-primary);
  border-radius: 50%;
  opacity: 1;
  position: relative;
  z-index: 2;
  display: flex;
}

.dp-po-Avatar .dp-po-Avatar-tooltip {
  background: #fff;
  border-radius: 2px;
  box-shadow: var(--shadow-bottom-right);
  color: var(--grey-darkest);
  display: none;
  font-size: var(--font-p3);
  font-weight: var(--is-semibold);
  left: calc(100% + 10px);
  line-height: 1.5;
  padding: 0 5px;
  position: absolute;
  top: 7px;
  white-space: nowrap;
  width: auto;
}

.dp-po-List.List--avatars li:hover .dp-po-Avatar-tooltip {
  display: block;
}

.dp-po-List.List--avatars + .dp-po-description-wrap .dp-po-description {
  color: var(--grey-dark);
  font: var(--mp-1);
}

.dp-po-publish-date {
  border: 1px solid var(--danger);
  border-radius: 2px;
  display: flex;
  margin: 23px 0 20px;
}

.dp-po-publish-date .dp-po-publish-icon {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex: 0 0 58px;
  justify-content: center;
  padding: 12px 18px;
}

.dp-po-publish-date .dp-po-description {
  background-color: var(--danger-light);
  border-left: 1px solid var(--danger);
  color: var(--grey-darkest);
  font: var(--p-1);
  padding: 12px 20px;
  width: 100%;
}

.dp-po-description-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.dp-po-description-wrap .dp-IconsWrapper {
  margin-top: -18px;
}

.dp-po-description-wrap .dp-IconsWrapper .dp-po-Icon {
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: 50%;
  padding: 20px;
}

.dp-po-description-wrap .dp-IconsWrapper .dp-po-Icon:hover {
  border: 1px solid var(--brand-primary);
}

.dp-po-description-wrap .dp-po-Icon:not(:last-child) {
  margin-right: 10px;
}

.dp-po-tex-wrap {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: var(--shadow-bottom);
  color: var(--grey-darkest);
  font: var(--p-1);
  line-height: 1.5;
  margin-bottom: 50px;
  padding: 23px 30px 35px 30px;
}

.dp-po-tex-wrap p {
  margin-bottom: 15px;
}

.dp-po-tex-wrap .dp-po-title {
  font: var(--h-2);
}

.dp-po-Image-knowledgabse {
  border: 1px solid var(--grey-light);
  display: flex;
  margin-top: 33px;
}

.dp-po-Image-knowledgabse img {
  border: 1px solid var(--grey);
  margin: 3px;
  overflow: hidden;
  padding: 5px;
}

.dp-po-image-description {
  color: var(--grey-dark);
  font: var(--p-3);
  font-style: italic;
}

.dp-po-comments {
  align-items: center;
  display: flex;
  font: var(--h-2);
  justify-content: space-between;
  margin: 30px 0 10px;
}

.dp-po-comments.dp-po-add-comments {
  cursor: pointer;
  justify-content: flex-start;
  margin-bottom: 75px;
}

.dp-po-comments.dp-po-add-comments.is-disabled {
	color: var(--grey);
	cursor: not-allowed;
}

.dp-po-comments.dp-po-add-comments.is-active {
	margin-bottom: 10px;
}

.dp-po-comments .dp-po-Icon {
  margin-left: 10px;
  margin-top: 5px;
}

.dp-po-sort {
  color: var(--grey-dark);
  cursor: pointer;
  font: var(--p-2);
  position: relative;
}

.dp-po-comments-wrap {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: var(--shadow-bottom);
  margin-bottom: 45px;
  padding: 30px;
}

.dp-po-comments-wrap .dp-po-Button {
  background: var(--brand-primary);
  color: var(--white);
  font: var(--p-2-2);
  max-height: 44px;
  padding: 11px 0 12px;
  width: 140px;
}

.dp-po-comments-wrap .dp-po-Button:hover {
  opacity: .8;
}

.dp-po-comments-wrap .dp-po-CustomCheckbox.CustomCheckbox--medium {
  letter-spacing: -1px;
  padding: 8px 10px 7px 29px;
}

.dp-po-comments-wrap .dp-po-CustomCheckbox input[type="checkbox"] + label::before {
  top: 3px;
}

.dp-po-comments-wrap .dp-po-CustomCheckbox input[type="checkbox"] + label::after {
  top: 3px;
}

.dp-po-comments.is-active + .dp-po-comments-wrap {

  /* display: block; */
}

.dp-po-comments-wrap .dp-po-Upload-wrapper,
.dp-po-comments-wrap .dp-po-button-wrap {
  padding-left: 40px;
}

.dp-po-comments-wrap .dp-po-Upload-wrapper {
  margin-top: 5px;
}

.dp-po-comments-wrap .dp-po-button-wrap {
  margin-top: 30px;
}

.dp-po-comments-wrap .dp-po-button-wrap {
  display: flex;
}

.dp-po-comments-wrap .dp-po-comment-subtitle {
  color: var(--grey-dark);
  display: block;
  font: var(--p-2-bold);
  margin: 10px 0 5px;
}

.dp-po-comments-wrap .Forms--Textarea {
  max-width: 100%;
}

.dp-po-comments-wrap .dp-po-Choose-btn {
  margin-right: 7px;
}

.dp-po-comments-wrap .Forms--Textarea .dp-po-Textarea textarea {
  border: 1px solid var(--grey-light);
  color: var(--grey-darkest);
  font-size: 18px;
  height: 150px;
  padding: 8px 8px 8px 14px;
}

.dp-po-comments-wrap .Forms--Textarea .dp-po-Textarea textarea:focus {
  border: 1px solid var(--brand-primary);
}

.dp-po-comments-wrap .dp-po-Upload-item label {
  font: var(--p-1);
  padding: 5px 12px 6px 8px;
}

.dp-po-comments-wrap .dp-po-Choose-btn .dp-po-Icon {
  background-size: contain;
  height: 19px;
  width: 15px;
}

.dp-po-comments-wrap .dp-po-Upload {
  font: var(--p-3);
  padding: 17px;
}

.dp-po-comments-wrap .dp-po-Dragdrop-btn {
  font-size: var(--font-p1);
}

.dp-po-comments-wrap .dp-po-Upload-item .dp-po-Icon {
  margin-right: 8px;
}

.dp-po-comments-wrap .Icon--dragdrop {
  margin-left: 6px;
}

.dp-po-comments-wrap .dp-po-CustomCheckbox.CustomCheckbox--medium:hover {
  background-color: transparent;
}

.dp-po-comments-wrap .dp-po-label.label--time .dp-po-Icon.Icon--history {
  background-size: 15px;
}

.dp-po-comments-wrap .dp-po-label.label--time .dp-po-dropdown-menu {
  padding: 7px 0;
}

.dp-po-comments-wrap .dp-po-label.label--time .dp-po-dropdown-menu li {
  padding: 7px 15px;
  border: none;
  margin: 0;
}

.dp-po-comments.comments-list + .dp-po-comments-wrap {
  overflow: hidden;
  padding: 20px 0 0;
  /*padding: 20px 0 15px;*/
}

.dp-po-comments.comments-list + .dp-po-comments-wrap .dp-po-subtitle {
  justify-content: space-between;
}

.dp-po-comments-item .dp-po-Avatar .dp-po-Avatar-name,
.dp-po-comments.comments-list + .dp-po-comments-wrap .dp-po-username {
  align-items: center;
  color: var(--grey-dark);
  display: flex;
  font: var(--p-1);
}

.dp-po-comments.comments-list + .dp-po-comments-wrap .dp-po-comments-wrap .dp-po-username {
	color: var(--grey-darkest);
	font: var(--h-5-medium);
}

.dp-po-comments-item .dp-po-Avatar .dp-po-Avatar-icon {
  height: 30px;
  width: 30px;
}

.dp-po-comments.comments-list + .dp-po-comments-wrap .dp-po-username .dp-po-Icon {
  margin-right: 10px;
}

.dp-po-comments.comments-list + .dp-po-comments-wrap > .dp-po-comments-item .dp-po-comment-subtitle {
  color: var(--grey-darkest);
  font: var(--p-1);
  margin: 9px 0 15px;
  max-width: 90%;
  padding-left: 40px;
}

.dp-po-comments.comments-list + .dp-po-comments-wrap .dp-po-comments-wrap .dp-po-comment-subtitle {
	color: var(--grey-dark);
	font: var(--p-2-bold);
	margin: 10px 0 5px;
	padding: 0;
}

.dp-po-comments-item {
  padding: 20px 35px 23px 42px;
}

.dp-po-comments-item:not(:last-child) {
  border-bottom: 1px solid var(--grey-lighter);
}

.dp-po-comments-item .dp-po-vote + .dp-po-dropdown-menu {
  background-color: var(--white);
  margin: 23px 0 0 40px;
  padding: 0;
  position: relative;
}

/*.dp-po-comments-item .dp-po-vote + .dp-po-dropdown-menu > li:not(:last-child):after {*/
.dp-po-comments-item .dp-po-vote + .dp-po-dropdown-menu > li:after {
  background-color: var(--grey);
  content: "";
  height: calc(100% - 25px);
  left: -10px;
  position: absolute;
  top: 25px;
  width: 2px;
}

/*.dp-po-comments-item .dp-po-vote + .dp-po-dropdown-menu li:first-child:after {
	top: 25px
}*/

/*.dp-po-comments-item .dp-po-vote + .dp-po-dropdown-menu > li:not(:last-child) {*/
.dp-po-comments-item .dp-po-vote + .dp-po-dropdown-menu > li {
  border-top: 1px solid var(--grey-lighter);
}

/*.dp-po-comments-item .dp-po-vote + .dp-po-dropdown-menu > li:last-child:after {
	position: absolute;
	top: 0;
	width: 120%;
	height: 1px;
	content: "";
	background-color: var(--grey-lighter);
	left: -100px;
}
*/
.dp-po-comments-item .dp-po-vote + .dp-po-dropdown-menu li {
  padding: 20px 0 0;
  margin: 0;
  /*margin: 10px 0 0;*/
  /*position: relative;*/
}

.dp-po-vote.is-active + .dp-po-dropdown-menu + .dp-po-comments-wrap {
  display: block;
}

.dp-po-comments-item .dp-po-label {
  margin-left: 15px;
}

.dp-po-label.label--time .dp-po-Icon + .dp-po-Icon {
	width: 20px;
	background-position: 100% 0;
	margin: 0;
}

.dp-po-comments.comments-list + .dp-po-comments-wrap .label--time {
  font: var(--b-1-semibold);
  margin-top: 16px;
  position: relative;
}

.dp-po-comments.comments-list + .dp-po-comments-wrap .label--time .dp-po-dropdown-menu {
  background: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: 4px;
  box-shadow: var(--shadow-bottom-right);
  min-width: 273px;
  position: absolute;
  right: 0;
  top: calc(100% + 12px);
  width: max-content;
  z-index: 3;
}

.Icon--Dots.is-active + .dp-po-dropdown-menu {
	display: block;
}

.Icon--Dots + .dp-po-dropdown-menu {
	display: none;
}

.dp-po-vote {
  display: flex;
}

.dp-po-item-vote {
  align-items: center;
  color: var(--grey-dark);
  cursor: pointer;
  display: flex;
  font: var(--p-2-bold);
  margin-right: 17px;
}

.dp-po-vote .dp-po-Icon {
  border: 1px solid var(--grey-lighter);
  border-radius: 50%;
  margin-right: 10px;
  padding: 11px;
}

.dp-po-item-vote.is-like .dp-po-Icon {
	background-position-y: 45%;
}

.dp-po-item-vote.is-like:hover .dp-po-Icon,
.dp-po-item-vote.is-like.is-active .dp-po-Icon {
  background-color: var(--brand-primary);
}

.dp-po-item-vote.is-dislike:hover,
.dp-po-item-vote.is-dislike.is-active {
  color: var(--danger);
}

.dp-po-item-vote.is-dislike:hover .dp-po-Icon,
.dp-po-item-vote.is-dislike.is-active .dp-po-Icon {
  background-color: var(--danger);
}

.dp-po-item-vote.is-like:hover,
.dp-po-item-vote.is-like.is-active {
  color: var(--brand-primary);
}

.dp-po-comments.comments-list + .dp-po-comments-wrap .dp-po-vote {
  padding-left: 40px;
}

.dp-po-comments.comments-list + .dp-po-comments-wrap .dp-po-comments-wrap {
  box-shadow: none;
  margin-bottom: 0;
  padding: 30px 0px 0px 43px;
  margin-top: 10px;
  position: relative;
}

.dp-po-comments.comments-list + .dp-po-comments-wrap .dp-po-comments-wrap:after {
	position: absolute;
	top: 0;
	width: 120%;
	height: 1px;
	content: "";
	background-color: var(--grey-lighter);
	left: -100px;
}

.dp-po-comments-item .dp-po-vote + .dp-po-dropdown-menu .dp-po-comments-wrap:after {
	width: 100%;
	left: 0;
}

.dp-po-comments-item .dp-po-vote + .dp-po-dropdown-menu .dp-po-comments-wrap {
	padding: 30px 0px 30px 43px;
}

.dp-po-comments.comments-list + .dp-po-comments-wrap .dp-po-comments-wrap.dp-po-reply-comment {
	display: none;
}

.dp-po-comments.comments-list + .dp-po-comments-wrap .dp-po-comments-wrap.dp-po-reply-comment.is-active {
	display: block;
}

.dp-po-comments-wrap.dp-po-reply-comment .comment--item .dp-po-subtitle .dp-po-Button  {
	background-color: var(--white);
	color: var(--grey-dark);
	font: var(--p-2-bold);
	border: 1px solid var(--grey-light);
	max-width: 90px;
}

/*.dp-po-comments-wrap .dp-po-reply-comment.is-active {
	display: block;
}
*/

.dp-po-comments-item .dp-po-attachments {
	background-color: var(--grey-lightest);
	padding: 15px 20px;
	border-radius: 4px;
	margin-left: 40px;
	margin-bottom: 12px;
}

.dp-po-attachments .dp-po-title {
	font: var(--p-2-bold);
	color: var(--grey-dark);
	margin: 0 0 10px;
}

.dp-po-attachment-item {
	color: var(--brand-primary);
	font: var(--p-1);
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.dp-po-attachment-item > .dp-po-Icon {
	margin-right: 15px;
}

/*.dp-po-descript-pdf {
	display: flex;
}*/

.dp-po-attachment-item .dp-po-file-size {
	font: var(--p-3);
}

.dp-po-tex-wrap .dp-po-tooltip-wrap {
  background-color: var(--info-light);
}

.dp-po-tooltip-wrap {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px 0 5px;
  padding: 0 5px;
  position: relative;
}

.dp-po-tooltip-wrap:hover .dp-po-tooltip {
  display: block;
}

.dp-po-tooltip-wrap .dp-po-tooltip-title {
  display: flex;
  font: var(--p-2-bold);
  margin-bottom: 5px;
}

.dp-po-tooltip-wrap .dp-po-tooltip {
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: 2px;
  box-shadow: var(--shadow-bottom-left);
  color: var(--grey-darkest);
  display: none;
  font: var(--p-3-semibold);
  left: calc(100% + 5px);
  line-height: 1.5;
  max-width: 270px;
  padding: 10px;
  position: absolute;
  top: 60%;
  width: max-content;
  z-index: 2;
}

.dp-po-Tooltip-article-info .dp-po-tooltip-wrap .dp-po-tooltip {
  left: calc(100% + 32px);
  padding: 0 6px 2px;
  line-height: 1.3;
}

.dp-po-Sidebar.Sidebar--right .dp-po-Dropdown-container {
  max-width: 100%;
}

.subscribe--dropdown .dp-po-dropdown-atom .dp-po-Icon {
  margin: 0 15px;
}

.subscribe--dropdown .dp-po-dropdown-atom.is-onselected .Icon--check {
  display: none;
}

.subscribe--dropdown {
  position: relative;
}

.subscribe--dropdown .dp-po-dropdown-menu {
  left: 0;
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  width: 100%;
}

.is-active .Icon--caret-down.Icon--primary {
  transform: rotate(180deg);
  transition: all 0.2s;
}

.dp-po-Sidebar.Sidebar--right .dp-po-dropdown-atom .dp-po-Icon.Icon--check {
  background-size: 18px 16px;
  height: 16px;
  margin-left: auto;
  margin-right: 20px;
  width: 18px;
}

.dp-po-Sidebar.Sidebar--right .dp-po-dropdown-Title {
  background-color: var(--white);
  border: 1px solid var(--grey-dark);
  color: var(--grey-dark);
  font: var(--h-2);
  height: 46px;
  justify-content: flex-start;
  padding: 0;
  width: 100%;
}

.dp-po-Sidebar.Sidebar--right .dp-po-Dropdown-container .dp-po-dropdown-atom {
  padding: 0;
}

.dp-po-Sidebar.Sidebar--right .dp-po-dropdown-Title:hover {
  border: 1px solid var(--brand-primary);
}

.dp-po-Sidebar.Sidebar--right .dp-po-dropdown-atom:hover .dp-po-dropdown-Title,
.dp-po-Sidebar.Sidebar--right .dp-po-dropdown-atom.is-active .dp-po-dropdown-Title {
  border: 1px solid var(--brand-primary);
  background-color: var(--brand-primary);
  color: var(--white);
}

.dp-po-Sidebar.Sidebar--right .dp-po-dropdown-atom + .dp-po-dropdown-menu {
  background-color: var(--white);
  border: 1px solid var(--brand-primary);
  border-radius: 4px;
  box-shadow: var(--shadow-bottom-right);
}

.dp-po-dropdown-menu .dp-po-dropdown-menu-item.is-disabled,
.dp-po-dropdown-menu .dp-po-dropdown-menu-item.is-disabled:hover,
.dp-po-Sidebar.Sidebar--right .dp-po-dropdown-menu .dp-po-dropdown-menu-item.is-disabled:hover {
  color: var(--grey);
}

.dp-po-main .dp-po-dropdown-menu {
  padding: 8px 15px 8px;
}

.dp-po-main .dp-po-dropdown-menu .dp-po-dropdown-menu-item {
  font: var(--h-5);
  padding: 4px 0;
}

.dp-po-dropdown-menu .dp-po-dropdown-menu-item:last-child {
  padding: 10px 0 5px;
}

.dp-po-dropdown-menu .dp-po-dropdown-menu-item a {
  color: var(--brand-primary);

  /* font: var(--b-1-semibold); */
  font: var(--p-2);
}

.subscribe--dropdown .dp-po-dropdown-menu .dp-po-dropdown-menu-item .dp-po-Icon,
.dp-po-share-list .dp-po-dropdown-menu .dp-po-dropdown-menu-item .dp-po-Icon {
  margin-right: 17px;
}
.subscribe--dropdown .dp-po-dropdown-menu .dp-po-dropdown-menu-item .dp-po-Icon.Icon--success {
  margin-right: 4px;
}

.dp-po-dropdown-menu.subscribe--dropdown .dp-po-dropdown-menu-item:hover {
  color: var(--brand-primary);
}

.dp-po-Sidebar.Sidebar--right .dp-po-dropdown-menu .dp-po-dropdown-menu-item:hover {
  background-color: transparent;
}

.dp-po-dropdown-menu-item .Icon--check {
  display: none;
}

.dp-po-dropdown-menu-item.is-selected .Icon--check {
  display: block;
  margin: 0 0 0 auto;
}

.dp-po-dropdown-menu-item.is-selected {
  color: var(--brand-primary);
}

.dp-po-tooltip-wrap .dp-po-Icon {
  background-size: 10px;
  bottom: calc(100% - 5px);
  cursor: pointer;
  left: 100%;
  position: absolute;
}

.dp-po-tex-wrap .dp-po-tooltip-wrap .dp-po-Icon {
  height: 10px;
  width: 10px;
}

.dp-po-List-question {
  color: var(--grey-dark);
  list-style: none;
  margin: 20px 0 25px 15px;
  padding: 0;
}

.dp-po-List-question li a {
  color: var(--grey-dark);
}

.dp-po-List-question li:hover {
  text-decoration: underline;
}

.dp-po-List-question li {
  font: var(--mp-1);
  margin-bottom: 20px;
  position: relative;
}

.dp-po-List-question li.is-active {
  font: var(--mp-1-bold);
}

.dp-po-List-question li.is-active::after {
  border-color: transparent transparent transparent var(--brand-primary);
  border-style: solid;
  border-width: 8px 0 8px 8px;
  content: "";
  height: 0;
  left: -15px;
  position: absolute;
  top: calc(50% - 8px);
  width: 0;
}

.dp-po-wrap-item {
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px 20px 23px;
}

.dp-po-wrap-item .dp-po-title {
  color: var(--grey-dark);
  font: var(--h-3);
}

.dp-po-wrap-item.Dropdown-share:hover {
  border-color: var(--brand-primary);
}

.dp-po-labels-wrap .dp-po-label {
  margin-top: 10px;
}

.dp-po-related-list {
  list-style: none;
  margin-bottom: -3px;
  margin-top: -3px;
  padding: 0;
}

.dp-po-related-list .dp-po-Icon {
  background-position: 0 0;
  background-size: 19px 20px;
  display: flex;
  height: 20px;
  min-width: 25px;
  margin-right: 6px;
}

.dp-po-related-list li {
  align-items: center;
  display: flex;
  margin: 10px 0 0;
}

.dp-po-related-list a {
  display: flex;
  font: var(--mp-1);
}

.dp-po-share-list {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 14px 0 0;
  padding: 0;
}

.dp-po-share-list li {
  color: var(--grey-darkest);
  margin: 0;
}

.dp-po-Dropdown-container .dp-po-share-list .dp-po-title-list,
.dp-po-Dropdown-container .dp-po-share-list .dp-po-title-list:hover {
  color: var(--grey-darkest);
}

.dp-po-Sidebar.Sidebar--right .dp-po-dropdown-atom.dp-po-share-list {
  background-color: transparent;
  border: 0;
  justify-content: space-between;
}

.dp-po-Sidebar.Sidebar--right .dp-po-dropdown-atom.dp-po-share-list:hover {
  background-color: transparent;
}

.dp-po-dropdown-atom.dp-po-share-list > li > .dp-po-Icon {
  margin: 0;
}

.dp-po-dropdown-atom.dp-po-share-list .dp-po-dropdown-menu {
  background-color: var(--white);
  border: 1px solid var(--brand-primary);
  border-radius: 4px;
  display: none;
  left: -5px;
  padding: 12px 10px 12px 22px;
  position: absolute;
  top: calc(100% + 15px);
  width: calc(100% + 12px);
}

.dp-po-dropdown-atom .dp-po-share.is-active .dp-po-dropdown-menu {
  display: block;
}

.dp-po-dropdown-atom.dp-po-share-list .dp-po-dropdown-menu .dp-po-dropdown-menu-item.dp-po-title-list {
  padding-bottom: 21px;
}

.dp-po-dropdown-atom.dp-po-share-list .dp-po-dropdown-menu .dp-po-dropdown-menu-item {
  padding: 0 0 17px;
}

.dp-po-support-btn {
  border: 1px solid var(--grey-light);
  border-radius: 4px;
  color: var(--brand-primary);
  font: var(--p-2);
  margin-right: 5px;
  max-width: 203px;
  overflow: hidden;
  padding: 10px 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.dp-po-share-list .dp-po-dropdown-menu .dp-po-support-btn + .dp-po-Icon {
  margin: 0;
}

.dp-po-Sidebar.Sidebar--right .dp-po-dropdown-atom.dp-po-share-list.is-active {
  background-color: #fff;
}

.dp-po-user-list .dp-po-title {
  color: var(--grey-dark);
  display: block;
  font: var(--p-2-bold);
}

.dp-po-user-list li:not(:first-child) .dp-po-title {
  margin-top: 10px;
}

.dp-po-user-list li {
  color: var(--grey-darkest);
  font: var(--p-1);
}

.dp-po-user-list li .dp-po-Icon {
  margin-right: 10px;
}

.dp-po-user-list .dp-po-space-between .dp-po-title:first-child {
  margin: 0;
}

.dp-po-space-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dp-po-Flag-wrap {
  align-items: center;
  display: flex;
}

.dp-po-user-list .dp-po-space-between {
  margin-top: 7px;
}

.dp-po-user-list .dp-po-Flag-item-list {
  margin-top: 1px;
}

.Sidebar--right .dp-po-tooltip-wrap {
  margin: 0 10px -2px 0;
  padding: 0 2px;
}

.dp-po-user-list .dp-po-tooltip-wrap .dp-po-Icon {
  background-size: 14px 14px;
  bottom: 0;
  height: 14px;
  right: -15px;
  width: 14px;
}

.dp-po-time-status {
  color: var(--grey-dark);
  font: var(--messenger-b-2);
}

.dp-po-Flag-item-list .dp-po-time-status {
    margin-top: 6px;
}

.is-success {
  color: var(--success);
}

.dp-po-footer {
  background-color: var(--grey-lighter);
  padding: 10px 0;
}

.dp-po-footer .dp-po-frame-copyright {
  margin: auto;
  max-height: 40px;
  max-width: 385px;
}

.dp-po-copy-clipboard {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.dp-po-copy-clipboard .dp-po-Icon {
	display: none;
	margin-left: 9px;
}

.dp-po-copy-clipboard:hover .dp-po-Icon {
	display: block;
}

.dp-po-dropdown-menu.Menu--tick {
	background-color: var(--white);
	border: 2px solid var(--grey-light);
	border-radius: 6px;
	box-shadow: var(--shadow-bottom-right);
	padding: 5px 0;
	position: absolute;
	top: calc(100% + 5px);
	right: 0;
	display: none;
}

.dp-po-sort.is-active .dp-po-dropdown-menu.Menu--tick {
	display: block;
}

.dp-po-dropdown-menu.Menu--tick .dp-po-dropdown-menu-item {
	padding: 3.5px 10px 3.5px 25px;
	position: relative;
	color: var(--grey-darkest);
}

.dp-po-dropdown-menu.Menu--tick .dp-po-dropdown-menu-item:hover {
	background-color: transparent;
}

.dp-po-dropdown-menu.Menu--tick .dp-po-dropdown-menu-item:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.925 4.342a.568.568 0 0 1 0-.726l.096-.108a.43.43 0 0 1 .648 0l1.682 1.885L7.765.446a.43.43 0 0 1 .648 0l.096.108a.568.568 0 0 1 0 .726L3.351 7.061.925 4.342z' fill='%233A8DDE'/%3E%3C/svg%3E");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50% 50%;
	content: "";
	display: block;
	height: 25px;
	opacity: 0;
	position: absolute;
	top: 4px;
	left: 0;
	width: 25px;
}

.dp-po-dropdown-menu.Menu--tick .dp-po-dropdown-menu-item.is-checked:after,
.dp-po-dropdown-menu.Menu--tick .dp-po-dropdown-menu-item:hover:after {
  opacity: 1;
}

.dp-po-mobile-subscribe {
	display: none;
}

/* mobile -v */

@media (max-width: 992px) {
  .dp-po-nav .dp-po-Logo-descript,
  .dp-po-Logo-wrap .dp-po-Icon::after,
  .dp-po-nav .dp-po-Button::after,
  .dp-po-nav-control li.dp-po-Select-Language {
    display: none;
  }

/*  .dp-po-main {
  	background-color: var(--white);
  }*/

  .dp-po-md-12 {
	flex: 0 0 100%;
	max-width: 100%;
  }

  .dp-po-hidden-md {
  	display: none;
  }

  .dp-po-Logo-wrap .dp-po-Icon {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
  }

  .dp-po-Header-container {
    background: transparent;
    border-bottom: 1px solid var(--grey-lighter);
    padding: 20px 8px;
  }

  .dp-po-Breadcrumbs-wrap {
    border: none;
  }

  .dp-po-Breadcrumb-item:not(:last-child) .dp-po-Breadcrumb-link {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }

  .dp-po-Breadcrumb-item:last-child .dp-po-Breadcrumb-link::after {
  	display: none;
  }

  .dp-po-Breadcrumbs-wrap .dp-po-Breadcrumbs .dp-po-Breadcrumb-item:first-child {
    display: none;
  }

  .dp-po-nav {
  	box-shadow: var(--shadow-bottom);
  }

  .dp-po-nav .dp-po-back-home {
  	display: block;
  }

  .dp-po-nav .dp-po-Avatar {
	display: none;
  }

  .dp-po-nav .dp-po-Avatar.Avatar--circle {
  	display: flex;
  }

  .dp-po-nav li, .dp-po-nav-control li {
    margin: 0 15px 0 0;
  }

  .dp-po-Header-container .dp-po-Forms.dp-po-Search-bar input {
  	border: 0;
  	background-color: var(--grey-lighter);
  	font: var(--mh-3);
  }

  .dp-po-description-wrap .dp-IconsWrapper {
  	display: none;
  }
  
  .dp-po-List.List--avatars li {
  	border: 5px solid var(--white);
  }

  .dp-po-mobile-subscribe {
  	border-top: 1px solid var(--grey-light);
  	border-bottom: 1px solid var(--grey-light);
  	padding: 11px 0;
  	margin-top: 30px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	position: relative;
	flex-direction: row-reverse;
  }

  .Dropdown-share .dp-po-title {
	display: none;
  }

  .Dropdown-share .dp-po-share-list {
  	background-color: transparent;
  }

  .dp-po-Dropdown-container.subscribe--dropdown {
	position: initial;
  }

  .dp-po-Dropdown-container.subscribe--dropdown .dp-po-dropdown-menu {
  	background-color: var(--white);
  	border: 1px solid var(--brand-primary);
  	box-shadow: var(--shadow-bottom-right);
  	border-radius: 4px;
  	top: 100%;
  }

  .dp-po-Dropdown-container.subscribe--dropdown .dp-po-dropdown-atom {
  	background-color: transparent;
  	padding: 0;
  }

  .dp-po-Dropdown-container.subscribe--dropdown .Icon--check {
  	display: none;
  }

  .dp-po-Dropdown-container.subscribe--dropdown .dp-po-dropdown-Title {
  	background-color: var(--white);
  	border: 1.5px solid var(--brand-primary);
  	color: var(--brand-primary);
  	font: var(--p-2-bold);
  	line-height: 1;
  }

  .dp-po-Dropdown-container.subscribe--dropdown .dp-po-dropdown-Title:hover {
  	background-color: var(--brand-primary);
  	color: var(--white);
  }

  .dp-po-Dropdown-container.subscribe--dropdown .dp-po-dropdown-menu-item:last-child {
  	display: none;
  }

  .dp-po-Dropdown-container.subscribe--dropdown .dp-po-dropdown-menu-item:hover {
  	background-color: transparent;
  }

  .subscribe--dropdown .dp-po-dropdown-atom .dp-po-Icon {
  	margin: 0 10px 0 0;
  }

  .dp-po-mobile-subscribe .Icon--Dots + .dp-po-dropdown-menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white);
    box-shadow: var(--shadow-left);
    border-radius: 4px;
    padding: 0 10px;
    height: 100vh;
  }

  .dp-po-mobile-subscribe .Icon--Dots + .dp-po-dropdown-menu .dp-po-Icon {
  	margin-right: 10px;
  }

  .dp-po-mobile-subscribe .Dropdown-share .dp-po-dropdown-menu-item.dp-po-close {
  	display: flex;
  	justify-content: flex-end;
  	border-bottom: 1.5px solid var(--grey-light);
  	margin: 0;
  	padding: 10px 0;
  	cursor: pointer;
  }

  .dp-po-mobile-subscribe .Dropdown-share .dp-po-Icon.Icon--caret-right {
	margin-left: auto;
	margin-right: 0;
	cursor: pointer;
	width: 25px;
	height: 25px;
	background-position: 100% 50%;
  }

  .dp-po-mobile-subscribe .dp-po-dropdown-share > .dp-po-Icon {
  	width: 20px;
  	cursor: pointer;
  }

  .dp-po-mobile-subscribe .Dropdown-share .dp-po-dropdown-menu-item {
  	padding: 10px 15px;
  }

  .dp-po-mobile-subscribe .Dropdown-share .dp-po-dropdown-menu-item:hover {
  	background-color: transparent;
  }

  .Dropdown-share .dp-po-dropdown-menu {
  	background-color: var(--white);
  	display: none;
  	width: 100%;
    left: 0;
    top: 38px;
    position: absolute;
  }

  .Dropdown-share .dp-po-dropdown-menu.is-active {
  	display: block;
  }

  .dp-po-dropdown-share .dp-po-back-btn {
	display: block;
	position: absolute;
	top: -39px;
	cursor: pointer;
  }
  
  .dp-po-tex-wrap {
  	box-shadow: none;
  	font: var(--mp-1);
  	padding: 0;
  }

  .dp-Template.is-open .dp-po-overlay:after {
	display: block;
	content: '';
	background: rgba(139, 146, 147, .4);
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	position: fixed;
  }
}

@media (min-width: 992px) {
  .dp-po-main {
  	background-color: var(--grey-lightest);
  }
}