.demo-pagination {
	display: flex;
	align-items: center;
}

.demo-pagination-title {
	font: var(--p-xxl);
	color: var(--black);
	width: 100%;
	max-width: 170px;
}

.demo-pagination:last-child .demo-pagination-title {
	max-width: 165px;
}
