.dp-po-tickets .dp-po-Title-page .dp-po-Button.Button--large {
	max-width: 160px;
	margin-right: 0;
	margin-left: auto;
}

.dp-po-tickets .dp-po-member-table .dp-po-table-item {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	text-overflow: ellipsis;
}

.dp-po-tickets .dp-po-main .dp-po-Sidebar {
	margin: 0;
	background-color: var(--white);
	border: 1px solid var(--grey-light);
	border-radius: 4px;
}

.dp-po-tickets .dp-po-list-title {
	list-style: none;
}

.dp-po-tickets .Sidebar--left .dp-po-dropdown-menu {
	position: initial;
	box-shadow: none;
	border: none;
	border-radius: 0;
	width: 100%;
	background-color: transparent;
}

.dp-po-tickets .Sidebar--left .dp-po-dropdown-menu .dp-po-dropdown-menu-item:hover,
.dp-po-tickets .Sidebar--left .dp-po-CustomCheckbox.CustomCheckbox--medium:hover {
	background-color: transparent;
}

.dp-po-member-directory .dp-po-member-wrapper {
	border: 1px solid var(--grey-light);
	box-shadow: var(--shadow-bottom);
	border-radius: 4px;
}