.dp-po-community .dp-po-title-wrapper {
	display: flex;
	align-items: flex-start;
	margin-top: 50px
}

.dp-po-community .dp-po-Title-page {
	display: inline-block;
	margin-top: -7px;
	/*max-width: 93%;*/
}

.dp-po-community .dp-po-title-wrapper .Icon--community {
	margin: 0 13px 0 21px;
	z-index: 4;
}

.dp-po-community .dp-po-Title-page .dp-po-label {
	display: inline-flex;
	margin-left: 15px;
	vertical-align: middle;
	height: 100%;
	font: var(--p-2-bold);
}

.dp-po-community .dp-po-user-status {
	display: flex;
	align-items: center;
}

.dp-po-community .dp-po-description-wrap {
	margin-bottom: 30px;
	margin-top: 5px;
}

.dp-po-community .dp-po-description-wrap .dp-po-Name {
	display: flex;
	align-items: center;
	border: 1px solid var(--grey-light);
	border-radius: 50px;
	padding: 5px;
	font: var(--h-3);
	margin-right: 40px;
	position: relative;
	cursor: pointer;
}

.dp-po-community .dp-po-description-wrap .dp-po-Name .dp-po-Avatar-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.dp-po-community .dp-po-description-wrap .dp-po-Name .dp-po-label {
	margin-left: 10px;
	margin-right: 10px;
}

.dp-po-community .dp-po-user-status .dp-po-description {
	font: var(--p-1);
	margin-left: -8px;
}

.dp-po-community .dp-po-user-status .dp-po-description-title {
	color: var(--grey-dark);
}

.dp-po-community .dp-po-tex-wrap .dp-po-comments-item {
	padding: 5px 0 0;
}

.dp-po-community .dp-po-tex-wrap .dp-po-subtitle {
	justify-content: space-between;
}

.dp-po-community .dp-po-comments-item .dp-po-username {
	font: var(--p-1);
	display: flex;
	align-items: center;
}

.dp-po-community .dp-po-comments-item .dp-po-username .dp-po-Icon {
	margin-right: 10px;
}

.dp-po-community .dp-po-comments-item .label--time {
	font: var(--b-1-semibold);
	position: relative;
}

/*.dp-po-community .dp-po-comment-subtitle {
	color: var(--grey-darkest);
	font: var(--p-2);
	margin: 0;
}
*/

.dp-po-community .dp-po-tex-wrap .dp-po-comments-item .dp-po-comment-subtitle {
	padding-left: 40px;
}

.dp-po-community .dp-po-comment-subtitle {
	font: var(--p-1);
	margin: 15px 0;
	max-width: 90%;
}

.dp-po-comments-item .dp-po-comments-status {
	padding: 5px 10px;
	color: var(--white);
	font: var(--p-3-semibold);
	border-radius: 0px 0px 2px 2px;
}

.dp-po-community .dp-po-wrapper-status {
	display: flex;
	margin-bottom: 10px;
}

.dp-po-comments-status {
	text-transform: uppercase;
}

.dp-po-comments-status.comments-status--purple {
	background-color: var(--purple);
}

.dp-po-new-feature {
	display: flex;
	align-items: center;
	color: var(--grey-dark);
	font: var(--h-2);
	cursor: pointer;
	margin-bottom: 150px;
}

.dp-po-new-feature:hover {
	color: var(--success);
}

.dp-po-new-feature .dp-po-Icon {
	margin-right: 10px;
}

.dp-po-community .dp-po-label-list {
	display: flex;
}

.dp-po-community .dp-po-label-list .dp-po-label {
	cursor: pointer;
}

.dp-po-community .dp-po-recent-community .dp-po-list-item:not(:last-child) {
	margin-bottom: 12px;
}

.dp-po-community .dp-po-recent-community .dp-po-List .dp-po-title {
	font: var(--p-2-medium);
	color: var(--grey-dark);
	display: flex;
}

.dp-po-community .dp-po-recent-community .dp-po-recent-description {
	font: var(--p-1);
	color: var(--grey-darkest);
}

.dp-po-heshtag {
	color: var(--brand-primary);
	margin-right: 5px;
}

.dp-po-channel-wrap li {
	justify-content: space-between;
	cursor: pointer;
}

.dp-po-channel-wrap li .dp-po-Icon {
	margin: 0;
}

.dp-po-channel-wrap a {
	font: var(--p-1);
	color: var(--grey-darkest);
	text-decoration: none;
}

.dp-po-user-status .dp-po-dropdown-menu {
    background-color: var(--white);
    border: 1px solid var(--grey-light);
    box-shadow: var(--shadow-bottom-right);
    border-radius: 4px;
    padding: 12px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 12px);
    width: 100%;
    min-width: 273px;
    z-index: 4;
    display: none;
}

.dp-po-user-status .dp-po-dropdown-atom.is-active .dp-po-dropdown-menu {
	display: block;
}

.dp-po-user-status .dp-po-dropdown-atom.is-active {
	background-color: var(--info-light);
	color: var(--brand-primary);
}

.dp-po-user-status .dp-po-dropdown-menu .dp-po-dropdown-menu-item {
	padding: 4px 15px;
}

.dp-po-community .dp-po-Sidebar.Sidebar--right .dp-po-dropdown-Title {
	border: 1px solid var(--brand-primary);
	color: var(--brand-primary);
}

.dp-po-community .dp-po-main {
	position: relative;
}

.dp-po-registration-popup {
	position: absolute;
	z-index: 5;
	background-color: var(--white);
	top: 2%;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 900px;
	padding: 30px 5px 10px 30px;
	box-shadow: var(--shadow-bottom);
	border-radius: 4px;
	display: none;
}

.dp-po-registration-popup.is-active {
	display: block;
}

.dp-po-registration-popup .dp-po-form-registration .dp-po-registration-step {
	display: none;
}

.dp-po-community.dp-Template.is-open .dp-po-overlay:after {
	display: block;
	content: '';
	background: rgba(139, 146, 147, .4);
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	position: fixed;
}

.dp-po-community .dp-po-description-wrap .dp-IconsWrapper {
	margin-top: -6px;
}

.dp-po-community .dp-po-tex-wrap p {
	margin-bottom: 28px;
}

/*rtl*/

.dp-po-direction-rtl .dp-po-calendar-wrapper.calendar--community {
	margin-left: 0;
	margin-right: -60px;
}

.dp-po-direction-rtl.dp-po-community .dp-po-Title-page .dp-po-label {
	margin-left: 0;
	margin-right: 15px;
}

.dp-po-direction-rtl.dp-po-community .dp-po-description-wrap .dp-po-Name {
	margin-right: 0;
	margin-left: 40px;
}

.dp-po-direction-rtl.dp-po-community .dp-po-comments-item .dp-po-username .dp-po-Icon {
	margin-right: 0;
	margin-left: 10px;
}

.dp-po-direction-rtl .dp-po-heshtag {
	margin-right: 0;
	margin-left: 5px;
}

.dp-po-direction-rtl .dp-po-label + .dp-po-label {
	margin-left: 0;
	margin-right: 5px;
}

.dp-po-direction-rtl .dp-po-new-feature .dp-po-Icon {
	margin-right: 0;
	margin-left: 10px;
}

@media screen and (min-width: 1280px) and (max-width: 1400px) {

	.dp-po-direction-rtl .dp-po-calendar-wrapper.calendar--community {
		margin-right: 0;
	}
}

@media (max-width: 1280px) {

	.dp-po-registration-popup {
		top: 10%;
	}

	.dp-po-direction-rtl .dp-po-calendar-wrapper.calendar--community {
		margin-right: 0;
	}

}


@media (max-width: 1080px) {
	.dp-po-calendar-wrapper.calendar--community {
		margin-left: 0;
	}
}

@media (max-width: 992px) {

	.dp-po-calendar-wrapper.calendar--community .dp-calendar {
		margin-left: 0;
		margin-right: 20px;
	}

	.dp-po-calendar-wrapper.calendar--community .dp-po-date {
		background-color: var(--grey-lightest);
	}

	.dp-po-community .dp-po-description-wrap {
		margin-left: 55px;
		margin-bottom: 0;
	}
	
	.dp-po-community .dp-po-tex-wrap {
		margin-top: 30px;
		margin-bottom: 35px;
	}

	.dp-po-community .dp-po-tex-wrap p {
		margin-bottom: 15px;
	}

	.dp-po-new-feature {
		margin-bottom: 0;
	}

	.dp-po-comments-item.comments--status {
		border-left: 2px solid var(--purple);
	}

	.dp-po-comments-item .dp-po-comments-status {
		border-radius: 0px 2px 2px 0;
		padding: 3px 12px;
	}

	.dp-po-community .dp-po-tex-wrap .dp-po-comments-item {
		padding: 0 0 0;
	}

	.dp-po-community .dp-po-comments-item .dp-po-username {
		padding-left: 8px;
	}

	.dp-po-community .dp-po-comments-item .dp-po-username .dp-po-Icon {
		margin-right: 8px;
	}

	.dp-po-community .comments--status .dp-po-comment-subtitle {
		padding: 10px;
		background-color: var(--grey-lightest);
		max-width: 100%;
		font: var(--p-2);
		margin: 8px 0 8px 50px;
	}

	.dp-po-community .dp-po-title-wrapper {
		margin-top: 25px;
	}

	.dp-po-community .dp-po-Title-page {
		line-height: 1.32;
		margin-bottom: 17px;
	}

	.dp-po-community .dp-po-user-status {
		flex-direction: column;
	}

	.dp-po-community .dp-po-description-wrap .dp-po-Name {
		margin: 0 0 5px 0;
	}

	.dp-po-community .dp-po-user-status .dp-po-description {
		font: var(--messenger-h-3-medium);
		color: var(--grey-dark);
	}

	.dp-po-community .dp-po-user-status .dp-po-description-title {
		font: var(--mp-1);
	}

	.dp-po-community .dp-po-mobile-subscribe {
		margin-top: 25px;
	}

	.dp-po-community .dp-po-comments-item .dp-po-username {
		font: var(--messenger-h-3-medium);
	}

	.dp-po-community .dp-po-wrapper-status {
		margin-bottom: 8px;
	}

	.dp-po-community .dp-po-tex-wrap .dp-po-subtitle {
		white-space: nowrap;
	}

	.dp-po-community .dp-po-username-description {
		color: var(--grey-dark);
		font: var(--p-2);
		font-style: italic;
		margin-left: 5px;
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.dp-po-community .dp-po-article-details-wrap.dp-po-channel-wrap {
		order: 1;
	}

	.dp-po-community .dp-po-related-wrap {
		order: 2;
	}

	.dp-po-community  .dp-po-registration-step .dp-po-Button {
		max-width: 100%;
	}

	.dp-po-registration-popup {
		top: 15%;
	}

	/*rtl*/

	.dp-po-direction-rtl .dp-po-comments-item.comments--status {
		border-left: 0;
		border-right: 2px solid var(--purple);
	}

	.dp-po-direction-rtl.dp-po-community .dp-po-comments-item .dp-po-username {
		padding-left: 0;
		padding-right: 8px;
	}

	.dp-po-direction-rtl.dp-po-community .dp-po-username-description {
		margin-right: 5px;
		margin-left: 0;
		text-align: right;
		display: flex;
	}

	.dp-po-direction-rtl.dp-po-community .comments--status .dp-po-comment-subtitle {
		margin: 8px 50px 8px 0;
	}

	.dp-po-direction-rtl .dp-po-calendar-wrapper.calendar--community .dp-calendar {
		margin-left: 20px;
		margin-right: 0;
	}
	
	.dp-po-direction-rtl.dp-po-community .dp-po-user-status .dp-po-description,
	.dp-po-direction-rtl.dp-po-community .dp-po-description-wrap .dp-po-Name {
		margin-right: 40px;
		margin-left: 0;
	}

}

@media (max-width: 576px) {

	.dp-po-user-status .dp-po-dropdown-menu {
		border: 1px solid var(--brand-primary);
		width: calc(100% + 55px);
		top: calc(100% - 20px);
		left: -55px;
	}

	.dp-po-community .dp-po-description-wrap .dp-po-Name {
		position: inherit;
	}

	.dp-po-community .dp-po-description-wrap {
		position: relative;
	}

	.dp-po-registration-popup {
		top: -177px;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 10px;
	}

}

@media (max-width: 350px) {
	.dp-po-community .dp-po-username-description {
		max-width: 75px;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1400px) {
	.dp-po-calendar-wrapper.calendar--community {
		margin-left: 0;
	}
}

@media (min-width: 992px) {

	.dp-po-community .dp-po-Title-page {
		max-width: 93%;
	}

	.dp-po-community .subscribe--dropdown {
		margin-bottom: 18px;
	}

	.dp-po-community .dp-po-tex-wrap {
		padding: 23px 30px 15px 30px;
	}

	.dp-po-community .dp-po-main .dp-po-Sidebar {
		margin-top: 125px;
	}

	.dp-po-community .dp-po-wrapper-status {
		border-top: 2px solid var(--purple);
	}

	.dp-po-wrapper-status + .dp-po-subtitle .dp-po-label {
		margin-top: -60px;
	}

	.dp-po-community .dp-po-description-wrap .dp-po-Name:after {
		content: '';
		position: absolute;
		top: 2.5px;
		right: -20px;
		background-color: var(--grey-light);
		width: 1px;
		height: calc(100% - 5px);
	}

	/*rtl*/

	.dp-po-direction-rtl.dp-po-community .dp-po-description-wrap .dp-po-Name:after {
		right: auto;
		left: -20px;
	}

}
