.alert {
  border-width: 2px;

  &.alert-icon {
    padding-left: 70px;

    .dp-po-icon {
      position: absolute;
      top: -2px;
      left: -2px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: calc(100% + 4px);
      padding: 10px 0;
      font-size: 22px;
      text-align: center;
      background: #fff;
      border: 1px solid;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
}
