.dp-po-avatar {
  display: flex;
  align-items: center;
  line-height: normal;

  .dp-po-avatar-name,
  .dp-po-avatar-image {
    border-radius: 50%;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: cover;
    background-position: center;
  }

  .dp-po-avatar-name {
    background: var(--brand-primary-l-350);
    color: $grey-darkest;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    height: 30px;
    padding: 7px 0;
    text-align: center;
    text-transform: uppercase;
  }

  .badge {
    margin: 0 0 0 10px;
  }

  &-round {

    img {
      border-radius: 50%;
      margin-right: 10px;
    }
  }
  &-small {
    .dp-po-avatar-name,
    .dp-po-avatar-image {
      width: 24px;
      height: 24px;
      font-size: 10px;
    }
  }
}
