.dp-po-avatar {
  display: flex;
  align-items: center;

  .dp-po-avatar-name,
  .dp-po-avatar-image {
    border-radius: 50%;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: cover;
    background-position: center;
  }

  .dp-po-avatar-name {
    background: $grey;
    color: $white;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    height: 30px;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
  }

  .badge {
    margin: 0 0 0 10px;
  }

  &-round {

    img {
      border-radius: 50%;
    }
  }
}
