.breadcrumb-outer {
  border-bottom: 2px solid $grey-light;

  .container {
    height: 72px;
  }
}

.breadcrumb {
  padding: 0;
  background: none;

  &-item {
    color: $breadcrumb-inactive-color;
    font-weight: bold;
    font-size: $p1-font-size;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 15px;

    &:first-child {
      margin-left: 0;
    }

    a {
      padding: 7px 0;
      display: inline-block;
      text-decoration: none;
      color: $breadcrumb-inactive-color;

      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background: $brand-primary;
        position: absolute;
        bottom: -2px;
        left: 0;
        opacity: 0;
      }
    }

    .dp-po-icon {
      font-size: 25px;
      margin: 0;
      position: absolute;
      left: -20px;
    }

  }

  &-item:hover {
    color: $breadcrumb-hover-color;

    a {
      color: $breadcrumb-hover-color;
      position: relative;

      &:after {
        opacity: 1;
      }
    }

    .dp-po-icon {
      color: $breadcrumb-inactive-color;
    }

    &:before {
      color: $brand-primary;
    }
  }

  &-item.active {
    color: $breadcrumb-active-color;

    a {
      color: $breadcrumb-active-color;
      position: relative;
    }

    .dp-po-icon {
      color: $brand-primary;
    }
  }

  &-image {
    position: relative;
    margin-right: 20px;

    img {
      max-width: 64px;
      margin-right: 20px;
    }

    &:after {
      width: 2px;
      height: 74px;
      content: '';
      background: $grey-light;
      right: -1px;
      top: -4px;
      display: block;
      position: absolute;
    }
  }
}
