.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &-icon {
    .dp-po-icon {
      margin-right: 10px;
      font-size: 20px;
      line-height: 0;
    }
  }

  &-lg {
    justify-content: center;
    width: 254px;
    max-width: 100%;
  }

  &-brand {
    position: relative;
    color: $white;

    .dp-po-icon {
      position: absolute;
      left: 0;
      width: 30px;
      height: 100%;
      padding: 8px;
      font-size: 26px;
      border-right: 1px solid $grey-light;
    }

    span {
      margin-left: 40px;
    }

    &:hover {
      color: $white;
      opacity: .8;
    }
  }

  &-fb {
    background: $facebook;
  }

  &-li {
    background: $linkedin;
  }

  &.auth-google {
    background: $google;
  }

  &.auth-facebook {
    background: $facebook;
  }

  &.auth-twitter {
    background: $twitter;
  }
  &.auth-one {
    background: $one;
  }
}

.btn + .btn {
  margin-left: 10px;
}

.btn-reset:hover {
  color: $brand-primary;
  background-color: $white;
  border-color: $brand-primary;
}
.btn-reset:focus {
  box-shadow: 0 0 0 .2rem rgba(var(--brand-secondary-rgb), .25);
}
