::placeholder {
  color: $grey;
}

.form-group {
  margin-bottom: 20px;
  position: relative;

  textarea {
    min-height: 150px;
    padding: 15px;
  }

  .form-text {
    font-size: 12px;
    color: $grey-dark;
  }

  label {
    font-size: $s15;
    font-weight: 700;
    color: $text-color;
    margin: 0 0 10px;
    display: block;
  }

  .checkboxes,
  .radios {

    label {
      cursor: pointer;
      display: inline-block;

      & > input {
        display: none;

        & + i {
          background-color: #fff;
          border: 2px solid $grey-light;
          border-radius: 4px;
          display: inline-block;
          height: 16px;
          margin-right: 3px;
          position: relative;
          top: 2px;
          width: 16px;

          &::after {
            background: transparent;
            border: 2px solid $brand-primary;
            border-right: none;
            border-top: none;
            box-sizing: border-box;
            content: "";
            height: 6px;
            left: 1px;
            opacity: 0;
            position: absolute;
            top: 2px;
            transform: rotate(-60deg);
            width: 11px;
          }
        }

        &:checked + i::after {
          opacity: 1 !important;
          transition: 0.2s;
        }
      }

      span.label {
        margin-left: 5px;
        margin-right: 20px;
      }
    }
  }

  .radios {

    label > input {

      & + i {
        border-radius: 50%;

        &::after {
          background-color: $brand-primary;
          border: none;
          border-radius: 50%;
          height: 0;
          left: 50%;
          opacity: 1;
          top: 50%;
          width: 0;
        }
      }

      &:checked + i::after {
        height: 8px;
        left: 17%;
        top: 17%;
        width: 8px;
      }
    }
  }
}

.form-control {
  background: $grey-lightest;
  border: 2px solid $grey-light;
  border-radius: 4px;
  height: auto;
  padding: 7px 15px 6px;

  &:focus {
    background: $grey-lightest;
    border-color: $brand-primary;
    box-shadow: none;
  }

  &.form-success {
    border-color: $success;
  }

  &.form-error {
    border-color: $danger;
  }
}

select.form-control:not([multiple="multiple"]) {
  appearance: none;

  &, &:focus {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%234c4f50%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-position: right 0.7em top 50%;
    background-repeat: no-repeat;
    background-size: 0.65em auto;
  }
}

.dp-po-form-check {
  padding: 0;

  label {
    position: relative;
    margin: 0;
    padding: 0 0 0 30px;
    line-height: 21px;
    display: inline-block;
    font-weight: normal;

    &:before {
      background-color: $grey-lightest;
      border: 1px solid $grey-light;
      border-radius: 0.5px;
      content: "";
      display: block;
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      width: 20px;
      border-radius: 4px;
    }

    &:after {
      content: "";
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.21 4.81a.602.602 0 0 1 0-.751l.097-.112a.423.423 0 0 1 .65 0l1.688 1.95 4.43-5.12a.423.423 0 0 1 .65 0l.097.112a.602.602 0 0 1 0 .752L2.645 7.625.21 4.811z' fill='%233a8dde'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 11px auto;
      width: 20px;
      height: 20px;
      display: block;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      color: $brand-primary;
    }

    img {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      position: relative;
      top: -2px;
      margin-right: 3px;
    }
  }

  input[type="checkbox"] {
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;

    &:checked {
      &+label:after {
        opacity: 1;
      }
    }
  }
}

.dp-po-form-upload {
  &-wrap {
    display: inline-flex;
    align-items: center;
    padding: 20px;
    border: 2px dashed $grey-light;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      border-color: $brand-primary;

      .dp-po-drag {
        color: $brand-primary;
      }
    }

    & > span {
      color: $grey-dark;
      font-size: 12px;
      margin: 0 15px;
    }

    .dp-po-drag {
      display: flex;
      align-items: center;
      color: $grey-dark;

      .dp-po-icon {
        margin: 0 10px 0 0;
      }
    }
  }
}

.dp-po-form-captcha {
  &-text {
    border: 2px dashed $grey-light;
    width: 100%;
    height: 40px;
    border-radius: 4px;
  }
}

.dp-po-form-btntext {
  color: $text-color;
  font-size: $p4-font-size;
  display: table;
  margin-top: 10px;

  &:hover {
    text-decoration: none;
    color: $brand-primary;
  }
}

.dp-po-form-password {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid $brand-primary;
  padding: 20px;
  display: inline-block;
  position: absolute;
  background: $white;
  bottom: 0;
  z-index: 1;
  transform: translateY(100%);

  &-title {
    @include typo($s17, 500, 'head');
    color: $grey-dark;
    margin: 0 0 10px;
  }

  &-list {
    margin: 0;
    padding: 0;
  }

  &-item {
    display: flex;
    align-items: center;
    color: $grey-dark;
    margin-bottom: 10px;

    &:last-child {
      margin: 0;
    }
  }

  .dp-po-icon {
    color: $success;
    margin-right: 10px;
  }
}
.field_more_attachments {
  display: none;
}
