::placeholder {
  color: $grey;
}

.form-group {
  position: relative;
  margin-bottom: 20px;

  textarea {
    min-height: 150px;
    padding: 15px;
  }

  .form-text {
    font-size: 12px;
    color: $grey-dark;
    &:not(.text-danger) {
      margin-top: 0;
      margin-bottom: $form-text-margin-top;
    }
  }

  label,
  legend {
    display: block;
    margin: 0 0 10px;
    font-size: $s15;
    font-weight: 700;
    color: $text-color;

    &[for$="_delete"] {
      display: inline-block;
    }
  }

  .checkboxes,
  .radios {
    padding: 0;
    background-color: transparent;
    border: none;

    &:focus-within {
      border-color: $brand-primary;
    }

    label {
      display: inline-block;
      margin-bottom: 0;
      cursor: pointer;

      > input {
        position: absolute;
        opacity: 0;

        + i {
          position: relative;
          top: 2px;
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-right: 3px;
          background-color: #fff;
          border: 1px solid $grey-light;
          border-radius: 4px;

          &::after {
            position: absolute;
            top: 3px;
            left: 2px;
            box-sizing: border-box;
            width: 11px;
            height: 6px;
            content: "";
            background: transparent;
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            opacity: 0;
            transform: rotate(-45deg);
          }
        }

        &:checked + i {
          background-color: $brand-primary;
          border-color: $brand-primary;
          &::after {
            background-color: $brand-primary;
            opacity: 1 !important;
            transition: .2s;
          }
        }

        &:focus + i {
          border: 2px solid $grey-dark;
          &::after {
            top: 2px;
            left: 1px;
            transition: 0s;
          }
        }

        &:disabled + i {
          border-color: $grey-light;
        }
      }

      span.label {
        margin-right: 20px;
        margin-left: 5px;
      }
      &:hover > input + i {
        border-color: $brand-primary;
      }
    }
  }

  .radios {

    label > input {

      + i {
        border: 1px solid $grey-dark;
        border-radius: 50%;

        &::after {
          top: 50%;
          left: 50%;
          width: 0;
          height: 0;
          background-color: #fff;
          border: none;
          border-radius: 50%;
          opacity: 1;
        }
      }

      &:checked + i {
        background-color: $brand-primary;
        border-color: $brand-primary;
        &::after {
          top: 4px;
          left: 4px;
          width: 6px;
          height: 6px;
          background-color: #fff;
        }
      }
    }
    label > input:focus {
      + i {
        border: 2px solid $grey-dark;
      }
      &:checked + i::after {
        top: 3px;
        left: 3px;
        width: 6px;
        height: 6px;
      }
    }
  }
  .dp-pc_file-upload {
    padding: 0;
    &__dropzone {
      position: relative;
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
    &__error {
      font-size: 12px;
      color: $danger;
    }
    &__attached {
      li {
        font-size: 14px;
        a {
          padding: 0 5px;
        }
        .remove-attachement {
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
  .dp-money-field {
    position: relative;
    > span {
      position: absolute;
      left: 15px;
      height: auto;
      padding: 9px 0 8px;
      line-height: 1.6;
      color: #8b9293;
    }
    > input {
      padding-left: 30px;
    }

    &.aud {
      > input {
        padding-left: 40px;
      }
    }

    &.nzd,
    &.cad,
    &.chf,
    &.hkd,
    &.sek {
      > input {
        padding-left: 50px;
      }
    }
  }
  .medium-editor-action {
    padding: 7px;
    border: 1px solid transparent;
  }
  .medium-editor-action:focus {
    border-color: #b8bfc0;
  }
  .medium-editor-dragover {
    background: inherit;
  }
  &.dp-toggle-checkbox {
    legend {
      display: block;
      margin: 0 0 10px;
      font-size: $s15;
      font-weight: 700;
      color: $text-color;
    }
    input {
      display: inline-block;
      width: 14px;
      margin-right: 10px;
      vertical-align: -1px;
    }
    label {
      display: inline-block;
      width: calc(100% - 30px);
      margin-bottom: 2px;
    }
  }
  .dp-medium-rte:focus {
    outline: none;
  }
  .react-datepicker__input-container input:focus {
    outline: 0;
  }
  .react-datepicker-wrapper,
  .react-datepicker__input-container {
    width: 100%;
    input {
      width: 100%;
    }
  }
}

.form-control {
  height: auto;
  padding: 7px 15px 6px;
  background: $grey-lightest;
  border: 2px solid $grey-light;
  border-radius: 4px;

  &:focus,
  &:focus-within,
  .react-select__control--is-focused,
  &.focused {
    background: $grey-lightest;
    border-color: $brand-primary;
    box-shadow: none;
  }

  &.form-success {
    border-color: $success;
  }

  &.form-error {
    border-color: $danger;
  }
}

select.form-control:not([multiple="multiple"]) {
  appearance: none;

  &,
  &:focus {
    //background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20d%3D%22M151.5%20347.8L3.5%20201c-4.7-4.7-4.7-12.3%200-17l19.8-19.8c4.7-4.7%2012.3-4.7%2017%200L160%20282.7l119.7-118.5c4.7-4.7%2012.3-4.7%2017%200l19.8%2019.8c4.7%204.7%204.7%2012.3%200%2017l-148%20146.8c-4.7%204.7-12.3%204.7-17%200z%22%2F%3E%3C%2Fsvg%3E");
    //background-position: right 0.7em top 50%;
    //background-repeat: no-repeat;
    //background-size: 0.65em auto;
  }

  option:disabled {
    color: $grey-lightest;
  }

  + i {
    position: absolute;
    top: 38px;
    right: 15px;

    svg {
      color: $brand-primary;
      fill: $brand-primary;
    }
  }
}

.react-select {
  .react-select__control {
    width: 100%;
    min-height: 45px;
    padding-top: 0;
    margin-left: 0;

    .react-select__single-value {
      color: #495057;
    }
    .react-select__multi-value {
      margin-top: 2px;
    }
    .react-select__input > input {
      margin-top: 0;
    }
  }
  .react-select__menu {
    z-index: 3000;
    .react-select__option.react-select__option--is-selected {
      color: inherit;
      text-decoration: underline;
      background-color: inherit;
    }
    .react-select__option.react-select__option--is-focused {
      color: var(--brand-primary);
      background-color: inherit;
    }
  }
  .react-select__control--is-focused {
    border-color: var(--brand-primary);
  }
}

.dp-po-form-check,
.dp-po-form-check-compact {
  padding: 0;

  label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 30px;
    margin: 0;
    font-weight: 400;
    line-height: 21px;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 20px;
      height: 20px;
      content: "";
      background-color: $grey-lightest;
      border: 1px solid $grey-light;
      border-radius: 4px;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 20px;
      height: 20px;
      color: $brand-primary;
      content: "";
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.21 4.81a.602.602 0 0 1 0-.751l.097-.112a.423.423 0 0 1 .65 0l1.688 1.95 4.43-5.12a.423.423 0 0 1 .65 0l.097.112a.602.602 0 0 1 0 .752L2.645 7.625.21 4.811z' fill='%233a8dde'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 11px auto;
      opacity: 0;
    }

    img {
      position: relative;
      top: -2px;
      width: 22px;
      height: 22px;
      margin-right: 3px;
      border-radius: 50%;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked {
      + label::after {
        opacity: 1;
      }
    }
  }
}

.dp-po-form-check-compact {
  label {
    padding: 0 0 0 25px;
    line-height: 15px;
    color: $grey-dark;

    &::before {
      width: 14px;
      height: 14px;
      border: 1px solid $grey;
      border-radius: 0;
    }

    &::after {
      width: 14px;
      height: 14px;
      color: $white;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.318604 5.9257C0.0812988 5.65139 0.0812988 5.18506 0.318604 4.91075L0.449121 4.75988C0.686426 4.48557 1.08984 4.48557 1.32715 4.75988L3.60527 7.39326L9.58535 0.480635C9.82266 0.206325 10.2261 0.206325 10.4634 0.480635L10.5939 0.631506C10.8312 0.905817 10.8312 1.37214 10.5939 1.64646L3.60527 9.7249L0.318604 5.9257Z' fill='white'/%3E%3C/svg%3E");
    }
  }

  input[type="checkbox"] {
    &:checked {
      + label::before {
        background-color: $brand-primary;
        border-color: $brand-primary;
      }
    }
  }
}

.dp-po-form-upload {
  &-wrap {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border: 2px dashed $grey-light;
    border-radius: 3px;

    &:hover {
      border-color: $brand-primary;

      .dp-po-drag {
        color: $brand-primary;
      }
    }

    > span {
      margin: 0 15px;
      font-size: 12px;
      color: $grey-dark;
    }

    .dp-po-drag {
      display: flex;
      align-items: center;
      color: $grey-dark;

      .dp-po-icon {
        margin: 0 10px 0 0;
      }
    }
  }

  &-avatar {
    display: inline-block;
    margin-right: 20px;

    &-image {
      width: 128px;
    }

    &-placehodler {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 128px;
      height: 128px;
      margin: 0;
      margin-right: 20px;
      font-size: 15px;
      color: $grey-dark;
      background: $grey-lightest;
      border: 1px solid $grey;
      border-radius: 50%;
    }
  }
}

.dp-po-form-captcha {
  &-text {
    display: inline-block;
    height: 74px;
    border: 2px dashed $grey-light;
    border-radius: 4px;
    img {
      border-radius: 2px;
    }
  }
}

.dp-po-form-btntext {
  display: table;
  margin-top: 10px;
  font-size: $p4-font-size;
  color: $text-color;

  &:hover {
    color: $brand-primary;
    text-decoration: none;
  }
}

.dp-po-form-password {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: inline-block;
  padding: 20px;
  background: $white;
  border: 1px solid $brand-primary;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .15);
  transform: translateY(100%);

  &-title {
    @include typo($s17, 500, "head");
    margin: 0 0 10px;
    color: $grey-dark;
  }

  &-list {
    padding: 0;
    margin: 0;
  }

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: $grey-dark;

    &:last-child {
      margin: 0;
    }
  }

  .dp-po-icon {
    margin-right: 10px;
    color: $success;
  }
}

.dp-po-page-login-multi-list {
  margin-top: 10px;
  margin-left: -40px;
  font-size: 1rem;
  color: #000;
  list-style-type: none;

  > li {
    cursor: pointer;
    &:hover,
    &.active {
      background-color: lighten($brand-primary, 35%);
    }

    .dp-po-page-login-multi-list-keys {
      margin-left: -30px;
      color: $grey;
      list-style-type: none;
    }
  }
}

.dp-po-multi-login {
  margin-top: 5px;
  margin-left: -35px;
  font-size: 12px;
  list-style-type: none;

  > li {
    cursor: pointer;
    &:hover,
    &.active {
      background-color: lighten($brand-primary, 35%);
    }

    .dp-po-multi-name {
      font-size: 1rem;
    }

    .dp-po-multi-keys {
      font-size: .75rem;
      color: $grey;
    }
  }
}

.field_more_attachments {
  display: none;
}

.react-datepicker-popper {
  z-index: 3000;
  .react-datepicker .react-datepicker__time .react-datepicker__time-list {
    padding-left: 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  input[type="text"].form-control {
    padding-top: 10px;
    padding-bottom: 9px;
    line-height: 10px;
  }
}
