.dp-po-icon {
  $self: '.dp-po-icon';

  .fa-secondary,
  .fa-primary {
    fill: $brand-primary;
  }

  &#{$self}-white {
    .fa-secondary,
    .fa-primary {
      fill: $white;
    }
  }

  &#{$self}-danger {
    .fa-secondary,
    .fa-primary {
      fill: $danger;
    }
  }

  &#{$self}-purple {
    .fa-secondary,
    .fa-primary {
      fill: $purple;
    }
  }

  &#{$self}-neutral {
    .fa-secondary,
    .fa-primary {
      fill: $neutral;
    }
  }

  &#{$self}-warning {
    .fa-secondary,
    .fa-primary {
      fill: $warning;
    }
  }

  &#{$self}-success {
    .fa-secondary,
    .fa-primary {
      fill: $success;
    }
  }

  &#{$self}-info {
    .fa-secondary,
    .fa-primary {
      fill: $info;
    }
  }

  &#{$self}-pink {
    .fa-secondary,
    .fa-primary {
      fill: $pink;
    }
  }
}
