.dp-po-label {
  $self: &;
  font-weight: 600;
  font-size: 12px;
  color: #FFFFFF;
  background: #54B162;
  border-radius: 2px;
  padding: 5px 10px;
  display: inline-block;

  &#{$self}-small {
    font-size: 10px;
    padding: 2px 5px;
  }

  &#{$self}-large {
    font-weight: 700;
    font-size: 15px;
  }


}
