.dp-po-like {
  $self: ".dp-po-like";
  display: inline-flex;
  flex-wrap: wrap;
  width: 40px;

  text-align: center;

  &:hover {
    text-decoration: none;

    #{$self}-count {
      color: $brand-primary;
    }

    #{$self}-icon {
      background: $info-light;

      .dp-po-icon {
        color: $brand-primary;
      }
    }
  }

  &-count {
    @include typo($s19, 400, "head");
    display: block;
    flex: 0 0 100%;
    height: 30px;
    padding: 4px 0;
    color: $text-color;
    background: $grey-lightest;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &-icon {
    display: block;
    flex: 0 0 100%;
    height: 30px;
    padding: 4px 0;
    background: $brand-primary;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    .dp-po-icon {
      color: $white;
      vertical-align: -1px;
    }
  }

  &-small {
    flex-wrap: nowrap;
    width: auto;

    #{$self}-count {
      flex: none;
      width: 40px;
      height: auto;
      padding: 4px 0;
      font-size: $s17;
      text-align: center;
      border-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    #{$self}-icon {
      flex: none;
      width: 40px;
      height: auto;
      padding: 3px 0;
      text-align: center;
      border-radius: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  &.agreed #{$self}-icon {
    background-color: $success;
  }

  &.agreed:hover {

    #{$self}-count {
      color: $success;
    }
    #{$self}-icon {
      background: $success-light;
    }
    .dp-po-icon {
      color: $success;
    }
  }
}
