.dp-po-message-bar {
  $self: ".dp-po-message-bar";
  align-items: center;
  padding: 10px 0;
  background: $success-light;
  border-bottom: 1px solid $grey-light;

  &-wrap {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &-text {
    margin: 0;
  }

  &-icon {
    margin: 0 10px 0 0;
    color: $success;
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    color: $grey;

    &:hover {
      color: $brand-primary;
    }
  }

  &-error {
    background: $danger-light;

    #{$self}-icon {
      color: $danger;
    }
  }

  &-warning {
    background: $warning-light;

    #{$self}-icon {
      color: $warning;
    }
  }
}
