.dp-po-message-bar {
  $self: '.dp-po-message-bar';
  background: $success-light;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;

  &-text {
    margin: 0;
  }

  &-icon {
    color: $success;
    margin: 0 10px 0 0;
  }

  &-error {
    background: $danger-light;

    #{$self}-icon {
      color: $danger;
    }
  }

}
