.modal {
  &-dialog {
    max-width: 765px;
  }

  &-content {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 30px;
  }

  &-header {
    padding: 0;
    border-bottom: 2px solid $grey-light;
    margin: 0 0 20px;
  }

  &-title {
    @include typo($s23, 400, 'head');
    margin: 0 0 20px;
    padding: 0;
  }

  &-body {
    padding: 0;
  }

  &-footer {
    padding: 0;
    border: none;
    justify-content: flex-start;
  }
}
