.dp-po-status-ribbon {
  $self: ".dp-po-status-ribbon";
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  font-size: $s12;
  color: $white;
  text-transform: uppercase;


  &-from {
    position: relative;
    padding: 4px 9px;
    margin-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: $grey-light;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    &::after {
      position: absolute;
      top: 0;
      right: -11px;
      width: 0;
      height: 0;
      content: "";
      border-top: 11px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 11px solid $grey-light;
    }

    span {
      display: block;
      width: 70px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-time {
    position: relative;
    padding: 4px 9px;
    margin-right: 20px;
    background: $grey;

    &-arrow {
      position: absolute;
      top: 0;
      right: -11px;
      width: 0;
      height: 0;
      border-top: 11px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 11px solid $grey;
    }

    &::after,
    &::before {
      position: absolute;
      top: 0;
      left: -12px;
      width: 0;
      height: 0;
      content: "";
      border-top: 0 solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 12px solid $grey;
      transform: rotate(90deg);
    }

    &::before {
      top: auto;
      bottom: 0;
      transform: rotate(180deg);
    }
  }

  &-to {
    position: relative;
    padding: 0 9px;
    padding: 4px 9px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: $success;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    span {
      display: block;
      width: 70px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &::after,
    &::before {
      position: absolute;
      top: 0;
      left: -12px;
      width: 0;
      height: 0;
      content: "";
      border-top: 0 solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 12px solid $success;
      transform: rotate(90deg);
    }

    &::before {
      top: auto;
      bottom: 0;
      transform: rotate(180deg);
    }

    &#{$self}-to-success {
      background: $success;

      &::after,
      &::before {
        border-left-color: $success;
      }
    }

    &#{$self}-to-neutral {
      background: $neutral;

      &::after,
      &::before {
        border-left-color: $neutral;
      }
    }

    &#{$self}-to-purple {
      background: $purple;

      &::after,
      &::before {
        border-left-color: $purple;
      }
    }

    &#{$self}-to-info {
      background: $info;

      &::after,
      &::before {
        border-left-color: $info;
      }
    }

    &#{$self}-to-grey {
      background: $grey-dark;

      &::after,
      &::before {
        border-left-color: $grey-dark;
      }
    }

  }
}
