.dp-po-subscribe {
  $self: '.dp-po-subscribe';
  margin: 0 0 20px;

  .dropdown-menu {
    border-color: $brand-primary;
    padding: 0;
  }

  &-btn {
    text-align: left;
    position: relative;
    background: $white;
    padding: 8px 10px;
    color: $brand-primary;
    display: flex;
    align-items: center;
    border: 1px solid $brand-primary;
    border-radius: 4px;
    outline: none;
    min-width: 150px;
    @include typo($s14, 600, 'body');

    .dp-po-icon {
      margin-right: 10px;
      font-size: 20px;

      .fa-check {
        position: absolute;
        right: 10px;
        top: 10px;
        color: $success;
      }
    }

    &:hover {
      background: $brand-primary;
      color: $white;

      .dp-po-icon {
        .fa-check {
          display: block;
          color: $white;
        }

        svg .fa-primary,
        svg .fa-secondary {
          fill: $white;
        }
      }
    }
  }

  &-activebtn {
    border-color: $grey-dark;
    color: $grey-dark;

    .dp-po-icon {
      .fa-check {
        display: block;
        color: $success;
      }
    }
  }

  .show {
    #{$self}-btn {
      background: $brand-primary;
      color: $white;

      .dp-po-icon {
        color: $white;

        .fa-check {
          display: block;
          color: $white;
        }

        svg .fa-primary,
        svg .fa-secondary {
          fill: $white;
        }
      }
    }
  }

  .dropdown-item {
    position: relative;
    @include typo($s17, 400, 'head');
    display: flex;
    align-items: center;
    padding: 15px 20px;

    .dp-po-icon {
      font-size: 26px;
      margin: 0 10px 0 0;
      color: $grey-dark;

      .fa-check {
        position: absolute;
        right: 20px;
        top: 10px;
        display: none;
      }
    }

    &:hover,
    &.active {
      background: none;
      color: $brand-primary;

      .dp-po-icon {
        color: $brand-primary;

        .fa-check {
          display: block;
          color: $success;
        }
      }
    }

    &.disabled {
      color: $grey;

      i {
        color: $grey;
      }
    }

    &#{$self}-manage {
      color: $brand-primary;
      @include typo($s14, 600, 'body');

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-divider {
    display: block;
    height: 1px;
    width: 100%;
    background: $grey;
  }

  &-large {
    #{$self}-btn {
      width: 100%;
      @include typo($s23, 400, 'head');
      padding: 8px 20px;

      .dp-po-icon {
        font-size: $s23;

        .fa-check {
          right: 20px;
          display: none;
        }
      }

      &:hover {
        .dp-po-icon {
          .fa-check {
            display: block;
            color: $white;
          }
        }
      }
    }

    .dropdown-menu {
      width: 100%;
    }
  }
}
