.dp-po-title {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  fill: $brand-primary;
  $self: '.dp-po-title';

  &-svg {
    margin: 0 10px 0 0;
    fill: var(--brand-primary);
  }

  &-text {
    @include typo($s30, 400, 'head');
    margin: 0;

    &#{$self}-small {
      font-size: $s23;
    }
  }

  &-link {
    text-decoration: none;
    display: inline-flex;
    align-items: center;


    #{$self}-text {
      color: $brand-primary;
      font-weight: 300;
    }
  }

  &-search {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
    position: relative;

    &-text {
      @include typo($s23, 400, 'head');
      margin: 0 0 5px;
    }

    span {
      color: $brand-primary;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 35px;
      width: 1px;
      background: $grey;
    }
  }
}
