.dp-po-title {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  $self: '.dp-po-title';

  &-svg {
    margin: 0 10px 0 0;
    fill: var(--brand-primary);
  }

  &-text {
    @include typo($s30, 400, 'head');
    margin: 0;

    &#{$self}-small {
      font-size: $s23;
    }
  }

  &-link {
    text-decoration: none;
    display: inline-flex;
    align-items: center;


    #{$self}-text {
      color: $brand-primary;
      font-weight: 300;
    }
  }
}
