.dp-po-tooltip {
  position: relative;
  padding: 3px 5px;
  background: $info-light;
}

&-tip {
  z-index: 2;
  display: inline-block;
  max-width: 250px;
  padding: 10px;
  font-family: $font-family-sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: $text-color;
  background: $white;
  border: 1px solid $grey-light;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .15);

  p {
    margin: 0 0 5px;
    font-size: 15px;
    font-weight: 700;
  }
}
