.dp-po-viewall {
  position: relative;
  display: flex;
  justify-content: flex-end;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: $grey-light;
    left: 0;
    top: 20px;
  }

  &-link {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    font-size: $button1-font-size;
    color: $brand-primary;
    background: $white;
    padding: 10px;
    z-index: 1;

    &:hover {}

    .dp-po-icon {
      font-size: 16px;
      margin-left: 10px;
      line-height: 0;
    }
  }
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
  color: currentColor;
  display: inline-block;
  pointer-events: none;
  text-decoration: none;
}

