.dp-po-register-success {
  text-align: center;

  .dp-po-icon {
    background: $brand-primary;
    color: $white;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 26px;
  }

  &-title {
    @include typo($s23, 400, 'head');
    margin: 20px 0 0;
  }

  &-msg {
    @include typo($s19, 400, 'head');
    color: $grey-dark;
    margin: 30px 0 20px;
  }

  &-link {}
}
