.dp-po-register-success {
  text-align: center;

  .dp-po-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    margin: 0 auto;
    font-size: 26px;
    color: $white;
    background: $brand-primary;
    border-radius: 50%;
  }

  &-title {
    @include typo($s23, 400, "head");
    margin: 20px 0 0;
  }

  &-msg {
    @include typo($s19, 400, "head");
    margin: 30px 0 20px;
    color: $grey-dark;
  }
}
