.dp-po-table-chat {
  $self: ".dp-po-table";

  #{$self}-row {
    &:hover {
      #{$self}-cell {
        &-large {
          padding-right: 70px;
        }

        &-view {
          display: inline-block;
        }
      }
    }
  }

  #{$self}-cell {
    width: 25%;

    &-large {
      width: 55%;
    }

    &-small {
      width: 20%;
    }

    &-date {
      display: flex;
      align-items: center;

      .dp-po-icon {
        display: none;
        margin-right: 10px;
      }
    }

    &-view {
      position: absolute;
      top: 16px;
      right: 30px;
      display: none;
      padding: 5px 10px;
      font-size: $p2-font-size;
      font-weight: 700;
      color: $brand-primary;
      border: 1px solid $brand-primary;
      border-radius: 4px;

      &:hover {
        color: $white;
        text-decoration: none;
        background: $brand-primary;
      }
    }
  }
}
