.dp-po-community-row {
  $self: ".dp-po-community-row";

  &-list {
    padding: 0;
    margin: 0;
  }

  &-item {
    display: flex;
    align-items: center;
    margin-top: 50px;
    list-style: none;
    background: $white;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .15);

    &-nocover {
      border: 2px solid transparent;

      #{$self}-left {
        &::after {
          display: none;
        }
      }

      #{$self}-title,
      #{$self}-description {
        color: $grey-darkest;
      }

      #{$self}-btn {
        color: $brand-primary;
        border-color: $brand-primary;
      }

      &:hover {
        border-color: $brand-primary;
      }
    }
  }

  &-left {
    position: relative;
    flex: 0 0 60%;
    padding: 30px;
    background-position: center;
    background-size: cover;
    border-right: 1px solid $grey-light;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: radial-gradient(50% 114.51% at 50% 0%, #fff 0%, rgba(0, 0, 0, .99) 100%);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      mix-blend-mode: multiply;
      opacity: .4;
    }
  }

  &-right {
    flex: 0 0 40%;
    padding: 30px;
    overflow: hidden;
    .dp-po-avatar {
      flex-shrink: 0;
    }
  }

  &-icon {
    position: absolute;
    top: -40px;
    left: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    font-size: 40px;
    background: $purple-light;
    border-radius: 50%;

    .dp-po-icon {
      font-size: 40px;

      img {
        max-width: 48px;
        max-height: 48px;
      }
    }

    &-purple {
      background: $purple;
    }

    &-neutral {
      background: $neutral;
    }

    &-warning {
      background: $warning;
    }

    &-success {
      background: $success;
    }

    &-pink {
      background: $pink;
    }

    &-danger {
      background: $danger;
    }
  }

  &-title {
    position: relative;
    z-index: 1;
    padding-top: 70px;
    margin: 0 0 20px;
    font-size: $s36;
    color: $white;
  }

  &-description {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 70%;
    margin: 0;
    line-height: 1.5;
    color: $white;
    vertical-align: bottom;
  }

  &-btn {
    position: relative;
    z-index: 1;
    float: right;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: $s14;
    font-weight: 600;
    color: $white;
    vertical-align: bottom;
    border: 1.5px solid $white;
    border-radius: 2px;

    &:hover {
      color: $white;
      text-decoration: none;
      background: $brand-primary;
      border-color: $brand-primary;
    }
  }

  &-activity {
    &-heading {
      margin: 0 0 15px;
      font-size: $s19;
    }

    &-list {
      padding: 0;
      margin: 0;
    }

    &-item {
      margin-bottom: 10px;
      list-style: none;

      &:last-child {
        margin: 0;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      color: $grey-darkest;

      &:hover {
        text-decoration: none;

        #{$self}-activity {
          &-title {
            text-decoration: underline;
          }
        }
      }
    }

    &-title {
      display: block;
      margin: 0;
      overflow: hidden;
      font-size: $s17;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-img {
      width: 30px;
      margin-right: 10px;
    }

    &-time {
      margin-left: 10px;
      color: $grey-dark;
      white-space: nowrap;
      @include typo($s17, 400, "head");
    }
  }
}

.dp-po-community-create {
  text-align: right;

  &-link {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    margin-bottom: 25px;
    background: $white;
    border: 1px solid $brand-primary;
    border-radius: 4px;
    @include typo($s23, 400, "head");

    .dp-po-icon {
      margin-right: 10px;
      font-size: 20px;
    }

    &:hover {
      color: $white;
      text-decoration: none;
      background: $brand-primary;

      .dp-po-icon {
        svg {

          .fa-primary,
          .fa-secondary {
            fill: $white;
          }
        }
      }
    }
  }
}

.dp-po-community-directory {
  display: flex;
  justify-content: flex-end;

  &-link {
    @include typo($s19, 400, "head");
    position: relative;
    display: flex;
    align-items: center;
    margin: 7px 0 0;
    color: $grey-darkest;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &::after {
      position: absolute;
      top: 0;
      right: -35px;
      width: 1px;
      height: 100%;
      content: "";
      background: $grey;
    }
  }

  &-svg {
    width: 25px;
    margin-right: 10px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .dp-po-community-row-left {
    max-width: 60%;
  }
  .dp-po-community-row-right {
    max-width: 40%;
  }
}
