.dp-po-download-agree {
  &-list {
    padding: 0;
    margin: 0;
  }

  &-item {
    display: flex;
    margin-bottom: 15px;

    &:last-child {
      margin: 0;
    }
  }

  .dp-po-icon {
    position: relative;
    top: 1px;
    margin-right: 10px;
  }
}
