.dp-po-guides {
  padding-top: 30px;
}

.dp-po-guides-wrap {
  margin: 0 -15px;
  max-width: 1560px;
}

.dp-po-guides-contents {
  background: $white;
  border: 1px solid $grey-light;
  border-radius: 4px;
  margin: 0 0 25px;

  &-title {
    @include typo($s17, 500, 'head');
    color: $grey-dark;
    border-bottom: 1px solid $grey-light;
    padding: 15px 20px;
    margin: 0;
  }

  &-list {
    margin: 0;
    padding: 20px;
  }

  &-item {
    display: block;
    margin: 0 0 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

    &:last-child {
      margin: 0;
    }
  }

  &-link {
    color: $grey-darkest;
    align-items: center;
    @include typo($s14, 600, 'body');
    line-height: 1.5;

    &:hover {
      color: $brand-primary;
    }

    &.active {
      color: $brand-primary;

      .dp-po-icon {
        opacity: 1;
      }
    }

    .dp-po-icon {
      font-size: 20px;
      color: $brand-primary;
      margin-right: 10px;
      opacity: 0;
      vertical-align: -2px;
    }
  }
}

.dp-po-guides-meta {
  display: block;
  color: #8B9293;
  font-size: $s15;
  line-height: 150%;

  strong {
    font-weight: normal;
    color: #4C4F50;
  }

  .separator {
    margin: 0 8px;
  }
}

.dp-po-post-avatars {
  margin-top: 10px;
  flex: 0 0 100%;
}

.dp-po-guides-section {
  border-top: 1px solid $grey-light;
  padding: 30px 0;
  position: relative;
  z-index: 1;
  background-color: $grey-lightest;
}

.dp-po-guides-block {


  &-article {
    &:not(:first-child) {
      margin-top: -2px;
    }

    &-left {
      border-top: none;
      padding-bottom: 20px;
      border-radius: 3px 3px 0 0;

      .dp-po-comments {
        padding-top: 30px;
        border-top: 1px solid #d3d6d7;
        .dp-po-comments-add button .dp-po-icon {
          margin: 0;
        }
      }
    }

    &-right {
      position: sticky;
      align-self: flex-start;
    }
  }

  &-main {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }

  &-header {
    background: #F7F7F7;
    padding: 10px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $grey-light;
    border-radius: 3px 3px 0 0;
  }

  &-title {
    font-size: $s26;
    margin: 0;
    flex: 0 0 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;

    .dp-po-icon {
      font-size: 20px;
    }

    .dp-po-icon.dp-info {
      opacity: 1;
    }
  }

  &-title-section {
    flex: 0 0 100%;
    color: #8B9293;
    font-size: $s14;
  }

  &-chapter {
    margin: 0;
    @include typo($s14, 600, 'body');
    color: $grey-dark;
    display: inline-flex;
    align-items: center;

    .dp-po-icon {
      color: $brand-primary;
      font-size: 20px;
      margin-right: 5px;
      line-height: 0%;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &-extra {
    position: relative;

    &-list {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
    }

    &-item {
      list-style: none;
      margin-left: 10px;
    }

    &-link {
      border-radius: 50%;
      border: 1px solid $grey-light;
      color: $grey-dark;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      display: inline-flex;
      background: $white;

      &:hover {
        border-color: $brand-primary;
      }
    }
  }

  &-content {
    padding: 20px;
    background: white;
    border: 1px solid #D3D6D7;
    border-radius: 0 0 4px 4px;
    border-top-width: 0;
    z-index: 1;
  }

  &-next-topic,
  &-previous-topic {
    height: 88px;
    border-top: 1px solid #d3d6d7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .title {
      font-family: 'Rubik', sans-serif;
      font-size: $s26;
      line-height: 150%;
      color: #8B9293;
      width: calc(100% - 100px);
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
    }
    .sup {
      font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
      font-size: $s14;
      color: #8B9293;
      text-transform: uppercase;
      width: calc(100% - 100px);
      height: 15px;
      margin-top: 20px;
    }
    .dp-po-icon {
      color: var(--brand-primary);
      padding: 5px 20px;
      height: 48px;
      border-right: 1px solid #8B9293;
      margin: 20px 10px 20px 0;
      order: -1;
      width: 60px;
      svg {
        font-size: 41px;
        width: 20px;
      }
    }
    &:hover {
      background-color: var(--brand-primary-l-350);
      text-decoration: none;
      .title {
        color: var(--brand-primary);
      }
    }
  }
  &-next-topic {
    .title, .sup {
      text-align: right;
      width: calc(100% - 80px);
    }
    .dp-po-icon {
      border-right: none;
      border-left: 1px solid #8b9293;
      margin: 20px 0 20px 0;
      order: 1;
      width: 40px;
    }
  }
}

// Temporary css until is properly fixed in helpcenter
.multiselect {
  position: relative;
  margin-bottom: 10px;
  cursor: default;
  background: $white;
  font-size: 16px;

  .default {
    border: 1px solid $grey;
    border-radius: 2px;
    width: 100%;
    display: block;
    background: $white;
    line-height: 32px;
    height: 32px;
    position: relative;

    span {
      padding: 0 12px;
      line-height: 32px - 1px;
      display: block;
    }

    .filter-box {
      input {
        width: 100%;
        padding: 6px 12px;
        margin: 0;
        line-height: 100%;
        border: none;
        background: transparent;
        outline: none;
        box-shadow: none;

        &:focus {
          border: none;
          background: transparent;
          outline: none;
          box-shadow: none;
        }
      }
    }

    &.expanded {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      &:hover {
        color: $brand-primary;
        border: 1px solid $grey;
        background: $white;
      }
    }

    &.collapsed {
      span {
        overflow: hidden;
        height: 25px;
      }
    }

    &:focus {
      outline: none;
      border: 1px solid $brand-primary;
    }

    i[class^='fa-caret'], i[class*=' fa-caret'], .svg-inline--fa[class*=' fa-caret'] {
      position: absolute;
      top: 9px;
      color: $grey-dark;
      right: 12px;
    }

    i[class^='fa-times'], i[class*=' fa-times'], .svg-inline--fa[class*=' fa-times'] {
      padding: 10px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      &:hover {
        color: $grey-dark;
      }
      z-index: 99;
    }
  }

  &.small .default {
    padding: 4px;
    i[class^='fa-caret'], i[class*=' fa-caret'], .svg-inline--fa[class*=' fa-caret'] {
      top: 6px;
      right: 7px;
    }
  }

  &.borderless .default {
    border: none;
    &.expanded {
      border: none;
    }
  }

  &.borderless.right .default {
    text-align: right;
    padding-right: 23px;
  }

  &.level-1 {

    display: inline-block;
    width: 100%;
    background: $white;

    .options-wrapper {
      position: absolute;
      right: 0;
      left: 0;
      z-index: 7000;
      display: block;
    }

    ul {
      padding: 0;
      list-style: none;
      width: 100%;
      border: 1px solid $grey;
      max-height: 320px;
      overflow-y: auto;
      margin: -1px 0 0 0;
      background: $white;

      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;

      a {
        display: block;
        width: 100%;
        padding: 5px 12px;
        background: $input-bg;
        color: $text-color;
        text-decoration: none;

        &:hover, &.active {
          background: darken($white, 10%);
          color: $text-color;
          .checkbox {
            color: $text-color;
            background: rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(0, 0, 0, 0.1);
          }
        }
        &.active {
          background: darken($white, 11%);
          color: $text-color;
          .checkbox {
            color: $text-color;
            background: rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(0, 0, 0, 0.1);
          }
        }
      }

      li {
        position: relative;

        &:focus, &.focused {
          outline: none;
          a {
            background: lighten(darken($white, 3%), 3%);
            color: $text-color;
            .checkbox {
              color: $text-color;
              background: rgba(0, 0, 0, 0.1);
              border: 1px solid rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }

  &.level-2 {
    @extend .level-1;
    margin-top: 10px;
    margin-left: 30px;
    padding-right: 30px;
    .options-wrapper {
      padding-right: 30px;
    }

    &:before {
      position: absolute;
      top: 0;
      left: -20px;
      display: block;
      width: 10px;
      height: 20px;
      border: 1px dotted $grey-dark;
      border-top: none;
      border-right: none;
      content: " ";
    }
  }

  &.level-3 {
    @extend .level-1;
    @extend .level-2;
    margin-left: 60px;
    padding-right: 60px;
  }

  &.level-4 {
    @extend .level-1;
    @extend .level-2;
    margin-left: 90px;
    padding-right: 90px;
  }

  &.level-5 {
    @extend .level-1;
    @extend .level-2;
    margin-left: 120px;
    padding-right: 120px;
  }

  &.level-6 {
    @extend .level-1;
    @extend .level-2;
    margin-left: 120px;
    padding-right: 120px;
  }
}
.dp-po-guides-block-content {
  font-family: $font-family-sans-serif;

  h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 10px;
    &:first-child {
      padding-top: 0;
    }
    &.anchor::before {
      content: "";
      display: block;
      height: 50px; /* fixed header height*/
      margin: -50px 0 0; /* negative fixed header height */
    }
    &.anchor a {
      margin-left: 5px;
      text-decoration: none;
      display: none;
      color: inherit;
      span {
        font-size: 12px;
        line-height: 12px;
      }
      .fa-anchor {
        color: #5995d6;
        font-size: 18px;
        cursor: pointer;
      }
    }
    &.anchor:hover a {
      display: inline;
    }
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  h4 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 12px;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  ul, ol {
    display: block;
    margin: 1em 0;
    padding-left: 40px;
  }
  a.internal_link {
    text-decoration: none;
    display: inline-block;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    padding: 1px 3px;
    color: #6e6e6e;
    &:hover {
      border: 1px solid $brand-primary;
      background-color: $light;
      color: $brand-primary;
    }
    &:before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-size: 1.20em;
      margin-right: 5px;
      display: inline-block;
      vertical-align: middle;
    }
    &.article:before,
    &.knowledgebase:before,
    &.knowledgebase_article:before {
      content: "\F022";
      font-weight: 400;
    }
    &.download:before {
      content: "\f019";
    }
    &.news:before {
      content: "\F133";
      font-weight: 400;
    }
    &.community:before {
      content: "\F164";
      font-weight: 400;
    }
    &.guide:before,
    &.topic:before {
      content: "\F02D";
    }
  }
  p {
    margin-bottom: 15px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  div.block {
    padding: 10px 15px;
    width: 100%;
    margin: 10px 0;
    border-radius: 2px;
    box-sizing: border-box;
    //&::before {
    //  font: normal normal normal 24px 'Font Awesome 5 Free';
    //  font-weight: 900;
    //  float: left;
    //  margin-right: 10px;
    //}
    //&.info {
    //  background-color: #e7f2fa;
    //  border: 1px solid #6ab0de;
    //  &::before {
    //    content: "\f05a";
    //  }
    //}
    //&.warning {
    //  background-color: #fffbb5;
    //  border: solid 1px #f6982e;
    //  &::before {
    //    content: "\f071";
    //  }
    //}
    p {
      padding-left: 35px;
    }
  }
  code.hljs {
    display: inline-block;
    padding: 0 0.5em;
    overflow-x: visible;
    border: solid 1px #e6e7e6;
    border-radius: 2px;
    margin: 0 0.5em;
  }
  pre code.hljs {
    display: block;
    padding: 0.5em;
    margin: 0;
    overflow-x: auto;
    border: solid 1px #e6e7e6;
    border-radius: 2px;
    background-color: #f8f8f8;
    position: relative;
    .code-block {
      .code-copy {
        opacity: 0;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
        color: $brand-primary;
        border: 2px solid #4696dc;
        border-radius: 20px;
        padding: 0 8px;
        &.copied {
          color: $grey-lighter;
          border-color: $grey-lighter;
        }
      }
    }
    &:hover .code-copy,
    .code-copy.copied {
      opacity: 1;
      transition: opacity .1s ease-in-out;
      transition-delay: 0.5s;
    }
  }
  blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
  }

  $table-radius: 2px;

  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 98%;
    margin-bottom: 12px;
    thead {
      th {
        border: solid #e6e7e6;
        background-color: #f8f8f8;
        border-width: 1px 0 2px 1px;
        padding: 5px;
      }
      tr:first-child th:first-child {
        border-left-width: 1px;
        border-top-left-radius: $table-radius;
      }
      tr:first-child th:last-child {
        border-right-width: 1px;
        border-top-right-radius: $table-radius;
      }
    }
    tr {
      border: solid 1px #e6e7e6;
      td {
        border: solid #e6e7e6;
        border-width: 0 0 1px 1px;
        color: #333;
        padding: 5px;
      }
      td:first-child {
        border-left-width: 1px;
      }
      td:last-child {
        border-right-width: 1px;
      }
      &:nth-child(2n) td {
        background-color: #f8f8f8;
      }
    }
    tr:last-child {
      td {
        border: solid #e6e7e6;
        border-width: 0 0 2px 1px;
      }
      td:first-child {
        border-left-width: 1px;
        border-bottom-left-radius: $table-radius;
      }
      td:last-child {
        border-right-width: 1px;
        border-bottom-right-radius: $table-radius;
      }
    }
  }
  .tabular.menu {
    .item {
      padding: 10px;
      color: #babbba;
      display: inline-block;
      text-transform: uppercase;
      cursor: pointer;
      &.active {
        color: inherit;
        border-bottom: solid 2px lighten($brand-primary, 25%);
      }
    }
  }
  .tab {
    margin-bottom: 1rem;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    display: none;
    padding: 24px;
    &.active {
      display: block;
    }
    pre code {
      background-color: #FFF;
      margin-top: 0;
    }
  }
  .section-header {
    h1 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .publication_date,
    .last_update_date {
      font-size: 12px;
      label {
        color: #8b8b8b;
      }
      margin-right: 20px;
    }
    .sub-note {
      background-color: #E8E8E8;
      padding: 4px;
      font-size: 9pt;
      margin-top: 5px;
    }
  }
  .topic-list {
    width: 216px;
    min-height: 300px;
    border-right: 1px solid #efefef;
    border-collapse: collapse;
    margin-right: -1px;
    display: inline-block;
    vertical-align: top;
    overflow-y: scroll;
    &.fixed {
      position: fixed;
    }
    & > .guide {
      font-size: 13px;
      color: #333;
    }
    & > ul,
    & .dp-react-widget > ul {
      margin: 0;
      padding: 0;
      & > li.topic-item {
        list-style: none;
        & > a {
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none;
          color: lighten($brand-primary, 25%);
          margin-bottom: 5px;
        }
        & a {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          padding-right: 35px;
          width: 100%;
          position: relative;
        }
        & > ul {
          margin: 0 0 12px;
          padding: 0;
          li.topic-item {
            list-style: none;
            clear: both;
            margin-top: -7px;
            a {
              font-size: 12px;
              height: 23px;
              text-decoration: none;
              color: #8b8b8b;
            }
            ul {
              margin: 0;
              padding: 0 0 0 15px;

            }
          }
        }
      }
    }
    li.topic-item > a.active {
      background-color: rgba(var(--brand-primary-rgb), 0.08);
      color: var(--brand-primary-l-250);
      height: 23px;
      border-right: 2px solid var(--brand-primary-l-250);
      margin-right: -1px;
      line-height: 23px;
    }
    li.topic-item a .fa {
      margin-right: -12px;
      line-height: 24px;
      position: absolute;
      right: 20px;
    }
    ul.hidden {
      display: none;
    }
    .current-guide {
      padding-right: 10px;
      .guide-pdf {
        display: inline-block;
        padding: 0 0.5em;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        background: #fafafa;
        color: #333;
        text-decoration: none;
        line-height: 2.28571;
        white-space: nowrap;
        i {
          position: relative;
          top: -1px;
          margin-right: 2px;
          margin-left: 6px;
          color: #7d7d7d;
          vertical-align: middle;
          font-size: 13px;
        }
      }
    }
  }
  div.topic {
    width: 664px;
    border-left: 1px solid #efefef;
    padding-left: 24px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: -3px;
    img {
      max-width: 600px;
    }
    .loading {
      display: none;
      position: absolute;
      top: 0!important;
      left: 0!important;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,.85);
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 200;
    }
    .loading.active {
      display: block;
    }
    .topic-content {
      padding-right: 24px;
    }
  }
  [data-reactroot] div.topic {
    margin-left: 0;
  }
  .topic-list.fixed + div.topic {
    margin-left: 215px;
  }
  .content-summary {
    width: 126px;
    display: inline-block;
    vertical-align: top;
    .topic-summary {
      border-left: 1px solid #efefef;
      padding-left: 18px;
      top: 20px;
      width: 126px;
      max-width: 126px;
      &.fixed {
        position: fixed;
      }
      h2 {
        color: $brand-primary;
        text-transform: uppercase;
        font-size: 14px;
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: #8b8b8b;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            width: 100%;
            font-size: 12px;
            &.active {
              border-left: 2px solid lighten($brand-primary, 25%);
              margin-left: -25px;
              padding-left: 23px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1070px) {
    .content-summary {
      visibility: hidden;
    }
    div.topic {
      width: calc(100% - 216px);
    }
  }
}
.dp-po-guides-subtopics {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  border-top: 1px solid $grey-light;
  padding: 14px 10px 20px;
  h3 {
    text-transform: uppercase;
    font-size: $s14;
    font-family: Lato, sans-serif;
    width: 100%;
    padding: 0 10px 8px;
    color: #8B9293;
  }
}
.dp-po-guides-subtopic {
  $self: '.dp-po-guides-subtopic';
  flex-grow: 0;
  background-color: white;
  border-radius: 3px 3px 0 0;
  border-bottom: 2px solid #d3d6d7;
  padding: 15px 18px;
  margin: 0 10px 10px;
  min-width: 100px;
  flex-basis: calc(50% - 20px);
  &:hover {
    text-decoration: none;
    border-bottom-color: var(--brand-primary);
    #{$self}-title {
      color: var(--brand-primary);
    }
  }

  &-title {
    font-family: Rubik, sans-serif;
    font-size: $s17;
    color: #4C4F50;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    display: inline-block;
  }

  .dp-po-post-avatars {
    display: inline-block;;
    height: 50px;
    padding-right: 13px;
    .dp-po-post-avatars-item,
    .dp-po-post-avatars-link {
      border-color: white;
    }
  }

  &-dates {
    display: inline-block;
    font-size: $s12;
    color: #8b9293;
    line-height: 150%;
    white-space: nowrap;
    max-width: calc(100% - 100px);
    span.title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    strong {
      color: #4C4F50;
    }
  }
}
