.dp-po-guides-wrap {
  max-width: 1560px;
  padding-left: 15px;
}

.dp-po-guides-contents {
  background: $white;
  border: 1px solid $grey-light;
  border-radius: 4px;
  margin: 0 0 25px;

  &-title {
    @include typo($s17, 500, 'head');
    color: $grey-dark;
    border-bottom: 1px solid $grey-light;
    padding: 15px 20px;
    margin: 0;
  }

  &-list {
    margin: 0;
    padding: 20px;
  }

  &-item {
    display: block;
    margin: 0 0 7px;

    &:last-child {
      margin: 0;
    }
  }

  &-link {
    color: $grey-darkest;
    display: flex;
    align-items: center;
    @include typo($s14, 600, 'body');
    line-height: 1.5;

    &:hover {
      color: $brand-primary;
    }

    &.active {
      color: $brand-primary;

      .dp-po-icon {
        opacity: 1;
      }
    }

    .dp-po-icon {
      font-size: 20px;
      color: $brand-primary;
      margin-right: 10px;
      opacity: 0;
    }
  }
}

.dp-po-guides-meta {
  background: $white;
  border: 1px solid $grey-light;
  border-radius: 4px;
  padding: 20px;

  .dp-po-post-avatars {
    margin-bottom: 1em;

    &-item,
    &-link {
      border-color: $white;
    }
  }

  p {
    color: $grey-dark;
    font-size: $s16;

    &:last-child {
      margin: 0;
    }
  }
}

.dp-po-guides-section {
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
}

.dp-po-guides-block {


  &-article {
    &:not(:first-child) {
      margin-top: -2px;
    }

    &-left {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      border: 1px solid $grey-light;
      background: $white;
      padding-bottom: 20px;
    }

    &-right {}
  }

  &-header {
    background: rgba(239, 240, 240, 0.3);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $grey-light;
  }

  &-title {
    font-size: $s28;
    margin: 0;

    .dp-po-icon {
      font-size: 20px;
    }
  }

  &-chapter {
    margin: 0;
    @include typo($s14, 600, 'body');
    color: $grey-dark;
    display: inline-flex;
    align-items: center;

    .dp-po-icon {
      color: $brand-primary;
      font-size: 20px;
      margin-right: 5px;
      line-height: 0%;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &-extra {
    position: relative;

    &-list {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
    }

    &-item {
      list-style: none;
      margin-left: 10px;
    }

    &-link {
      border-radius: 50%;
      border: 1px solid $grey-light;
      color: $grey-dark;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      display: inline-flex;
      background: $white;

      &:hover {
        border-color: $brand-primary;
      }
    }
  }

  &-content {
    padding: 20px;
  }
}
