.dp-po-community-channel-tags {
  &-list {
    padding: 0;
    margin: 0 0 10px;
  }

  &-item {
    display: inline-block;
    margin: 0 10px 10px 0;
    vertical-align: middle;
  }

  &-link {
    display: inline-flex;
    align-items: center;
    padding: 2px 20px;
    color: $brand-primary;
    text-decoration: none;
    background: $white;
    border: 1px solid $grey-light;
    border-radius: 15px;
    @include typo($s19, 400, "head");

    &:hover {
      color: $white;
      text-decoration: none;
      background: $brand-primary;
      border-color: $brand-primary;
    }
  }

  &-count {
    @include typo($s12, 600, "body");
    margin-left: 5px;
  }
}

.dp-po-homepage {
  &-navigation {
    margin-bottom: 70px;
  }

  &-welcome-box {
    margin-bottom: 52px;
    h1 {
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: 300;
      line-height: 150%;
    }
    p {
      margin-bottom: 0;
      font-size: 18px;
    }
  }

  &-news {
    margin-bottom: 50px;

    .dp-po-block {
      padding: 45px 30px;
    }
  }

  &-kb {
    margin-bottom: 50px;

    .dp-po-block {
      padding: 45px 30px;
    }
  }

  &-community {
    margin-bottom: 50px;
  }

  .dp-po-block {
    border-radius: 4px;
  }

  &-guides {
    .dp-po-title {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 18px;
      .dp-po-title-link {
        .dp-po-title-svg {
          margin-right: 19px;
        }
      }
    }
    &-all-guides {
      align-self: flex-end;
      margin-bottom: 5px;
      color: $brand-primary;
      white-space: nowrap;
      background-color: $white;
      border-color: $grey-light;
      .dp-po-icon {
        margin-left: 10px;
        font-size: 21px;
      }
      &:hover {
        color: #fff;
        background: $brand-primary;
      }
    }
    .dp-po-guides {
      padding-top: 0;
    }
  }
}

.dp-po-mobile-community-tags {
  display: none;
}
