.dp-po-contents {
  margin: 0 0 30px;

  &-title {
    @include typo($s19, 500);
    padding: 0 0 15px;
    margin: 0 0 15px;
    color: $grey-dark;
    border-bottom: 1px solid $grey;
  }

  &-list {
    padding: 0;
    margin: 0;
  }

  &-item {
    margin: 0 0 22px;
    list-style: none;

    &:last-child {
      margin: 0;
    }
  }

  &-link {
    position: relative;
    display: block;
    padding: 0 0 0 20px;
    font-size: $h5-font-size;
    color: $grey-dark;

    &:hover {
      color: $grey-dark;
    }

    &::after {
      position: absolute;
      top: 6px;
      left: 0;
      width: 0;
      height: 0;
      content: "";
      border-color: transparent transparent transparent $brand-primary;
      border-style: solid;
      border-width: 8px 0 8px 8px;
      opacity: 0;
    }

    &.active {
      font-weight: 700;

      &::after {
        opacity: 1;

      }
    }
  }
}

.dp-po-kbfigure {
  margin-bottom: 1em;
  border: 1px solid $grey;

  &-image {
    padding: 10px;
    outline: 1px solid $grey-light;
  }

  &-figcaption {
    padding: 5px 10px;
    font-size: $p4-font-size;
    background: $grey-lightest;
  }
}

.dp-po-post-content {
  .fr-img-caption .fr-img-wrap {
    display: block;
    margin-bottom: 1em;
    border: 1px solid $grey;

    img {
      max-width: calc(100% - 20px);
      margin: 10px;
      outline: 1px solid $grey-light;
    }

    .fr-inner {
      display: block;
      padding: 5px 10px;
      font-size: $p4-font-size;
      background: $grey-lightest;
    }
  }
  .fr-view img.fr-dib {
    display: block;
    float: none;
    margin: 5px auto;
    vertical-align: top;
  }
}

.dp-po-kb-attachments {
  padding: 20px;
  margin: 0;
  background: $grey-lightest;
  border-radius: 4px;

  &-title {
    margin: 0 0 15px;
    color: $grey-dark;
    @include typo($s15);
  }

  &-list {
    padding: 0;
    margin: 0 !important;
  }

  &-item {
    margin-top: 12px;
    list-style: none;
  }

  &-link {
    display: inline-flex;
    align-items: center;
    color: $brand-primary;

    &:hover {
      color: $brand-primary;
    }

    .dp-po-icon {
      margin: 0 10px 0 0;
      font-size: 26px;
      color: $text-color;
    }

    span {
      margin-left: 5px;
      font-size: 14px;
    }

    .fa-arrow-to-bottom {
      margin-left: 10px;
      color: $brand-primary;
      vertical-align: initial;
    }
  }
}

.dp-po-tab {
  padding: 0;
  margin: 0 0 20px;

  &-item {
    position: relative;
    display: inline-block;
    margin: 0 40px 0 0;

    &::after {
      position: absolute;
      top: 0;
      right: -21px;
      width: 2px;
      height: 100%;
      content: "";
      background: $grey-light;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  &-link {
    color: $grey-dark;
    @include typo($s19, 400, "head");

    &.active {
      color: $text-color;
    }

    &:hover {
      color: $text-color;
      text-decoration: none;
    }
  }
}

.dp-po-divider {
  display: inline-block;

  &-text {
    position: relative;
    margin-top: 43px;
    font-size: 15px;
    color: $text-color;

    &::before,
    &::after {
      position: absolute;
      top: -50px;
      left: 6px;
      width: 2px;
      height: 43px;
      content: "";
      background: $grey-light;
    }

    &::after {
      top: auto;
      bottom: -50px;
    }
  }
}

.dp-po-social-login {
  display: flex;
  align-items: flex-start;

  .btn {
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .dp-po-oauth {
    margin: 0 30px;
  }
}
