.dp-po-kb-category {
  margin-bottom: 40px;

  &-list {
    margin: 0;
    padding: 0;
  }

  &-item {
    display: block;
    margin-bottom: 15px;
    position: relative;
    padding-left: 15px;

    &:last-child {
      //margin: 0;
    }

    &:before {
      content: "\25A0";
      color: $grey-light;
      font-weight: 600;
      display: inline-block;
      width: 4px;
      height: 4px;
      position: absolute;
      line-height: 0;
      transform: scale(0.7);
      top: 10px;
      left: 0;
    }
  }

  &-link {
    color: $grey-darkest;
    font-size: $h3-font-size;
    font-family: $headings-font-family;
    display: inline-flex;
    align-items: center;

    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }

    .badge {
      margin-left: 10px;
    }

    &-draft {
      color: $grey-dark;
    }
  }

  &-all {
    position: relative;
    display: flex;
    justify-content: flex-end;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: $grey-light;
      left: 0;
      top: 20px;
    }
  }

  &-alllink {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: $button1-font-size;
    color: $brand-primary;
    background: $white;
    padding: 10px;
    z-index: 1;

    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }

    .dp-po-icon {
      font-size: 19px;
      margin-left: 10px;
      line-height: 0;
    }
  }
}

.dp-po-category-title {
  display: flex;
  align-items: center;
  margin: 0 0 15px;

  .dp-po-icon {
    background: $grey-lightest;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    font-size: 26px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 20px 0 0;
  }

  &-text {
    font-family: $headings-font-family;
    font-size: $h2-font-size;
    color: $brand-primary;
  }
}

.dp-po-article {
  &-list {
    margin: 0;
    padding: 0;
  }

  &-item {
    display: block;
    border-bottom: 1px solid $grey-light;
    padding: 20px 0;

    &:last-child {
      border: none;
      padding-bottom: 0;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  &-linktitle {
    font-family: $headings-font-family;
    font-size: $h3-font-size;
    color: $grey-darkest;

    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }

  &-extras {
    display: flex;
    align-items: center;
    margin: 10px 0 0;
  }

  &-linkauthor {
    color: $grey-darkest;

    strong {
      font-weight: 400;
    }

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  &-date {
    margin: 0 20px;

    p {
      margin: 0;
      color: $grey;

      span {
        color: $grey-darkest;
      }
    }


  }

  &-comments {
    display: flex;
    align-items: center;

    .dp-po-icon {
      color: $grey-dark;
      margin-right: 7px;
    }
  }

  &-time {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    justify-content: flex-end;

    .dp-po-icon {
      margin-right: 7px;
      color: $brand-primary;
    }
  }
}
