.dp-po-article {
  &-list {
    margin: 0;
    padding: 0;
  }

  &-item {
    display: block;
    border-bottom: 1px solid $grey-light;
    padding: 20px 0;

    &:last-child {
      border: none;
      padding-bottom: 0;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  &-linktitle {
    @include typo($s19, 400, 'head');
    color: $grey-darkest;
    display: flex;
    align-items: center;

    .badge {
      margin: 0 0 0 10px;
    }

    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }

  &-extras {
    display: flex;
    align-items: center;
    margin: 10px 0 0;
  }

  &-linkauthor {
    color: $grey-darkest;

    strong {
      font-weight: 400;
    }

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  &-date {
    margin: 0 20px;

    p {
      margin: 0;
      color: $grey;

      span {
        color: $grey-darkest;
      }
    }


  }

  &-comments {
    display: flex;
    align-items: center;

    .dp-po-icon {
      color: $grey-dark;
      margin-right: 7px;
      top: 3px;
      font-size: 17px;
      position: relative;
    }
  }

  &-time {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    justify-content: flex-end;

    .dp-po-icon {
      margin-right: 7px;
      color: $brand-primary;
    }
  }
}
