.dp-po-contents {
  $self: &;
  margin: 0 0 20px;

  &-title {
    font-family: Rubik;
    font-weight: 500;
    font-size: 19px;
    color: $grey-dark;
    border-bottom: 1px solid $grey;
    padding: 0 0 15px;
    margin: 0 0 15px;
  }

  &-list {
    margin: 0;
    padding: 0;

  }

  &-item {
    list-style: none;
    margin: 0 0 25px;

    &:last-child {
      margin: 0;
    }
  }

  &-link {
    font-size: 16px;
    color: $grey-dark;
    display: block;
    padding: 0 0 0 20px;
    position: relative;

    &:hover {
      color: $grey-dark;
    }

    &:after {
      border-color: transparent transparent transparent $brand-primary;
      border-style: solid;
      border-width: 8px 0 8px 8px;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      top: 6px;
      width: 0;
      opacity: 0;
    }

    &.active {
      font-weight: 700;

      &:after {
        opacity: 1;
        ;
      }
    }
  }
}

.dp-po-related-content {
  &-list {
    margin: 0;
    padding: 0;
  }

  &-item {
    list-style: none;
    margin: 0 0 15px;

    &:last-child {
      margin: 0;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    font-size: $p2-font-size;

    .fal {
      width: 30px;
      margin-right: 10px;
      font-size: 26px;
      color: $grey;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
