.dp-po-article {
  &-list {
    padding: 0;
    margin: 0;
  }

  &-item {
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid $grey-light;

    &:last-child {
      padding-bottom: 0;
      border: none;
    }

    &:first-child {
      padding-top: 0;
    }

    h2 {
      line-height: 1.25;
      border-bottom: 0;
    }
  }

  &-linktitle {
    @include typo($s19, 400, "head");
    display: flex;
    align-items: center;
    color: $text-color;

    .badge {
      margin: 0 0 0 10px;
    }

    &:hover {
      color: $brand-primary;
    }
  }

  &-extras {
    display: flex;
    align-items: center;
    margin: 10px 0 0;
  }

  &-linkauthor {
    color: $text-color;

    strong {
      font-weight: 400;
    }

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  &-date {
    margin: 0 20px;

    p {
      margin: 0;
      color: $grey;

      span {
        color: $text-color;
      }
    }


  }

  &-comments {
    display: flex;
    align-items: center;

    .dp-po-icon {
      position: relative;
      top: 3px;
      margin-right: 7px;
      font-size: 17px;
      color: $grey-dark;
    }
  }

  &-time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 600;

    .dp-po-icon {
      margin-right: 7px;
      color: $brand-primary;
    }
  }
}
