.dp-po-member-search {
  position: relative;
  width: 100%;

  input[type="text"] {
    width: 100%;
    background: $white;
    border: 1px solid $grey-light;
    border-radius: 4px;
    padding: 10px 50px;
    font-size: $p2-font-size;
    color: $grey-dark;
    outline: none;
  }

  button[type="submit"] {
    position: absolute;
    border: none;
    height: 32px;
    left: 5px;
    position: absolute;
    top: calc(50% - 16px);
    width: 32px;
    font-size: 20px;
    padding: 0;
    color: $brand-primary;
  }
}

.dp-po-table-member {
  $self: '.dp-po-table';

  #{$self}-cell {
    &-large {
      width: 25%;
    }

    &-small {
      width: 5%;
    }
  }

  #{$self}-message {
    .dp-po-icon {
      color: $grey-dark;
      font-size: 20px;

      &:hover {
        color: $brand-primary;
      }
    }
  }
  &:not(.dp-po-table-col5) {
    display: table;
    #{$self}-row {
      display: table-row;
    }
    #{$self}-cell {
      display: table-cell;
      &:first-child {
        padding-left: 30px;
      }
      &:last-child {
        padding-right: 30px;
      }
      &-small {
        width: 5%;
      }
    }
  }
}
