.dp-po-news-recent {
  $self: '.dp-po-news-recent';

  &-list {
    margin: 0 -20px;
    padding: 0;
  }

  &-item {
    display: block;
    list-style: none;
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child,
    &:last-child {
      #{$self}-link {
        color: $grey-light;

        &-date {
          border-color: $grey-light;
          background: $grey-lightest;
          color: $grey;
        }
      }
    }

    &.active {
      #{$self}-link {
        color: $text-color;

        &-date {
          background: $white;
          color: $text-color;
        }
      }
    }
  }

  &-link {
    display: block;
    align-items: center;
    white-space: nowrap;
    color: $grey;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 20px;
    @include typo($s15, 700);

    &-date {
      background: $grey-lighter;
      border: 1px solid $grey-light;
      margin: 0 10px 0 0;
      border-radius: 4px;
      padding: 3px;
      color: $grey-dark;
      display: inline-block;
      width: 60px;
      text-align: center;
      @include typo($s14, 600);
    }

    &:hover {
      background: $info-light;
      text-decoration: none;
      color: $grey-dark;
    }
  }
}
