.dp-po-news-recent {
  $self: ".dp-po-news-recent";

  &-list {
    padding: 0;
    margin: 0 -20px;
  }

  &-item {
    display: block;
    margin-bottom: 7px;
    list-style: none;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child,
    &:last-child {
      #{$self}-link {
        color: $grey-light;

        &-date {
          color: $grey;
          background: $grey-lightest;
          border-color: $grey-light;
        }
      }
    }

    &.active {
      #{$self}-link {
        color: $text-color;

        &-date {
          color: $text-color;
          background: $white;
        }
      }
    }
  }

  &-link {
    display: block;
    align-items: center;
    padding: 3px 20px;
    overflow: hidden;
    color: $grey;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include typo($s15, 700);

    &-date {
      display: inline-block;
      width: 60px;
      padding: 3px;
      margin: 0 10px 0 0;
      color: $grey-dark;
      text-align: center;
      text-transform: uppercase;
      background: $grey-lighter;
      border: 1px solid $grey-light;
      border-radius: 4px;
      @include typo($s14, 600);
    }

    &:hover {
      color: $grey-dark;
      text-decoration: none;
      background: $info-light;
    }
  }
}
