.manage-emails-link {
  display: inline-block;
  float: right;
  font-size: 13px;

  a {
    color: $grey-darkest;
  }
}
.dp-po-ticket-create-suggestions {
  $self: ".dp-po-ticket-create-suggestions";

  padding: 15px;
  border-radius: 4px;
  &-title {
    font-size: 18px;
    color: #8b9293;
  }
  &-image {
    margin-right: 10px;
  }
  header {
    padding: 0 15px 15px;
    margin: 0 -15px;
    border-bottom: 1px solid $grey-lighter;
  }
  &-list {
    padding: 15px 5px 0;
    padding-inline-start: 0;
    line-height: 150%;
    list-style: none;
  }
  &-link:hover {
    color: $brand-primary;
    text-decoration: none;
    #{$self}-text {
      color: $brand-primary;
      text-decoration: underline;
    }
  }
  &-text {
    margin-left: 5px;
    color: $text-color;
    vertical-align: -2px;
  }
  &-more {
    display: flex;
    align-items: flex-end;
    width: 100%;
    a {
      margin-left: auto;
      font-size: 14px;
    }
  }
}
