.dp-po-table-ticket {
  $self: '.dp-po-table';
  overflow-x: auto;
  min-width: 100%;

  #{$self}-row {
    display: table-row;
    min-width: calc(100% + 60px);
    &:hover {
      #{$self}-cell-rating {
        display: none;
      }

      #{$self}-cell-rating-link {
        display: inline-block;
      }
    }
  }

  #{$self}-cell {
    display: table-cell;
    width: auto;
    max-width: 300px;
    min-width: 100px;
    text-overflow: ellipsis;
    &-indicator {
      width: 22px;
      padding-left: 25px;
      min-width: unset;

      .dp-po-icon {
        font-size: 12px;
      }
    }

    &-ratingwrap {
      padding: 0;
    }

    &-rating {
      display: inline-flex;
      align-items: center;

      &-img {
        border-radius: 50%;
        width: 26px;
        height: 26px;
      }

      .dp-po-icon {

        font-size: 20px;
        position: relative;
        left: -5px;
        background: $white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        line-height: 0;

        .fa-smile {
          color: $success;
        }

        .fa-frown {
          color: $danger;
        }

        .fa-meh {
          color: $neutral;
        }
      }

      &-link {
        display: none;
        border-radius: 4px;
        border: 1px solid $brand-primary;
        font-size: $p2-font-size;
        font-weight: 700;
        color: $brand-primary;
        padding: 5px 10px;

        &:hover {
          text-decoration: none;
          background: $brand-primary;
          color: $white;
        }
      }
    }
  }

  &-danger {
    #{$self}-cell-indicator {
      color: $danger !important;
    }
  }

  &-success {
    #{$self}-cell-indicator {
      color: $success !important;
    }
  }

  &-neutral {
    #{$self}-cell-indicator {
      color: $neutral !important;
    }
  }

  &-default {
    #{$self}-cell-indicator {
      color: $grey !important;
    }
  }

  .dp-po-avatar {
    display: inline-block;
  }
}

.dp-po-ticketbadge {
  $self: '.dp-po-ticketbadge';
  font-size: $h3-font-size;
  font-family: $headings-font-family;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $danger-light;
  border-radius: 20px;
  padding: 6px 25px 6px 6px;

  &-number {
    font-size: $h6-font-size;
    font-weight: 600;
    color: $white;
    font-family: $headings-font-family;
    background: $danger;
    border-radius: 50%;
    min-width: 28px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
    padding: 0 3px;
  }

  &-danger {
    background: $danger-light;

    #{$self}-number {
      background: $danger;
    }
  }

  &-success {
    background: $success-light;

    #{$self}-number {
      background: $success;
    }
  }

  &-neutral {
    background: $neutral-light;

    #{$self}-number {
      background: $neutral;
    }
  }

  &-default {
    background: $grey-light;

    #{$self}-number {
      background: $grey;
    }
  }
}

.dp-po-ticket-search {
  position: relative;
  width: 100%;

  input[type="text"] {
    width: 100%;
    background: $white;
    border: 1px solid $grey-light;
    border-radius: 4px;
    padding: 10px 50px;
    font-size: $p2-font-size;
    color: $grey-dark;
    outline: none;
  }

  button[type="submit"] {
    position: absolute;
    border: none;
    height: 32px;
    left: 5px;
    position: absolute;
    top: calc(50% - 16px);
    width: 32px;
    font-size: 20px;
    padding: 0;
    color: $brand-primary;
    background-color: white;
  }

  &-no-results {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
  }
}

.dp-po-ticket-sidebar {
  border: 1px solid $grey-light;
  border-radius: 4px;
  background: $white;
  padding: 20px;
}

.dp-po-ticket-filter {
  $self: '.dp-po-ticket-filter';

  &-list {
    margin: 0;
    padding: 0;
  }

  &-item {
    display: block;
    position: relative;

    #{$self}-list {
      margin: 0 0 20px 30px;

      &:last-child {
        .form-group {
          margin-bottom: 12px;
        }
      }
    }

    .form-group {
      margin-bottom: 12px;
    }
  }

  &-title {
    @include typo($s15, 400, 'body');
    color: $grey-dark;
    margin: 0;
  }

  &-clearall {
    @include typo($s15, 400, 'body');
    color: $brand-primary;
    text-decoration: underline;
  }

  &-collapse {
    position: absolute;
    right: 0;
    top: -2px;
    font-size: 24px;

    &.collapsed {
      transform: rotate(180deg);
    }
  }
}

.dp-po-ticket-pages {
  $self: '.dp-po-ticket-pages';

  &-list {
    margin: 0 0 25px;
    padding: 0 0 20px;
    border-bottom: 1px solid $grey-light;

  }

  &-item {
    list-style: none;
    display: block;
    margin-bottom: 20px;

    &:last-child {
      margin: 0;
    }

    &.active {
      #{$self}-link {
        color: $brand-primary;
      }
    }
  }

  &-link {
    display: flex;
    align-items: flex-start;
    color: $grey-dark;
    @include typo($s19, 400, 'head');

    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }

    .dp-po-icon {
      margin-right: 15px;
      width: 26px;
    }
  }
}
.dp-po-tickets-home {
  .dp-po-pagination {
    margin-bottom: 25px;
  }
  .dp-po-pagination:last-child {
    margin-bottom: 0;
  }
}
