.dp-po-tickets-approvals {
  $self: ".dp-po-table";

  #{$self}-cell {
    min-height: 61px;

    &-large {
      width: 38%;
    }

    &-medium-2 {
      width: 24%;
    }

    &-medium {
      width: 15%;
    }

    &-small {
      width: 8%;
    }

    &-initials {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 25px;
      color: $grey;
      text-align: center;
      border: 2px solid $grey;
      border-radius: 15px;

      &-danger {
        color: $danger !important;
        border-color: $danger !important;
      }

      &-success {
        color: $success !important;
        border-color: $success !important;
      }
    }

    &-initials-count {
      margin-left: 5px;
      color: $grey;
    }
  }

  #{$self}-row {
    &.with-vote-buttons {
      .dp-po-show-on-hover {
        display: none;
      }

      &:hover {
        #{$self}-cell {
          &-large {
            width: 68%;
          }
        }

        .dp-po-show-on-hover {
          display: block;
        }
        .dp-po-hide-on-hover {
          display: none;
        }
      }
    }
  }

  .dp-po-approve-button {
    img {
      &.dp-po-hovered {
        display: none;
      }
    }

    &:hover {
      img {
        &.dp-po-normal {
          display: none;
        }
        &.dp-po-hovered {
          display: inline-block;
        }
      }
    }

    &:first-child {
      padding-right: 20px;
      border-right: 1px solid $grey-light;
    }
    &:last-child {
      padding-left: 20px;
    }
  }
}
