.dp-po-ticket-approval-view {
  $self: ".dp-po-ticket-approval";

  #{$self}-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid $grey-light;

    &-title {
      display: flex;
      align-items: flex-end;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-status {
      padding: 5px 20px;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 5px;

      &-danger {
        color: $white;
        background: $danger;
      }

      &-success {
        color: $white;
        background: $success;
      }

      &-neutral {
        color: $white;
        background: $neutral;
      }

      &-default {
        color: $white;
        background: $grey-dark;
      }
    }
  }

  #{$self}-response {
    padding: 15px 20px;
    margin-bottom: 10px;
    background: $grey-lighter;
    border-left: 2px solid $grey-dark;

    &-danger {
      background: $danger-light;
      border-color: $danger;
    }

    &-success {
      background: $success-light;
      border-color: $success;
    }

    &-name {
      font-weight: 700;
    }

    &-date {
      font-size: 13px;
      font-weight: 800;
    }

    &-message {
      font-size: 17px;
    }
  }

  #{$self}-description {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
  }

  #{$self}-info {
    padding: 15px;
    background-color: $grey-lighter;

    &-item {
      padding: 10px 0;

      &-label {
        margin-right: 5px;
      }

      &-person-name {
        font-weight: 700;
      }

      &-response-count {
        font-weight: 700;

        &-success {
          color: $success;
        }

        &-danger {
          color: $danger;
        }
      }

      &-comma-list {
        &::after {
          content: ", ";
        }

        &:last-child::after {
          content: "";
        }
      }

      &-list {
        display: block;
        padding: 5px 0;

        &:first-child {
          padding-top: 15px;
        }
      }

      &-ticket-link {
        font-weight: 700;
        color: var(--text-color);
        text-decoration: underline;
      }
    }

    &-criteria {
      padding: 15px 0;
      margin-top: 20px;
      font-size: 16px;
      border-top: 1px solid $grey-light;

      &-item {
        font-size: 15px;
        font-weight: 700;

        &-success {
          color: $success;
        }

        &-danger {
          color: $danger;
        }
      }

      &-delimeter {
        padding: 0 3px;
      }
    }
  }

  #{$self}-form {
    &-actions {
      display: flex;
      margin-top: 20px;

      button {
        margin-right: 20px;
      }
    }

    &-success {
      background-color: $success;
      border: 0;
    }

    &-danger {
      background-color: $danger;
      border: 0;
    }
  }
}
