.dp-po-ticket-block {
  $self: '.dp-po-ticket-block';
  background: $white;
  border: 1px solid $grey-light;
  border-radius: 4px;
  padding: 30px;
  position: relative;
  margin-bottom: 20px;

  &-cc {
    margin-top: 15px;

    &-list {
      margin: 0;
      padding: 0;
    }

    &-item {
      display: inline-block;
      vertical-align: middle;
      font-size: $s15;
      color: $grey-dark;
      line-height: 1;
      margin-right: 20px;
      position: relative;

      &:first-child {
        border-radius: 2px;
        border: 1px solid $grey-light;
        background: $grey-lightest;
        color: $text-color;
        padding: 2px 5px;
        font-size: 10px;
        font-weight: 600;
        margin-right: 10px;

        &:after {
          display: none;
        }
      }

      .remove-cc-from-reply {
        margin-left: 10px;
        color: $grey;
      }

      &:after {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        right: -9px;
        top: 0;
        background: $grey-dark;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  &-content{
    overflow: hidden;
    word-break: break-word;
  }

  &-content,
  &-like,
  &-cc,
  &-feedback {
    margin-left: 40px;
  }

  &-content img {
    max-width: 100%;
  }

  &-content table {
    table-layout: fixed;
    max-width: 100%;
  }

  &-content pre {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #F7F7F7;
    max-height: 340px;
    overflow-y: auto;
    padding: 6px;
    color: #303030;
    white-space: normal;
  }

  &-content ol > li > ol {
    list-style-type: upper-alpha;
  }
  &-content ol > li > ol > li > ol {
    list-style-type: lower-roman;
  }
  &-content ol > li > ol > li > ol > li > ol {
    list-style-type: lower-alpha;
  }

  &-msg {
    margin: 15px 0 0;
    line-height: 1.5;
  }

  &-rate-links {
    font-size: 14px;
    color: var(--text-color-lighter);

    a {
      font-size: 14px;
      color: #a9b0b0;
      border: 1px solid #d3d6d7;
      display: inline-block;
      padding: 2px 7px;
      border-radius: 2px;
    }
  }

  &-showmore {
    color: $grey;
    font-size: 14px;

    .dp-po-icon {
      color: $brand-primary;
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
    }

    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }

  &-likebtn {
    color: $grey;
    font-size: $s15;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    margin: 15px 0 0;

    .dp-po-icon {
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
      font-size: 24px;
    }

    &:hover {
      text-decoration: none;
      color: $success;
    }

    &.active {
      color: $success;
    }
  }

  .badge-purple {
    position: absolute;
    top: -13px;
    left: 30px;
    background: $purple;
    color: $white;
  }

  .dp-po-time {
    position: absolute;
    top: 37px;
    right: 30px;
  }

  &-their {
    border-color: $purple;
  }

  &-mine {
    border-left: 4px solid $brand-primary;

    .badge {
      display: none;
    }

    .dp-po-avatar {
      color: $grey-dark;
    }
  }

  &-timeline {
    display: flex;
    align-items: center;
  }

  &-status {
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
    color: $grey-dark;

    .badge {
      margin: 0 0 0 10px;
      background: $success;
      color: $white;

      .dp-po-icon {
        margin-right: 5px;
      }
    }
  }

  &-rate {
    &-feedback {
      display: flex;
      justify-content: space-between;
    }
    .dp-po-time {
      top: 100px;
    }
    .dp-po-avatar {
      color: $grey-dark;
    }
  }

  &-header {
    background: $grey-lightest;
    margin: -30px -30px 20px;
    padding: 20px 30px;
    @include typo($s19, 400, 'head');
    display: flex;
    align-items: center;

    .dp-po-icon {
      margin-right: 10px;
      font-size: 28px;
      color: $brand-primary;
      width: 31.5px;
      height: 28px;
    }
  }

  &-feedback {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: $grey-dark;

    .dp-po-avatar {
      margin-right: 10px;
      color: $text-color;
    }
  }

  &-rating {
    margin-left: 5px;
    display: inline-block;
    vertical-align: 1px;

    &-label {
      border: 1px solid $grey;
      border-radius: 4px;
      padding: 4px 6px 5px;
      color: $text-color;
    }
  }

  &-chat-message {
    &-content {
      margin-left: 40px;
      margin-top: 11px;
      span {
        font-size: 16px;
        color: $grey-dark;
      }
    }
    &-link {
      margin-left: 40px;
      margin-top: 13px;
      font-size: 14px;
      a {
        color: $grey;
      }
    }
  }

  blockquote {
    font-style: normal;
    background: white;
    padding: 0 1em;
    color: $grey-darkest;
    border: 0.25em solid $brand-primary;
    border-width: 0 0.25em 0 0.25em;
  }
}

.dp-po-ticket-attachments {
  background: $grey-lighter;
  border-radius: 4px;
  padding: 20px 30px 20px 70px;
  margin: 20px -30px -30px;

  &-title {
    color: $grey-dark;
    @include typo($s15);
    margin: 0 0 15px;
  }

  &-list {
    margin: 0 !important;
    padding: 0;
  }

  &-item {
    list-style: none;
    margin-top: 12px;
  }

  &-link {
    display: inline-flex;
    align-items: center;
    color: $brand-primary;

    &:hover {
      color: $brand-primary;
    }

    .dp-po-icon {
      margin: 0 0 0 10px;
      font-size: 22px;
    }
  }
}

.dp-po-ticket-close {
  $self: '.dp-po-ticket-close';

  &-btn {
    display: flex;
    align-items: center;
    border: 1px solid $brand-primary;
    background-color: $white;
    border-radius: 4px;
    @include typo($s23, 400, 'head');
    padding: 7px 20px;

    &:hover {
      text-decoration: none;
      background: $brand-primary;
      color: $white;

      .fa-envelope {

        .fa-secondary,
        .fa-primary {
          fill: $white;
        }
      }

      .fa-circle {
        color: $brand-primary;
      }
    }
  }

  .fa-layers {
    margin-right: 10px;
  }

  &.closed {
    #{$self}-btn {
      background-color: #fff;
      border-color: $grey-dark;
      color: $grey;
      &:hover {
        color: $grey;
        .fa-circle {
          color: #fff;
        }
      }
    }

    .fa-envelope {

      .fa-secondary,
      .fa-primary {
        fill: $grey;
      }
    }
  }
}

.dp-po-ticket-success {
  text-align: center;

  .footer {
    font-size: 14px;
  }
}

.dp-po-ticket-modal {

  .modal-content {
    overflow: hidden;
  }

  .modal-header {
    border: none;
  }

  &-header {
    margin: -30px -30px 0;
    padding: 20px 30px;
    @include typo($s23, 400, 'head');
    display: flex;
    align-items: center;
    background: $grey-lightest;
    width: calc(100% + 60px);

    .dp-po-icon {
      margin-right: 20px;
      font-size: 26px;
    }
  }

  &-body,
  &#closeConfirm {
    .form-group .radios {
      margin-top: 20px;

      label {
        font-weight: 400;
        width: 180px;

        span.label {
          display: inline-block;
          vertical-align: top;
        }
      }
    }


  }

  &-agent {
    display: flex;
    align-items: center;

    .dp-po-avatar {
      margin-right: 5px;
    }
  }

  &-rating {
    margin: -7px 0 5px;

    .dp-po-icon {
      font-size: 24px;
    }

    &-one {
      .dp-po-icon {

        &:nth-child(2),
        &:nth-child(3) {

          .fa-primary,
          .fa-secondary {
            fill: $grey-light;
          }
        }
      }
    }

    &-two {
      .dp-po-icon {
        &:nth-child(3) {

          .fa-primary,
          .fa-secondary {
            fill: $grey-light;
          }
        }
      }
    }
  }

  input[type=radio]:disabled~.label {
    .dp-po-ticket-modal-rating .dp-po-icon {

      .fa-primary,
      .fa-secondary {
        fill: $grey-light;
      }
    }
  }
}


