.dp-po-ButtonContainer-demo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.dp-po-ButtonContainer-demo .dp-Button {
  margin-bottom: 10px;
}

.dp-po-ButtonItem-demo {
  display: flex;
  width: 254px;
  flex-direction: column;
  margin: 0 12px 30px 0;
}

.Small--ButtonItem-demo {
  margin-right: 0;
  width: auto;
}

.dp-po-ButtonItem-demo .dp-po-Button:not(:last-child) {
  margin-bottom: 5px;
}

.dp-po-ButtonTitle-demo {
  font: var(--p-xxl);
  margin-bottom: 12px;
}

.dp-po-StateWrapper-demo {
  display: flex;
  flex-direction: column;
  width: 115px;
}

.dp-po-StateWrapper-demo .dp-po-ButtonTitle-demo {
  margin-bottom: 30px;
}

.dp-po-StateWrapper-demo + .dp-po-ButtonItem-demo {
  margin-top: 30px; 
}

.dp-po-ButtonState {
  color: var(--grey-dark);
  font: var(--h-s-semibold);
  margin-bottom: 27px;
  margin-right: 10px;
}

/*Hover*/

.dp-po-Button.Button--small.is-hover {
  background-color: rgba(58, 141, 222, 0.6);
}

.dp-po-Button.Button--secondary.is-hover {
  background-color: var(--grey-lighter);
}

.dp-po-Button.Button--medium.is-hover {
  background-color: rgba(211, 214, 215, 0.6);
}

.dp-po-Button.Button--large.is-hover {
  background-color: rgba(58, 141, 222, 0.6);
}

.Button--filter.is-hover {
  background-color: var(--grey-lightest);
}

.dp-po-Button.Button--icon.is-hover {
  background-color: var(--info-light);
  color: var(--brand-primary);
  border-color: var(--brand-primary);
}

.dp-po-Button.Button--small.Button--icon.is-hover {
  color: var(--white);
  background-color: var(--brand-primary);
}

.dp-po-Button.Button--texticon.is-hover {
  color: var(--white);
  background-color: var(--brand-primary); 
}

.split-button.is-hover li:first-child {
  background: rgba(58, 141, 222, 0.6);
}

.split-button.is-hover li:last-child {
  background: rgba(58, 141, 222, 0.4);
}

.dp-po-Button.is-hover .dp-po-Icon svg {
  fill: var(--white);
}
