.dp-po-nav {
	justify-content: space-between;
	padding: 10px 0;
}

.dp-po-nav,
.dp-po-nav-control ul {
	display: flex;
	align-items: center;
	list-style: none;
}

.dp-po-nav .dp-po-nav-control {
	margin: 0;
}

.dp-po-nav-control ul {
	padding: 0;
}

.dp-po-nav li,
.dp-po-nav-control li {
	margin: 0 30px 0 0;
}

.dp-po-nav .dp-po-Avatar-icon {
	margin-right: 11px;
}

.dp-po-Logo-wrap {
	display: flex;
	align-items: center;
}

.dp-po-Logo-wrap .dp-po-Icon {
	margin-right: 55px;
	position: relative;
}

.dp-po-nav .dp-po-Button {
	position: relative;
}

.dp-po-Logo-wrap .dp-po-Icon:after,
.dp-po-nav .dp-po-Button:after {
	content: "";
	position: absolute;
	top: 0;
	right: -15px;
	width: 1px;
	height: 100%;
	background-color: var(--grey-light);
}

.dp-po-Logo-wrap .dp-po-Icon:after {
	right: -25px;
}

.dp-po-Header-container {
	background: var(--brand-primary-gradient);
	padding: 100px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dp-po-Header-container .dp-po-Forms.dp-po-Search-bar input {
	margin: auto;
}

.dp-po-Select-Language {
	display: flex;
	align-items: center;
}

.dp-po-Select-Language .dp-po-Icon {
	margin-right: 10px;
}

.dp-po-Select-Language .dp-po-arrow {
	margin-left: 10px;
}
