.MessengerContainer-demo .dp-po-StateWrapper-demo {
	width: 200px;
}

.MessengerContainer-demo .dp-po-ButtonItem-demo {
	width: auto;
	margin: 0 30px 0px 0;
}

.MessengerContainer-demo .dp-po-StateWrapper-demo + .dp-po-ButtonItem-demo {
	margin-top: 50px;
}

.Button--medium.Button--messenger.is-hover {
	background-color: var(--info-light);
}

.dp-po-Button.Button--danger.is-hover {
	background-color: rgba(232, 73, 84, .7);
}

.dp-po-Button.Button--success.is-hover {
  background-color: rgba(84, 177, 98, .7);
}

.dp-po-Button.Button--ghost.Button--danger.is-hover {
	color: rgba(232, 73, 84, .7);
	background-color: transparent;
}

.dp-po-Button.Button--ghost.Button--success.is-hover {
  color: rgba(84, 177, 98, .7);
  background-color: transparent;
}