@import "../fonts.css";
@import "../vars.css";

/* Demo-Sorting-bar-class */

.demo-TableWrapper {
  overflow: auto;
}

.demo-TableWrapper .dp-po-Tableview {
  width: 1235px;
}

.demo-TableWrapper .dp-po-TableRow > div:first-child {
	width: 190px;
}

.demo-TableWrapper .dp-po-TableRow > div:nth-child(2) {
  width: 500px;
}

.demo-TableWrapper .dp-po-TableRow > div:nth-child(3),
.demo-TableWrapper .dp-po-TableRow > div:nth-child(4),
.demo-TableWrapper .dp-po-TableRow > div:nth-child(5) {
  width: 150px;
}

.demo-TableWrapper .dp-po-TableRow > div:nth-child(6) {
  width: 60px;
}

.demo-TableWrapper .dp-po-TableRow.TableRow--chat > div:first-child {
	width: 860px;
}

.demo-TableWrapper .dp-po-TableRow.TableRow--chat > div:nth-child(2) {
	width: 200px;
}

.demo-TableWrapper .dp-po-TableRow.TableRow--chat > div:last-child {
	justify-content: flex-end;
}
