/* arrow */

.dp-po-arrow {
	position: relative;
	display: inline-block;
	cursor: pointer;
	width: 8px;
	height: 12px;
}

.dp-po-arrow:before,
.dp-po-arrow:after {
	content: "";
	position: absolute;
	background-color: var(--grey);
	width: 1px;
	height: 7px;
}

.dp-po-arrow.arrow--brand-primary:before,
.dp-po-arrow.arrow--brand-primary:after {
	background-color: var(--brand-primary);
}

.dp-po-arrow:before {
	top: 0;
	left: 50%;
	transform: rotate(-45deg);
}

.dp-po-arrow:after {
	bottom: 0;
	left: 50%;
	transform: rotate(45deg);
}

.dp-po-arrow.arrow--left {
	transform: rotate(180deg);
}

.dp-po-arrow.arrow--bottom {
	transform: rotate(90deg);
}

.dp-po-arrow.arrow--top {
	transform: rotate(-90deg);
}

/*arrow avatars*/

.dp-po-Avatar .dp-po-arrow {
	width: 10px;
	height: 15px;
}

.dp-po-Avatar .dp-po-arrow:before,
.dp-po-Avatar .dp-po-arrow:after {
	height: 10px;
}

.dp-po-Avatar .dp-po-arrow:before {
	top: -2px;
}
