.dp-Bg-ColorDemonstration {
  display: flex;
  flex-wrap: wrap
}

.dp-Bg-ColorDemonstration > div {
  flex: 0 0 14%;
  display: flex;
  align-items: center;
  font: var(--s-2);
  color: #050505;
}

.dp-Bg-ColorDemonstration div > div {
  min-width: 40px;
  height: 40px;
  border-radius: 3px;
  margin: 6px;
}

.dp-Bg-ColorDemonstration h4 {
  width: 100%;
}

.dp-Bg-ColorDemonstration.Demonstration--border {
  border-bottom: 1px solid var(--grey-light);
  padding-bottom: 30px;
}

/* background color */

.Bg-Color--primary {
  background: var(--brand-primary);
}

.Bg-Color--grey-darkest {
  background: var(--grey-darkest);
}

.Bg-Color--grey-dark {
  background: var(--grey-dark);
}

.Bg-Color--darkest {
  background: var(--grey-dark);
}

.Bg-Color--grey {
  background: var(--grey);
}

.Bg-Color--grey-light {
  background: var(--grey-light);
}

.Bg-Color--grey-lighter {
  background: var(--grey-lighter);
}

.Bg-Color--grey-lightest {
  background: var(--grey-lightest);
}

.Bg-Color--danger {
  background: var(--danger);
}

.Bg-Color--warning {
  background: var(--warning);
}

.Bg-Color--neutral {
  background: var(--neutral);
}

.Bg-Color--success {
  background: var(--success);
}

.Bg-Color--info {
  background: var(--info);
}

.Bg-Color--pink {
  background: var(--pink);
}

.Bg-Color--purple {
  background: var(--purple);
}

.Bg-Color--danger-light {
  background: var(--danger-light);
}

.Bg-Color--warning-light {
  background: var(--warning-light);
}

.Bg-Color--neutral-light {
  background: var(--success-light);
}

.Bg-Color--success-light {
  background: var(--neutral-light);
}

.Bg-Color--info-light {
  background: var(--info-light);
}

.Bg-Color--pink-light {
  background: var(--pink-light);
}

.Bg-Color--purple-light {
  background: var(--purple-light);
}

/* background color */

.Bg-Gradients--fusia {
  background: linear-gradient(270deg, #E16AFF 0.91%, #DC68F8 14.56%, #CE61E5 34.18%, #B856C6 57.4%, #99469B 83.16%, #833B7C 99.46%);
}

.Bg-Gradients--violet {
  background: linear-gradient(270deg, #9E8EF1 0.87%, #9788E6 15.36%, #8477C9 40.73%, #665C9A 73.72%, #4B4471 99.5%);
}

.Bg-Gradients--indigo {
  background: linear-gradient(270deg, #6F88FC 0.87%, #6C85F8 20.01%, #617EEC 39.44%, #5071D7 59.01%, #3760BB 78.67%, #184A97 98.24%, #164894 99.5%);
}

.Bg-Gradients--blue {
  background: linear-gradient(90deg, #3467A4 0%, #3A8DDE 49.48%, #77B5E7 100%);
}

.Bg-Gradients--cyan {
  background: linear-gradient(270deg, #2FB1DB 0.87%, #2971AE 99.5%);
}

.Bg-Gradients--sea {
  background: linear-gradient(270deg, #8AF0FC 0.87%, #6EC6CF 31.41%, #2A5E5E 99.5%);
}

.Bg-Gradients--grass {
  background: linear-gradient(270deg, #31EAA6 0.91%, #34E59F 23.4%, #3DD88C 55.7%, #4BC36D 93.77%, #4DBF68 99.42%);
}

.Bg-Gradients--yellow {
  background: linear-gradient(270deg, #F5D16D 0.91%, #F5CC66 18.72%, #F4BD53 44.31%, #F3A534 74.44%, #F28D15 99.5%);
}

.Bg-Gradients--rust {
  background: linear-gradient(270deg, #FF8F6D 0.91%, #FB8966 19.14%, #F07953 45.33%, #DE5F34 76.18%, #CD4718 99.5%);
}

.Bg-Gradients--rose {
  background: linear-gradient(270deg, #FF4C85 0.99%, #F8497F 21.34%, #E5416D 50.57%, #C6334F 85.01%, #B72C41 99.5%);
}

/* color */

.Color--primary {
  color: var(--brand-primary);
}

.Color--grey-darkest {
  color: var(--grey-darkest);
}

.Color--grey-dark {
  color: var(--grey-dark);
}

.Color--darkest {
  color: var(--grey-dark);
}

.Color--grey {
  color: var(--grey);
}

.Color--grey-light {
  color: var(--grey-light);
}

.Color--grey-lighter {
  color: var(--grey-lighter);
}

.Color--grey-lightest {
  color: var(--grey-lightest);
}

.Color--danger {
  color: var(--danger);
}

.Color--warning {
  color: var(--warning);
}

.Color--neutral {
  color: var(--success);
}

.Color--success {
  color: var(--neutral);
}

.Color--info {
  color: var(--info);
}

.Color--pink {
  color: var(--pink);
}

.Color--purple {
  color: var(--purple);
}

.Color--danger-light {
  color: var(--danger-light);
}

.Color--warning-light {
  color: var(--warning-light);
}

.Color--neutral-light {
  color: var(--success-light);
}

.Color--success-light {
  color: var(--neutral-light);
}

.Color--info-light {
  color: var(--info-light);
}

.Color--pink-light {
  color: var(--pink-light);
}

.Color--purple-light {
  color: var(--purple-light);
}
