.dp-Bg-ColorDemonstration {
  display: flex;
  flex-wrap: wrap;
}

.dp-Bg-ColorDemonstration > div {
  align-items: center;
  color: #050505;
  display: flex;
  flex: 0 0 14%;
  font: var(--s-2);
}

.dp-Bg-ColorDemonstration div > div {
  border-radius: 3px;
  height: 40px;
  margin: 6px;
  min-width: 40px;
}

.dp-Bg-ColorDemonstration h4 {
  width: 100%;
}

.dp-Bg-ColorDemonstration.Demonstration--border {
  border-bottom: 1px solid var(--grey-light);
  padding-bottom: 30px;
}

/* background color */

.Bg-Color--primary {
  background: var(--brand-primary);
}

.Bg-Color--grey-darkest {
  background: var(--grey-darkest);
}

.Bg-Color--grey-dark {
  background: var(--grey-dark);
}

.Bg-Color--darkest {
  background: var(--grey-dark);
}

.Bg-Color--grey {
  background: var(--grey);
}

.Bg-Color--grey-light {
  background: var(--grey-light);
}

.Bg-Color--grey-lighter {
  background: var(--grey-lighter);
}

.Bg-Color--grey-lightest {
  background: var(--grey-lightest);
}

.Bg-Color--danger {
  background: var(--danger);
}

.Bg-Color--warning {
  background: var(--warning);
}

.Bg-Color--neutral {
  background: var(--neutral);
}

.Bg-Color--success {
  background: var(--success);
}

.Bg-Color--info {
  background: var(--info);
}

.Bg-Color--pink {
  background: var(--pink);
}

.Bg-Color--purple {
  background: var(--purple);
}

.Bg-Color--danger-light {
  background: var(--danger-light);
}

.Bg-Color--warning-light {
  background: var(--warning-light);
}

.Bg-Color--neutral-light {
  background: var(--success-light);
}

.Bg-Color--success-light {
  background: var(--neutral-light);
}

.Bg-Color--info-light {
  background: var(--info-light);
}

.Bg-Color--pink-light {
  background: var(--pink-light);
}

.Bg-Color--purple-light {
  background: var(--purple-light);
}

/* background color */

.Bg-Gradients--fusia {
  background: linear-gradient(270deg, #e16aff 0.91%, #dc68f8 14.56%, #ce61e5 34.18%, #b856c6 57.4%, #99469b 83.16%, #833b7c 99.46%);
}

.Bg-Gradients--violet {
  background: linear-gradient(270deg, #9e8ef1 0.87%, #9788e6 15.36%, #8477c9 40.73%, #665c9a 73.72%, #4b4471 99.5%);
}

.Bg-Gradients--indigo {
  background: linear-gradient(270deg, #6f88fc 0.87%, #6c85f8 20.01%, #617eec 39.44%, #5071d7 59.01%, #3760bb 78.67%, #184a97 98.24%, #164894 99.5%);
}

.Bg-Gradients--blue {
  background: linear-gradient(90deg, #3467a4 0%, #3a8dde 49.48%, #77b5e7 100%);
}

.Bg-Gradients--cyan {
  background: linear-gradient(270deg, #2fb1db 0.87%, #2971ae 99.5%);
}

.Bg-Gradients--sea {
  background: linear-gradient(270deg, #8af0fc 0.87%, #6ec6cf 31.41%, #2a5e5e 99.5%);
}

.Bg-Gradients--grass {
  background: linear-gradient(270deg, #31eaa6 0.91%, #34e59f 23.4%, #3dd88c 55.7%, #4bc36d 93.77%, #4dbf68 99.42%);
}

.Bg-Gradients--yellow {
  background: linear-gradient(270deg, #f5d16d 0.91%, #f5cc66 18.72%, #f4bd53 44.31%, #f3a534 74.44%, #f28d15 99.5%);
}

.Bg-Gradients--rust {
  background: linear-gradient(270deg, #ff8f6d 0.91%, #fb8966 19.14%, #f07953 45.33%, #de5f34 76.18%, #cd4718 99.5%);
}

.Bg-Gradients--rose {
  background: linear-gradient(270deg, #ff4c85 0.99%, #f8497f 21.34%, #e5416d 50.57%, #c6334f 85.01%, #b72c41 99.5%);
}

/* color */

.Color--primary {
  color: var(--brand-primary);
}

.Color--grey-darkest {
  color: var(--grey-darkest);
}

.Color--grey-dark {
  color: var(--grey-dark);
}

.Color--darkest {
  color: var(--grey-dark);
}

.Color--grey {
  color: var(--grey);
}

.Color--grey-light {
  color: var(--grey-light);
}

.Color--grey-lighter {
  color: var(--grey-lighter);
}

.Color--grey-lightest {
  color: var(--grey-lightest);
}

.Color--danger {
  color: var(--danger);
}

.Color--warning {
  color: var(--warning);
}

.Color--neutral {
  color: var(--success);
}

.Color--success {
  color: var(--neutral);
}

.Color--info {
  color: var(--info);
}

.Color--pink {
  color: var(--pink);
}

.Color--purple {
  color: var(--purple);
}

.Color--danger-light {
  color: var(--danger-light);
}

.Color--warning-light {
  color: var(--warning-light);
}

.Color--neutral-light {
  color: var(--success-light);
}

.Color--success-light {
  color: var(--neutral-light);
}

.Color--info-light {
  color: var(--info-light);
}

.Color--pink-light {
  color: var(--pink-light);
}

.Color--purple-light {
  color: var(--purple-light);
}
