.dp-po-Guides {
  border: 2px solid var(--grey-light);
  border-radius: 6px;
  max-width: 300px;
}

.dp-po-Guides-title {
  background-color: var(--info-light);
  border-bottom: 1px solid var(--grey-light);
  border-radius: 5px 5px 0 0;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.dp-po-Guides-content {
  color: var(--grey-darkest);
  font: var(--p-1);
  padding: 20px 20px 0;
}

.dp-po-Form {
  border-bottom: 1px solid var(--grey);
  padding: 0 0 20px;
}

.dp-po-Guides-select {
  position: relative;
}

.dp-po-Guides-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--grey-lighter);
  border: none;
  border-radius: 4px;
  color: var(--grey-darkest);
  font: var(--b-1-semibold);
  outline: none;
  padding: 7px 10px;
  width: 100%;
}

.dp-po-Guides-select::before {
  background: url('data:image/svg+xml,<svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.225 8.9L14.225 1.6C14.525 1.2 14.525 0.7 14.225 0.3C13.925 -0.1 13.325 -0.1 13.025 0.3L7.225 6.3L1.425 0.3C1.125 -0.1 0.525 -0.1 0.225 0.3C-0.075 0.7 -0.075 1.2 0.225 1.6L7.225 8.9Z" fill="%23FFFFFF"/></svg>') no-repeat center;
  content: "";
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  z-index: 2;
}

.dp-po-Guides-select::after {
  background-color: var(--brand-primary);
  border-left: 2px solid var(--white);
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  z-index: 1;
}

.dp-po-Guides-content .dp-po-Link {
  padding: 20px 0;
}

.dp-po-News-wrapper.dp-po-card-atom {
  background-color: var(--grey-lightest);
  padding: 0;
}

.dp-po-News-wrapper.dp-po-card-atom .dp-po-News {
  align-items: center;
  background-color: var(--grey-lightest);
  border-bottom: 1px solid var(--grey-light);
  justify-content: space-between;
  padding: 10px;
}

.dp-po-News-wrapper.dp-po-card-atom .dp-calendar {
  background-color: transparent;
  border: 0;
  display: flex;
}

.dp-po-News-wrapper.dp-po-card-atom .dp-calendar li {
  border: 0;
  padding: 0;
}

.dp-po-News-wrapper.dp-po-card-atom .dp-po-News-content {
  display: block;
  margin: 0;
  padding: 10px;
}

.dp-po-News-wrapper.dp-po-card-atom {
  background-color: var(--white);
}

.dp-po-News-wrapper.dp-po-card-atom .dp-po-title-item {
  font: var(--h-5-semibold);
  margin-bottom: 10px;
}

.dp-po-News-wrapper.dp-po-card-atom .dp-po-txt {
  font: var(--p-1);
  margin: 10px 0 0;
}

.dp-po-News-wrapper.dp-po-card-atom .dp-po-Avatar {
  border-top: 1px solid var(--grey);
  margin-top: 25px;
  padding-top: 11px;
}
