.dp-po-Dropdown-container.Dropdown--filter .dp-po-dropdown-atom {
  color: var(--grey-dark);
  display: flex;
  font: var(--h-5-medium);
  padding: 15px 19px 5px;
  position: relative;
}

.dp-po-Dropdown-container.Dropdown--filter {
  background-color: var(--grey-lighter);
  max-width: 300px;
}

.Dropdown--filter .dp-po-dropdown-atom::after {
  background-color: var(--brand-primary);
  content: "";
  height: 16px;
  left: 0;
  position: absolute;
  top: calc(50% - 3px);
  width: 2px;
}

.Dropdown--filter .dp-po-CustomCheckbox {
  padding: 0;
}

.Dropdown--filter .dp-po-dropdown-menu {
  padding: 0 0 15px;
}

.Dropdown--filter .dp-po-dropdown-menu .dp-po-dropdown-menu-item {
  background-color: transparent;
  padding: 5px 19px;
}

.Dropdown--filter .dp-po-dropdown-menu .dp-po-dropdown-menu-item:first-child {
  cursor: default;
}

.Dropdown--filter .dp-po-CustomCheckbox:hover {
  background-color: transparent;
}

.dp-po-dropdown-menu-item {
  color: var(--grey-dark);
  font: var(--p-2);
}

.Dropdown--filter .dp-po-filter-link {
  color: var(--grey-dark);
  position: relative;
}

.dp-po-filter-link.is-active {
  color: var(--brand-primary);
  text-decoration: underline;
}

.Dropdown--filter .dp-po-filter-link + .dp-po-filter-link {
  padding-left: 15px;
}

.Dropdown--filter .dp-po-filter-link + .dp-po-filter-link::after {
  background-color: var(--grey-dark);
  content: "";
  height: 100%;
  left: 5px;
  position: absolute;
  top: 0;
  width: 1px;
}

.Dropdown--filter .dp-po-filter-link:hover {
  color: var(--brand-primary);
  text-decoration: underline;
}

/* filter/select-date */

.Dropdown--select-date {
  overflow: hidden;
}

.Dropdown--select-date .dp-po-dropdown-menu-item {
  display: flex;
}

.Dropdown--select-date .dp-po-dropdown-menu-item span {
  flex: 0 0 30%;
  position: relative;
}

.Dropdown--select-date .dp-po-dropdown-menu-item span:first-child {
  flex: 0 0 40%;
}

.Dropdown--select-date .dp-po-dropdown-menu {
  position: relative;
}

.Dropdown--select-date .dp-po-dropdown-menu::after {
  background-color: var(--grey-light);
  content: "";
  height: 85%;
  left: 85px;
  position: absolute;
  top: 8px;
  width: 1px;
}

.Dropdown--select-date .dp-po-dropdown-menu .dp-po-dropdown-menu-item:hover {
  color: var(--grey-dark);
}

.Dropdown--select-date .dp-po-dropdown-menu-item .is-active {
  color: var(--brand-primary);
  font: var(--p-2-bold);
}

.Dropdown--filter .dp-po-count {
  background-color: var(--white);
  border-radius: 8px;
  color: var(--grey-darkest);
  font: var(--p-3);
  margin-left: 10px;
  padding: 0 4px;
}

/* filter/reset-category */

.Dropdown--Select-type .dp-po-filter-link {
  color: var(--brand-primary);
  text-orientation: none;
}

.Dropdown--Select-type .dp-po-filter-link:hover {
  text-decoration: none;
}

.Dropdown--Select-type .dp-po-dropdown-menu-item {
  margin-bottom: 10px;
}

.Dropdown--Select-type .dp-po-dropdown-menu {
  padding-top: 10px;
}

.Dropdown--Select-type .dp-po-dropdown-menu-item:not(:first-child) {
  color: var(--grey-dark);
  font: var(--p-3-bold);
}

.Dropdown--Select-type .dp-po-dropdown-menu-item:hover {
  color: var(--grey-dark);
  cursor: default;
}

.dp-po-dropdown-menu-item .dp-po-filter {
  margin-bottom: 10px;
}
