@include media-breakpoint-down(sm) {
  .dp-po-homepage {
    &-navigation {
      margin-bottom: 35px;
    }

    &-news {
      margin-bottom: 50px;

      .dp-po-block {
        padding: 0;
      }

      .dp-po-subscribe {
        margin-top: -40px;
      }
    }

    &-kb {
      margin-bottom: 50px;

      .dp-po-block {
        padding: 0;
      }

      .mb-4 {
        margin-bottom: 0 !important;
      }
    }

    &-community {
      margin-bottom: 50px;
    }

    .dp-po-title {
      display: flex;
      border-bottom: 1px solid $grey-light;

      &-link {
        display: flex;
        width: 100%;
      }

      &-text {
        margin-bottom: 10px;
      }
    }
  }

  .dp-po-community-channel-tags {
    position: absolute;
    left: 15px;
    z-index: 2;
    display: none;
    width: calc(100% - 30px);
    padding: 15px;
    background: $white;
    border: 1px solid $brand-primary;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .15);

    &-item {
      display: block;
      margin: 0 0 10px;

      &:last-child {
        margin: 0;
      }
    }

    &-link {
      padding: 0;
      font-size: $s18;
      background: none;
      border: none;
      border-radius: 0;

      &:hover {
        color: $brand-primary;
        text-decoration: underline;
        background: none;
      }
    }

    &-count {
      font-size: $s15;
      color: $grey-darkest;
    }
  }

  .dp-po-mobile-community-tags {
    position: absolute;
    top: 8px;
    right: 15px;
    display: block;

    &-link {
      display: inline-flex;
      flex-wrap: nowrap;
      align-items: center;
      @include typo($s16, 700, "body");

      .dp-po-icon {
        margin-right: 5px;
      }
    }
  }
}
