@include media-breakpoint-down(sm) {
  .dp-po-article {
    &-date {
      display: none;
    }

    &-comments {
      margin-left: 10px;
      position: relative;
      padding-left: 10px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        width: 1px;
        top: 2px;
        background: $grey;
      }
    }

    &-linktitle {
      align-items: start;

      .badge {
        margin-top: 5px;
      }
    }
  }
}
