@include media-breakpoint-down(sm) {
  .dp-po-article {
    &-date {
      display: none;
    }

    &-comments {
      position: relative;
      padding-left: 10px;
      margin-left: 10px;

      &::before {
        position: absolute;
        top: 2px;
        left: 0;
        width: 1px;
        height: 100%;
        content: "";
        background: $grey;
      }
    }

    &-item {
      .dp-po-time {
        position: absolute;
        right: 20px;
        bottom: 5px;
      }
    }

    &-linkauthor {
      strong {
        display: block;
        max-width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &-linktitle {
      align-items: start;

      .badge {
        margin-top: 5px;
      }
    }
  }

  .dp-po-knowledgebase-home {
    .mb-4 {
      margin-bottom: 0 !important;
    }
  }
}
