@media (min-width: 768px) and (max-width: 1440px) {
  .dp-po-news {
    &-head {
      display: flex;

      &-left {
        margin-right: 15px;
      }

      &-right {
        width: 100%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .dp-po-news {
    &-head {
      &-left {
        position: absolute;
        top: 6px;
      }

      &-right {
        .dp-po-title {
          padding-left: 70px;
          min-height: 85px;
          align-items: flex-start;

          svg {
            display: none;
          }
        }
      }
    }
  }
}
