@include media-breakpoint-down(sm) {
  .dp-po-ticket-block {
    padding-right: 0;
    padding-left: 0;
    border-right: none;
    border-bottom: 0;
    border-left: none;
    border-radius: 0;

    .badge-purple {
      left: 0;
    }

    .dp-po-time {
      right: 0;
    }

    &-timeline {
      display: block;
    }

    &-header {
      margin: -30px -15px 20px;
    }

    &-feedback {
      display: block;

      .dp-po-avatar {
        margin: 10px 0;
      }
    }

    &-rating {
      display: inline-block;
      margin-left: 10px;
    }

    &-status {
      margin-top: 20px;
      margin-left: 40px;
    }
  }

  .dp-po-ticket-attachments {
    padding: 20px 30px 20px 55px;
    margin: 20px -15px -30px;
    background: none;
  }
}
