@include media-breakpoint-down(sm) {
  .dp-po-table-ticket {
    $self: '.dp-po-table';

    #{$self}-row {
      padding: 15px 0 15px 20px;
    }

    #{$self}-cell {
      font-size: $s16;

      &-link {

      }
      &-indicator {
        left: 0;
      }
    }
  }
}
