@include media-breakpoint-down(sm) {
  .dp-po-your-account {
    $self: ".dp-po-your-account";

    .card {
      border: none;
    }

    .card-header {
      padding: 25px 0 15px;
      background: none;
      border-bottom: 2px solid $grey-light;

      .dp-po-icon {
        width: 15px;
        height: 27px;
        color: $brand-primary;
      }

      button,
      a.btn {
        justify-content: space-between;
        width: 100%;
        padding: 0;
        font-size: 22px;
        line-height: 130%;
        color: $grey-darkest;
        text-align: left;
      }
    }
    .collapse {
      margin-top: 15px;
    }
  }
}
