.dp-po-Avatar-icon {
  margin-left: 0;
}

.Avatar--circular-xl {
  height: 60px;
  width: 60px;
}

.Avatar--circular-l {
  height: 44px;
  width: 44px;
}

.Avatar--circular-m {
  height: 32px;
  width: 32px;
}

.Avatar--circular-s {
  height: 22px;
  width: 22px;
}

.Avatar--square-xs {
  height: 18px;
  width: 18px;
}
