.dp-po-card.Card--messenger {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: var(--shadow-bottom);
  padding: 20px;
}

.Card--messenger .dp-po-card-title {
  background-color: transparent;
  border-bottom: 2px solid var(--brand-primary);
  border-radius: 0;
  font: var(--messenger-h-2);
}

.Card--messenger.Card-medium .dp-po-card-title {
  border-bottom: 2px solid var(--grey);
}

.dp-po-Main-frame {
  background-color: var(--grey-lightest);
  border-radius: 4px;
  box-shadow: var(--shadow-bottom);
  display: flex;
  height: 540px;
  max-width: 380px;
  width: 100%;
}

.dp-po-frame-copyright {
  align-items: center;
  color: var(--grey-dark);
  display: flex;
  font: var(--messenger-p-3);
  justify-content: center;
  margin: auto auto 0;
  position: relative;
  width: 80%;
}

.dp-po-frame-copyright::before,
.dp-po-frame-copyright::after {
  background-color: var(--grey-light);
  content: "";
  display: block;
  height: 1px;
  position: absolute;

  /* top: 7.5px; */
  top: 50%;
  width: 68px;
}

.dp-po-frame-copyright::before {
  left: 0;
}

.dp-po-frame-copyright::after {
  right: 0;
}

.dp-po-frame-copyright .dp-po-Icon {
  background-size: 19px 20px;
  height: 20px;
  width: 20px;
}

.dp-po-copyright-deskpro {
  align-items: center;
  color: #1d3e55;
  display: flex;
  padding-left: 20px;
  position: relative;
}

.dp-po-copyright-deskpro::after {
  background-color: var(--grey-light);
  content: "";
  height: 80%;
  left: 10px;
  position: absolute;
  top: 0;
  width: 1px;
}
