.dp-po-News-wrapper {
	border: 2px solid var(--grey-light);
	border-radius: 6px;
	padding: 10px;
}

.dp-po-News-wrapper.is-active {
	border: 2px solid var(--brand-primary);
}

.dp-po-News {
	display: flex;
}

.dp-po-News .dp-po-list {
	flex: 0 1 100%;
}

.dp-po-News .dp-po-right-part {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.dp-po-News .dp-calendar {
	margin-right: 10px;
	flex: 0 0 auto;
}

.dp-po-News .dp-po-title-item {
	font: var(--h-3--medium);
	color: var(--grey-darkest);
	margin-bottom: 2px;
}

.dp-po-News .dp-po-subtitle {
	font: var(--h-6);
	color: var(--grey-darkest);
}

.dp-po-News .dp-po-list input {
	border-bottom: none;
	padding: 5px 0 0;
}

.dp-po-News .dp-po-list input::placeholder {
	color: var(--grey-darkest);
	font: var(--p-1);
}

.dp-po-News + .dp-po-arrow {
	display: flex;
	margin: -15px 0px 0px auto;
}

.dp-po-News-wrapper .dp-po-News-content {
	margin-left: 103px;
	color: var(--grey-darkest);
	font: var(--p-2);
	display: none;
}

.dp-po-arrow.is-active + .dp-po-News-content {
	display: block;
}

.dp-po-News-wrapper .dp-po-title {
	font: var(--h-3--medium);
}

.dp-po-article-title {
	color: var(--grey-darkest);
	font: var(--mh-3-medium);
	position: relative;
	display: flex;
	margin: 20px 0;
}

.dp-po-article-title:after {
	position: absolute;
	right: 0;
	left: 0;
	top: calc(50% - 2px);
	content: "";
	background-color: var(--brand-primary);
	width: 100%;
	height: 1px;
}

.dp-po-text-part {
	background-color: var(--white);
	z-index: 2;
	padding-right: 5px;
}

.dp-po-article-wrap .dp-po-buttons-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dp-po-article-wrap .Button--success {
	color: var(--success);
	background-color: transparent;
	border: 1.5px solid var(--success);
}

.dp-po-article-wrap .Button--danger {
	color: var(--danger);
	background-color: transparent;
	border: 1.5px solid var(--danger);
}

.dp-po-article-wrap .dp-po-Button .dp-po-Icon {
	background-size: 12px;
	margin-right: 5px;
}

.dp-po-article-wrap .dp-po-Button:hover {
	background-color: transparent;
}

.dp-po-article-wrap .dp-po-Button + .dp-po-Button {
	margin-left: 20px;
}

.dp-po-article-wrap .dp-po-description {
	display: flex;
	justify-content: center;
	color: var(--grey-dark);
	font: var(--p-2);
	padding: 20px 0 0;
}

.dp-po-article-title ~ .dp-po-Link {
	font: var(--p-1);
	line-height: 2;
}

.article--comments .dp-po-Icon {
	margin: 0 0 0 auto;
	padding: 14px;
	background-color: var(--grey-lightest);
	border-radius: 50%;
	z-index: 1;
	cursor: pointer;
}

.article--comments.dp-po-article-title:after {
	width: calc(100% - 35px);
}
