.dp-po-Dropdown-container.Dropdown--filter .dp-po-dropdown-atom {
	font: var(--h-5-medium);
	color: var(--grey-dark);
	position: relative;
	padding: 15px 19px 5px;
}

.dp-po-Dropdown-container.Dropdown--filter {
	max-width: 300px;
}

.Dropdown--filter .dp-po-dropdown-atom:after {
	position: absolute;
	content: "";
	left: 0;
	top: calc(50% - 8px;);
	background-color: var(--brand-primary);
	width: 2px;
	height: 16px;
}

.Dropdown--filter .dp-po-CustomCheckbox {
	padding: 0;
}

.Dropdown--filter .dp-po-dropdown-menu {
	padding: 0 0 15px;
}

.Dropdown--filter .dp-po-dropdown-menu .dp-po-dropdown-menu-item {
	padding: 5px 19px;
	background-color: transparent;
}

.Dropdown--filter .dp-po-dropdown-menu .dp-po-dropdown-menu-item:first-child {
	cursor: default;
}

.Dropdown--filter .dp-po-CustomCheckbox:hover {
	background-color: transparent;
}

.dp-po-dropdown-menu-item {
	font: var(--p-2);
	color: var(--grey-dark);
}

.Dropdown--filter .dp-po-filter-link {
	color: var(--grey-dark);
	position: relative;
}

.dp-po-filter-link.is-active {
	color: var(--brand-primary);
	text-decoration: underline;
}

.Dropdown--filter .dp-po-filter-link + .dp-po-filter-link {
	padding-left: 15px;
}

.Dropdown--filter .dp-po-filter-link + .dp-po-filter-link:after {
	content: "";
	position: absolute;
	top: 0;
	left: 5px;
	width: 1px;
	height: 100%;
	background-color: var(--grey-dark);
}

.Dropdown--filter .dp-po-filter-link:hover {
	color: var(--brand-primary);
	text-decoration: underline;
}

/*filter/select-date*/

.Dropdown--select-date {
	overflow: hidden;
}

.Dropdown--select-date .dp-po-dropdown-menu-item {
	display: flex;
}

.Dropdown--select-date .dp-po-dropdown-menu-item span {
	flex: 0 0 30%;
	position: relative;
}

.Dropdown--select-date .dp-po-dropdown-menu-item span:first-child {
	flex: 0 0 40%;
}

.Dropdown--select-date .dp-po-dropdown-menu {
	position: relative;
}

.Dropdown--select-date .dp-po-dropdown-menu:after {
	position: absolute;
	content: "";
	top: 8px;
	left: 85px;
	height: 85%;
	width: 1px;
	background-color: var(--grey-light);
}

.Dropdown--select-date .dp-po-dropdown-menu .dp-po-dropdown-menu-item:hover {
	color: var(--grey-dark);
}

.Dropdown--select-date .dp-po-dropdown-menu-item .is-active {
	color: var(--brand-primary);
	font: var(--p-2-bold);
}

.Dropdown--filter .dp-po-count {
	background-color: var(--white);
	font: var(--p-3);
	color: var(--grey-darkest);
	border-radius: 8px;
	padding: 0 4px;
	margin-left: 10px;
}

/*filter/reset-category*/

.Dropdown--Select-type .dp-po-filter-link {
	color: var(--brand-primary);
	text-orientation: none;
}

.Dropdown--Select-type .dp-po-filter-link:hover {
	text-decoration: none;
}

.Dropdown--Select-type .dp-po-dropdown-menu-item {
	margin-bottom: 10px;
}

.Dropdown--Select-type .dp-po-dropdown-menu {
	padding-top: 10px;
}

.Dropdown--Select-type .dp-po-dropdown-menu-item:not(:first-child) {
	color: var(--grey-dark);
	font: var(--p-3-bold);
}

.Dropdown--Select-type .dp-po-dropdown-menu-item:hover {
	color: var(--grey-dark);
	cursor: default;
}

.dp-po-dropdown-menu-item .dp-po-filter {
	margin-bottom: 10px;
}
