.Button--large.Button--messenger {
  max-height: 36px;
  min-width: 318px;
  padding: 0;
  font: var(--messenger-b-1);
}

.Button--medium.Button--messenger {
  min-width: 282px;
  color: var(--grey-darkest);
  font: var(--messenger-b-2);
  background-color: var(--white);
  border: 1.5px solid var(--brand-primary);
}

.Button--medium.Button--messenger:hover {
  background-color: var(--info-light);
}

.Button--small.Button--messenger {
  font: var(--messenger-b-2);
  min-width: 132px;
}

.dp-po-Button.Button--danger {
  background-color: var(--danger);
  color: var(--white);
  border: none;
  font: var(--messenger-b-2);
}

.dp-po-Button.Button--danger:hover {
  background-color: rgba(232, 73, 84, .7);
}

.dp-po-Button.Button--success {
  background-color: var(--success);
  color: var(--white);
  border: none;
  font: var(--messenger-b-2);
}

.dp-po-Button.Button--success:hover {
  background-color: rgba(84, 177, 98, .7);
}

.dp-po-Button.Button--xsmall {
  font: var(--messenger-b-2);
  min-width: 94px;
  max-height: 36px;
}

.dp-po-Button.Button--ghost,
.dp-po-Button.Button--ghost:hover {
  background-color: transparent;
}

.dp-po-Button.Button--ghost.Button--danger {
  color: var(--danger);
}

.dp-po-Button.Button--ghost.Button--danger:hover {
  color: rgba(232, 73, 84, .7);
}

.dp-po-Button.Button--ghost.Button--success {
  color: var(--success);
}

.dp-po-Button.Button--ghost.Button--success:hover {
  color: rgba(84, 177, 98, .7);
}